<!DOCTYPE html>

<html lang="es">

<head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <meta content="L1-G4" name="author" />
    <title>Página de {{artista.nombre}}</title>
    <link href="/static/css/base/style.css" rel="stylesheet" />
    <link href="/static/css/base/darkmode.css" rel="stylesheet" />
    <link href="/static/css/base/header.css" rel="stylesheet" />
    <link href="/static/css/base/footer.css" rel="stylesheet" />
    <link href="/static/css/shop/artista.css" rel="stylesheet" />
    <link href="/static/icons/favicons/favicon-96x96.png" rel="icon" sizes="96x96" type="image/png" />
    <link href="/static/icons/favicons/favicon.svg" rel="icon" type="image/svg+xml" />
    <link href="/static/icons/favicons/favicon.ico" rel="shortcut icon" />
    <link href="/static/icons/favicons/apple-touch-icon.png" rel="apple-touch-icon" sizes="180x180" />
    <meta content="UnderSounds" name="apple-mobile-web-app-title" />
    <link href="/static/icons/favicons/site.webmanifest" rel="manifest" />
</head>

<body>
    <div id="header-placeholder"></div>
    <canvas id="backgroundCanvas"></canvas>
    <main>
        {% if not artista.esVisible %}
        <div class="div-warn">
            <p>Esta página de artista está oculta y no es accesible al público. Solo tú puedes verla. Puedes cambiar esto en tu página de Studio.</p>
        </div>
        {% endif %}

        <div class="div-bg">
            <div class="artista-page">
                <section class="artista-top">
                    <div class="div-pannel artista-info">
                        <h2 class="artista-title">{{artista.nombre}}</h2>
                        <p><strong>Biografía:</strong> {{artista.bio}}</p>
                        <br>
                        <p><strong>Enlace social:</strong> <a href="{{ artista.url }}" target="_blank">{{ artista.url }}</a></p>
                        {% if artista.emailVisible %}
                        <p><strong>Email de contacto:</strong> {{artista.email}}</p>
                        {% endif %}
                        <br>
                        <p><strong>Número de singles subidos:</strong> {{singles|length}}</p>
                        <p><strong>Número de canciones (total) subidas:</strong> {{songs|length}}</p>
                        <p><strong>Número de álbumes subidos:</strong> {{albums|length}}</p>                        
                        <i>Artista de UnderSounds desde {{artista.fechaIngreso}}</i>
                        <div class="artista-buttons">
                            {% if tipoUsuario == 3 %}
                            <button class="btn" onclick="window.location.href='/studio';">Ir a Studio</button>
                            <button class="btn" onclick="window.location.href='/perfil';">Editar perfil</button>
                            {% endif %}
                        </div>
                    </div>
                    <div class="div-pannel artista-image">
                        <img alt="Portada del álbum Kamikaze" src="{{artista.imagen}}" />
                    </div>
                </section>
            </div>
            <section class="div-pannel song-list-section">
                <h2>Singles</h2>
                <div class="div-carrusel grid-entradas">

                    {% if singles and singles|length > 0 %}
                    {% for single in singles %}
                    <div class="div-pannel-sub item-element" style="margin-right: 1rem; margin-left: 1rem;">
                        <img src="{{ single.portada }}" class="foto-producto">
                        <p class="texto-producto">{{ single.titulo }}</p>
                        {% if single.colaboradores %}
                        <p class="texto-desc">{{ single.artista }} y {{ single.colaboradores }}</p>
                        {% else %}
                        <p class="texto-desc">{{ single.artista }}</p>
                        {% endif %}
                        <b class="texto-precio">{{ single.precio }}€</b>
                        <button class="button-comprar-item" onclick="window.location.href='/song?id={{ single.id }}';">Ir a la canción</button>
                    </div>
                    {% endfor %}
                    {% else %}
                    <i>No hay Singles por aquí...</i>
                    {% endif %}

                </div>
            </section>
            <br>
            <section class="div-pannel song-list-section">
                <h2>Albumes</h2>
                    <div class="div-carrusel grid-entradas">
                    {% if albums and albums|length > 0 %}
                    {% for album in albums %}
                    <div class="div-pannel-sub item-element" style="margin-right: 1rem; margin-left: 1rem;">
                        <img src="{{ album.portada }}" class="foto-producto">
                        <p class="texto-producto">{{ album.titulo }}</p>
                        {% if album.colaboradores %}
                        <p class="texto-desc">{{ album.autor }} y {{ album.colaboradores }}</p>
                        {% else %}
                        <p class="texto-desc">{{ album.autor }}</p>
                        {% endif %}
                        <b class="texto-precio">{{ album.precio }}€</b>
                        <button class="button-comprar-item" onclick="window.location.href='/album?id={{ album.id }}';">Ir al álbum</button>
                    </div>
                    {% endfor %}
                    {% else %}
                    <i>No hay Álbumes por aquí...</i>
                    {% endif %}
                </div>
            </section>
            <br>
            <section class="div-pannel song-list-section">
                <h2>Todas las canciones</h2>
                <div class="div-carrusel grid-entradas">
                    {% if songs and songs|length > 0 %}
                    {% for song in songs %}
                    <div class="div-pannel-sub item-element" style="margin-right: 1rem; margin-left: 1rem;">
                        <img src="{{ song.portada }}" class="foto-producto">
                        <p class="texto-producto">{{ song.titulo }}</p>
                        {% if song.colaboradores %}
                        <p class="texto-desc">{{ song.artista }} y {{ song.colaboradores }}</p>
                        {% else %}
                        <p class="texto-desc">{{ song.artista }}</p>
                        {% endif %}
                        <b class="texto-precio">{{ song.precio }}€</b>
                        <button class="button-comprar-item" onclick="window.location.href='/song?id={{ song.id }}';">Ir a la canción</button>
                    </div>
                    {% endfor %}
                    {% else %}
                    <i>No hay Canciones por aquí...</i>
                    {% endif %}
                </div>
            </section>
            <br>
            <br>
        </div>
    </main>
    <div id="footer-placeholder"></div>
    <script src="/static/js/header.js"></script>
    <script src="/static/js/footer.js"></script>
    <script src="/static/js/dark-mode.js"></script>
    <script src="/static/js/animations.js"></script>
</body>

</html>