<!DOCTYPE html>

<html lang="es">

<head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <meta content="L1-G4" name="author" />
    <title>{{album.titulo}} · {{album.autor}}</title>
    <link href="/static/css/base/style.css" rel="stylesheet" />
    <link href="/static/css/base/darkmode.css" rel="stylesheet" />
    <link href="/static/css/base/header.css" rel="stylesheet" />
    <link href="/static/css/base/footer.css" rel="stylesheet" />
    <link href="/static/css/shop/artista.css" rel="stylesheet" />
    <link href="/static/icons/favicons/favicon-96x96.png" rel="icon" sizes="96x96" type="image/png" />
    <link href="/static/icons/favicons/favicon.svg" rel="icon" type="image/svg+xml" />
    <link href="/static/icons/favicons/favicon.ico" rel="shortcut icon" />
    <link href="/static/icons/favicons/apple-touch-icon.png" rel="apple-touch-icon" sizes="180x180" />
    <meta content="UnderSounds" name="apple-mobile-web-app-title" />
    <link href="/static/icons/favicons/site.webmanifest" rel="manifest" />
</head>

<body>
    <div id="header-placeholder"></div>
    <main>
        <div class="div-bg">
            <div class="album-page">
                <section class="album-top">
                    <div class="div-pannel album-info">
                        <h2 class="album-title">{{album.titulo}}</h2>
                        <p><strong>Autor:</strong> {{album.autor}}</p>
                        <p><strong>Colaboradores:</strong> {{album.colaboradores}}</p>
                        <p><strong>Descripción:</strong> {{album.descripcion}}</p>
                        <p><strong>Fecha:</strong> {{album.fecha}}</p>
                        <p><strong>Géneros:</strong> {{album.generosStr}}</p> <!-- Este genero es especial -> Es un campo populado por los nombres de los generos, NO los IDs -->
                        <p><strong>Número de canciones en total:</strong> {{album.canciones|length}}</p>
                        <p><strong>Duración total:</strong> TODO</p> <!-- TODO: Hacer be-stream primero! y que los archivos tengan duración, no null! -->
                        <!-- TODO: No se le puede dar un like a un album! (Es esto a proposito?) -->
                        <p><strong>Visualizaciones:</strong> {{album.visitas}}</p>
                        <p><strong>Precio:</strong> {{album.precio}}€</p>
                        <div class="album-buttons">
                            {% if tipoUsuario >= 2 %}
                            <button class="btn">Descargar álbum</button> <!-- TODO en be-stream! -->
                            <button class="btn">Añadir a lista de reproducción</button> <!-- TODO: Necesitamos listas para eso! -->
                            {% elif tipoUsuario == 1 %}
                            <button class="btn">Comprar álbum</button> <!-- TODO ¡Que alguien lo enlace con carrito! -->
                            {% else %}
                            <button class="btn" onclick="window.location.href='/login';">Inicia sesión para comprar o descargar este álbum</button>
                            {% endif %}

                            {% if tipoUsuario == 3 %}
                            <button class="btn" onclick="window.location.href='/album-edit?id={{album.id}}';">Editar álbum</button>
                            {% endif %}
                        </div>
                    </div>
                    <div class="div-pannel album-image">
                        <img alt="Portada del álbum Kamikaze" src="{{album.portada}}" />
                    </div>
                </section>
            </div>
            <section class="div-pannel song-list-section">
                <h2>Singles</h2>
                <div class="song-grid-cards">

                </div>
            </section>
            <br>
            <section class="div-pannel song-list-section">
                <h2>Albumes</h2>
                <div class="song-grid-cards">

                </div>
            </section>
            <br>
            <section class="div-pannel song-list-section">
                <h2>Todas las canciones</h2>
                <div class="song-grid-cards">

                </div>
            </section>
        </div>
    </main>
    <div id="footer-placeholder"></div>
    <script src="/static/js/header.js"></script>
    <script src="/static/js/footer.js"></script>
    <script src="/static/js/dark-mode.js"></script>
</body>

</html>