<!DOCTYPE html>

<html lang="es">

<head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <meta content="L1-G4" name="author" />
    <title>Página de {{artista.nombre}}</title>
    <link href="/static/css/base/style.css" rel="stylesheet" />
    <link href="/static/css/base/darkmode.css" rel="stylesheet" />
    <link href="/static/css/base/header.css" rel="stylesheet" />
    <link href="/static/css/base/footer.css" rel="stylesheet" />
    <link href="/static/css/shop/artista.css" rel="stylesheet" />
    <link href="/static/icons/favicons/favicon-96x96.png" rel="icon" sizes="96x96" type="image/png" />
    <link href="/static/icons/favicons/favicon.svg" rel="icon" type="image/svg+xml" />
    <link href="/static/icons/favicons/favicon.ico" rel="shortcut icon" />
    <link href="/static/icons/favicons/apple-touch-icon.png" rel="apple-touch-icon" sizes="180x180" />
    <meta content="UnderSounds" name="apple-mobile-web-app-title" />
    <link href="/static/icons/favicons/site.webmanifest" rel="manifest" />
</head>

<body>
    <div id="header-placeholder"></div>
    <main>
        <div class="div-bg">
            <div class="artista-page">
                <section class="artista-top">
                    <div class="div-pannel artista-info">
                        <h2 class="artista-title">{{artista.nombre}}</h2>
                        <p><strong>Biografía:</strong> {{artista.bio}}</p>
                        <p><strong>Enlace social:</strong> {{artista.url}}</p>
                        {% if artista.emailVisible %}
                        <p><strong>Email de contacto:</strong> {{artista.email}}</p>
                        {% endif %}
                        <br>
                        <p><strong>Número de singles subidos:</strong> {{singles|length}}</p>
                        <p><strong>Número de canciones (total) subidas:</strong> {{songs|length}}</p>
                        <p><strong>Número de álbumes subidos:</strong> {{albums|length}}</p>                        
                        <p><strong>Artista de UnderSounds desde</strong> {{artista.fechaIngreso}}</p>
                        <div class="artista-buttons">
                            {% if tipoUsuario == 3 %}
                            <button class="btn" onclick="window.location.href='/studio';">Ir a Studio</button>
                            <button class="btn" onclick="window.location.href='/perfil';">Editar perfil</button>
                            {% endif %}
                        </div>
                    </div>
                    <div class="div-pannel artista-image">
                        <img alt="Portada del álbum Kamikaze" src="{{artista.imagen}}" />
                    </div>
                </section>
            </div>
            <section class="div-pannel song-list-section">
                <h2>Singles</h2>
                <div class="div-carrusel grid-entradas">

                    {% for single in singles %}
                    <div class="div-pannel-sub" style="margin-right: 1rem; margin-left: 1rem;">
                        <img src="{{ single.portada }}" class="foto-producto">
                        <p class="texto-producto">{{ single.titulo }}</p>
                        {% if single.colaboradores %}
                        <p class="texto-desc">{{ single.artista }} y {{ single.colaboradores }}</p>
                        {% else %}
                        <p class="texto-desc">{{ single.artista }}</p>
                        {% endif %}
                        <b class="texto-precio">{{ single.precio }}€</b>
                        <button class="button-comprar-item" onclick="window.location.href='/song?id={{ single.id }}';">Ir a la canción</button>
                    </div>
                    {% endfor %}

                </div>
            </section>
            <br>
            <section class="div-pannel song-list-section">
                <h2>Albumes</h2>
                <div class="song-grid-cards">

                </div>
            </section>
            <br>
            <section class="div-pannel song-list-section">
                <h2>Todas las canciones</h2>
                <div class="song-grid-cards">

                </div>
            </section>
        </div>
    </main>
    <div id="footer-placeholder"></div>
    <script src="/static/js/header.js"></script>
    <script src="/static/js/footer.js"></script>
    <script src="/static/js/dark-mode.js"></script>
</body>

</html>