<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8"> <!-- Codificación de caracteres -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> <!-- Escalabilidad de la página -->
    <meta name="author" content="L1-G4">
    <title>Merchandising</title> <!-- Título que aparece en la pestaña del navegador -->
    <!-- Estilos -->
    <link rel="stylesheet" href="/static/css/base/style.css"> <!-- Hoja de estilos principal -->
    <link rel="stylesheet" href="/static/css/base/darkmode.css"> <!-- Hoja de estilo de modo oscuro -->
    <link rel="stylesheet" href="/static/css/base/header.css"> <!-- Hoja de estilo del header -->
    <link rel="stylesheet" href="/static/css/base/footer.css"> <!-- Hoja de estilo del footer -->
    <link rel="stylesheet" href="/static/css/shop/merch.css"> <!-- Hoja de estilo de la tienda -->
    <!-- Favicon -->
    <link rel="icon" type="image/png" href="/static/icons/favicons/favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/svg+xml" href="/static/icons/favicons/favicon.svg" />
    <link rel="shortcut icon" href="/static/icons/favicons/favicon.ico" />
    <link rel="apple-touch-icon" sizes="180x180" href="/static/icons/favicons/apple-touch-icon.png" />
    <meta name="apple-mobile-web-app-title" content="UnderSounds" />
    <link rel="manifest" href="/static/icons/favicons/site.webmanifest" />
</head>

<body>

    <!-- Barra de navegación -->
    <div id="header-placeholder"></div>

    <!-- Contenido principal -->
    <main>
        <section>
            <h1>Stromae</h1>
            <br>
            <h2><i>Merchandising</i></h2>
            <br>
            <div class="div-pannel">
                <div class="div-carrusel grid-entradas"
                    style="display: flex; flex-direction: row; width: 100%; justify-content: space-evenly;">
                    <div style="margin-right: 1rem; margin-left: 1rem;">
                        <img src="/static/img/merch/shirt.webp" class="foto-producto">
                        <p class="texto-producto">Camiseta</p>
                        <p><b>10,99€</b></p>
                        <button class="button-comprar-item">Añadir</button>
                    </div>

                    <div style="margin-right: 1rem; margin-left: 1rem;">
                        <img src="/static/img/merch/sweatshirt.webp" class="foto-producto">
                        <p class="texto-producto">Sudadera</p>
                        <p><b>12,50€</b></p>
                        <button class="button-comprar-item">Añadir</button>
                    </div>

                    <div style="margin-right: 1rem; margin-left: 1rem;">
                        <img src="/static/img/merch/poster.webp" class="foto-producto">
                        <p class="texto-producto">Póster</p>
                        <p><b>8,99€</b></p>
                        <button class="button-comprar-item">Añadir</button>
                    </div>

                    <div style="margin-right: 1rem; margin-left: 1rem;">
                        <img src="/static/img/merch/socks.webp" class="foto-producto">
                        <p class="texto-producto">Calcetines</p>
                        <p><b>3,99€</b></p>
                        <button class="button-comprar-item">Añadir</button>
                    </div>
                </div>
            </div>
            <br>
            <h2><i>Álbumes</i></h2>
            <br>
            <div class="div-pannel">
                <div class="div-carrusel grid-entradas"
                    style="display: flex; flex-direction: row; width: 100%; justify-content: space-evenly;">
                    <div style="margin-right: 1rem; margin-left: 1rem;">
                        <img src="/static/img/artists/stromae-album-01.webp" class="foto-producto">
                        <p class="texto-producto">Mixture Elecstro</p>
                        <p><b>25,99€</b></p>
                        <button class="button-comprar-item">Añadir</button>
                    </div>

                    <div style="margin-right: 1rem; margin-left: 1rem;">
                        <img src="/static/img/artists/stromae-album-02.webp" class="foto-producto">
                        <p class="texto-producto">Multitude</p>
                        <p><b>31,99€</b></p>
                        <button class="button-comprar-item">Añadir</button>
                    </div>

                    <div style="margin-right: 1rem; margin-left: 1rem;">
                        <img src="/static/img/artists/stromae-album-03.webp" class="foto-producto">
                        <p class="texto-producto">Racine carrée</p>
                        <p><b>30,99€</b></p>
                        <button class="button-comprar-item">Añadir</button>
                    </div>

                    <div style="margin-right: 1rem; margin-left: 1rem;">
                        <img src="/static/img/artists/stromae-album-04.webp" class="foto-producto">
                        <p class="texto-producto">Cheese</p>
                        <p><b>28,99€</b></p>
                        <button class="button-comprar-item">Añadir</button>
                    </div>
                </div>
            </div>
            <br>
            <h2><i>Canciones</i></h2>
            <br>
            <div class="div-pannel">
                <div class="div-carrusel grid-entradas"
                    style="display: flex; flex-direction: row; width: 100%; justify-content: space-evenly;">
                    <div style="margin-right: 1rem; margin-left: 1rem;">
                        <a href="/song"><img src="/static/img/artists/stromae-song-01.webp"
                                class="foto-producto"></a>
                        <p class="texto-producto">Ma Meilleure Ennemie</p>
                        <p><b>5,99€</b></p>
                        <button class="button-comprar-item">Añadir</button>
                    </div>

                    <div style="margin-right: 1rem; margin-left: 1rem;">
                        <a href="/song"><img src="/static/img/artists/stromae-song-02.webp"
                                class="foto-producto"></a>
                        <p class="texto-producto">Formidable</p>
                        <p><b>5,99€</b></p>
                        <button class="button-comprar-item">Añadir</button>
                    </div>

                    <div style="margin-right: 1rem; margin-left: 1rem;">
                        <a href="/song"><img src="/static/img/artists/stromae-song-03.webp"
                                class="foto-producto"></a>

                        <p class="texto-producto">Papaoutai</p>
                        <p><b>7,99€</b></p>
                        <button class="button-comprar-item">Añadir</button>
                    </div>

                    <div style="margin-right: 1rem; margin-left: 1rem;">
                        <a href="/song"><img src="/static/img/artists/stromae-song-04.webp"
                                class="foto-producto"></a>
                        <p class="texto-producto">Santé</p>
                        <p><b>4,99€</b></p>
                        <button class="button-comprar-item">Añadir</button>
                    </div>
                </div>
            </div>
        </section>
    </main>

    <!-- Pie de página -->
    <div id="footer-placeholder"></div>

    <!-- Scripts -->
    <script src="/static/js/header.js"></script>
    <script src="/static/js/footer.js"></script>
    <script src="/static/js/dark-mode.js"></script>

</body>

</html>