<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8"> <!-- Codificación de caracteres -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> <!-- Escalabilidad de la página -->
    <meta name="author" content="L1-G4">
    <title>UnderSounds</title> <!-- Título que aparece en la pestaña del navegador -->
    <!-- Estilos -->
    <link rel="stylesheet" href="/static/css/base/style.css"> <!-- Hoja de estilos principal -->
    <link rel="stylesheet" href="/static/css/base/darkmode.css"> <!-- Hoja de estilo de modo oscuro -->
    <link rel="stylesheet" href="/static/css/base/header.css"> <!-- Hoja de estilo del header -->
    <link rel="stylesheet" href="/static/css/base/footer.css"> <!-- Hoja de estilo del footer -->
    <link rel="stylesheet" href="/static/css/shop/purchased.css"> <!-- Hoja de estilo de la página de compra -->
    <!-- Favicon -->
    <link rel="icon" type="image/png" href="/static/icons/favicons/favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/svg+xml" href="/static/icons/favicons/favicon.svg" />
    <link rel="shortcut icon" href="/static/icons/favicons/favicon.ico" />
    <link rel="apple-touch-icon" sizes="180x180" href="/static/icons/favicons/apple-touch-icon.png" />
    <meta name="apple-mobile-web-app-title" content="UnderSounds" />
    <link rel="manifest" href="/static/icons/favicons/site.webmanifest" />
</head>

<body>

    <!-- Barra de navegación -->
    <div id="header-placeholder"></div>
    <canvas id="backgroundCanvas"></canvas>

    <!-- Contenido principal -->
    <main>
        <div class="div-bg">
            <div class="div-pannel-sub"
                style="width: 60%; margin: 0px; padding: 0px; align-items: center; margin-top: 1rem; margin-bottom: 1rem;">
                <br>
                <h3>Su compra ha sido realizada con éxito</h3>
                <br>
                <div class="box-button">
                    <a href="/cart" style="width: 30%; height: 3rem;"><button class="compra-button">Volver al carrito</button></a>
                    <a href="/" style="width: 30%; height: 3rem;"><button class="compra-button">Seguir comprando</button></a>
                </div>
                <br>
            </div>
            <br>
            <br>
            <div class="div-pannel"
                style="width: 80%; margin: 0px; padding: 0px; align-items: center; margin-top: 1rem; margin-bottom: 1rem;">
                <br>
                {% set canciones_no_en_biblioteca = [] %}
                {% for item in songs|reverse %}
                    {% if item.id not in usuario.biblioteca %}
                        {% set _ = canciones_no_en_biblioteca.append(item) %}
                    {% endif %}
                {% endfor %}
                <h3><i>Podría gustarte</i></h3>
                <div class="div-carrusel div-pannel">

                    {% for item in canciones_no_en_biblioteca[:4] %}
                        <div style="margin: 0 3rem;">
                            <img src="{{ item.portada }}" onclick="window.location.href='/song?id={{ item.id }}'"
                                class="foto-artista">
                            <p class="texto-producto">{{ item.titulo }}</p>

                            <form action="/cart" method="post">
                                <input type="hidden" name="action" value="add">
                                <input type="hidden" name="item_id" value="{{ item.id }}">
                                <input type="hidden" name="item_titulo" value="{{ item.titulo }}">
                                <input type="hidden" name="item_portada" value="{{ item.portada }}">
                                <input type="hidden" name="artist_name" value="{{ item.artista }}">
                                <input type="hidden" name="item_desc" value="{{ item.descripcion }}">
                                <input type="hidden" name="item_precio" value="{{ item.precio }}">
                                <button type="submit" class="button-comprar-item">Añadir</button>
                            </form>
                        </div>
                    {% endfor %}
                </div>
                <br>
            </div>
        </div>
    </main>

    <!-- Pie de página -->
    <div id="footer-placeholder"></div>

    <!-- Scripts -->
    <script src="/static/js/header.js"></script>
    <script src="/static/js/footer.js"></script>
    <script src="/static/js/dark-mode.js"></script>
    <script src="/static/js/animations.js"></script>

</body>

</html>