# Ignorar caché de Python
__pycache__/
*.pyc
*.pyo
*$py.class

# Ignorar entornos virtuales locales
venv/
.env/
env/

# Ignorar archivos de configuración local
*.env
*.local
*.log

# Ignorar configuraciones de editores
.vscode/
.idea/

# Ignorar directorios de construcción
build/
dist/
*.egg-info/
pip-wheel-metadata/
__pypackages__/

# Ignorar archivos del sistema
.DS_Store
Thumbs.db