<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8"> <!-- Codificación de caracteres -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> <!-- Escalabilidad de la página -->
    <meta name="author" content="L1-G4">
    <title>Registro</title> <!-- Título que aparece en la pestaña del navegador -->
    <!-- Estilos -->
    <link rel="stylesheet" href="/static/css/base/style.css"> <!-- Hoja de estilos principal -->
    <link rel="stylesheet" href="/static/css/base/darkmode.css"> <!-- Hoja de estilo de modo oscuro -->
    <link rel="stylesheet" href="/static/css/auth/register.css"> <!-- Hoja de estilo para la página de registro -->
    <!-- Favicon -->
    <link rel="icon" type="image/png" href="/static/icons/favicons/favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/svg+xml" href="/static/icons/favicons/favicon.svg" />
    <link rel="shortcut icon" href="/static/icons/favicons/favicon.ico" />
    <link rel="apple-touch-icon" sizes="180x180" href="/static/icons/favicons/apple-touch-icon.png" />
    <meta name="apple-mobile-web-app-title" content="UnderSounds" />
    <link rel="manifest" href="/static/icons/favicons/site.webmanifest" />
    <script src="https://www.gstatic.com/firebasejs/9.6.10/firebase-app-compat.js"></script>
    <script src="https://www.gstatic.com/firebasejs/9.6.10/firebase-auth-compat.js"></script>
</head>

<body class="auth-page">
    <main>
        <canvas id="backgroundCanvas"></canvas>
        <button onclick="window.history.back()" class="button-back">←</button>

        <div class="div-pannel-sub">
            <br>
            <h1>Registrarse en <span>UnderSounds</span></h1>
            <br>
            <button id="google-register" type="button" class="button-alt">Registrarse con Google</button>
            <br>
            <hr>
            <form id="register-form" class="form" action="/profile" method="get">
                <label for="username">Nombre de usuario</label>
                <input type="text" id="username" name="username" placeholder="Nombre de usuario">
                <br>
                <label for="email">Correo electrónico</label>
                <input type="email" id="email" name="email" placeholder="Correo electrónico">
                <br>
                <label for="password">Contraseña</label>
                <input type="password" id="password" name="password" placeholder="Contraseña">
                <br>
                <label for="passwordVerify">Reescribir contraseña</label>
                <input type="password" id="passwordVerify" name="passwordVerify" placeholder="Contraseña">
                <br>
                <br>
                <label for="esArtista">
                    <input type="checkbox" id="esArtista" name="esArtista">
                    Registrarse como artista
                </label>
                <br>
                <button type="submit">Continuar</button>
            </form>
            <br>
        </div>
        <!-- ✅ Botón para cambiar el modo de contraste -->
        <button class="contrast-btn" aria-label="Cambiar modo oscuro/claro">
            <img src="/static/icons/site/day-night-icon.svg" alt="Modo claro/oscuro" width="24" height="24">
        </button>
    </main>

    <script>
        const firebaseConfig = {
            apiKey: "{{ API_CREDENTIALS.API_KEY }}",
            authDomain: "{{ API_CREDENTIALS.AUTH_DOMAIN }}",
            projectId: "{{ API_CREDENTIALS.PROJECT_ID }}",
            storageBucket: "{{ API_CREDENTIALS.STORAGE_BUCKET }}",
            messagingSenderId: "{{ API_CREDENTIALS.MESSAGING_SENDER_ID }}",
            appId: "{{ API_CREDENTIALS.APP_ID }}",
        };

        const app = firebase.initializeApp(firebaseConfig);
        const auth = firebase.auth();

        document.getElementById("register-form").addEventListener("submit", function (event) {
            event.preventDefault();
            const username = document.getElementById("username").value;
            const email = document.getElementById("email").value;
            const password = document.getElementById("password").value;
            const esArtista = document.getElementById("esArtista").checked;
            console.log("Usuario " + email + " registrándose...");

            firebase.auth().createUserWithEmailAndPassword(email, password)
                .then(userCredential => {
                    const user = userCredential.user;
                    return user.getIdToken();
                })
                .then(token => {
                    console.log("Token obtenido: " + token);
                    return fetch("/register-credentials", {
                        method: "POST",
                        headers: { "Content-Type": "application/json" },
                        body: JSON.stringify({ token, username, esArtista })
                    });
                })
                .then(response => response.json())
                .then(data => {
                    if (data.success) {
                        window.location.href = "/profile";
                    } else {
                        throw new Error(data.error || "Ocurrió un error desconocido");
                    }
                })
                .catch(error => {
                    console.error("Error durante el registro de credenciales:", error.code, error.message);
                    displayMessage('error', "Error durante el registro: " + error.message);
                });
        });

        document.getElementById("google-register").addEventListener("click", function () {
            const provider = new firebase.auth.GoogleAuthProvider();
            const esArtista = document.getElementById("esArtista").checked;
            console.log("Usuario registrándose con Google...");
            auth.signInWithPopup(provider)
            .then(result => result.user.getIdToken())
            .then(token => {
                console.log("Token del usuario: ", token);
                console.log("Solicitando acceso a la API...");
                return fetch("/register-google", {
                method: "POST",
                headers: { "Content-Type": "application/json" },
                body: JSON.stringify({ token, esArtista })
                });
            })
            .then(async response => {
            const data = await response.json();
            if (response.ok) {
                    return data;
                } else {
                    throw new Error(data.error || "Ocurrió un error desconocido");
                }
            })
            .then(data => {
                if (data.success) {
                window.location.href = "/profile";
                } else {
                throw new Error(data.error || "Ocurrió un error desconocido");
                }
            })
            .catch(error => {
                console.error("Error durante el registro con Google:", error);
                displayMessage('error', "Error durante el registro con Google: " + error.message);
            });
        });
        
    </script>

    <!-- Scripts -->
    <script src="/static/js/dark-mode.js"></script>
    <script src="/static/js/animations.js"></script>
    <script src="/static/js/displayMessage.js"></script> <!-- Script para el encabezado de la página -->
</body>

</html>