.artista-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2.5rem;
    padding: 2.5rem 1.25rem;
    width: 80%;
    margin: auto;
}

.artista-top {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: space-between;
    align-items: flex-start;
    min-width: auto;
    max-width: 80%;
}

.artista-info {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 0.625rem;
    width: auto;
}

.artista-title {
    font-size: 1.75rem;
}

.dark-mode .artista-title {
    color: white;
}

.artista-buttons {
    display: flex;
    gap: 0.5rem;
    margin-top: 0.75rem;
}

.artista-buttons button {
    padding: 0.4rem 1rem;
    font-size: 0.9rem;
    border-radius: 8px;
}

.artista-image {
    width: 250px;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f4f4f4;
    border-radius: 10px;
    box-shadow: 0 0 10px #00000022;
    padding: 1rem;
}

.artista-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.song-list-section {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    width: 80%;
}

.song-grid-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
    gap: 1.5rem;
    width: 100%;
}

.div-carrusel {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;
}


.button-comprar-item {
    display: block;
    margin: 0 auto;
    padding: 0.5rem 1rem;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.button-comprar-item:hover {
    background-color: #0056b3;
}

.grid-entradas {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;
    border: 2px solid black;
    border-radius: 10px;
    padding: 2%;
}

.foto-producto {
    height: auto;
    width: 160px;
    aspect-ratio: 1;
    border-radius: 15px;  /* Esto hace la imagen con bordes circulares */
    object-fit: cover;   /* Ajusta la imagen sin deformarla */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);  /* Sombra suave */
    margin-bottom: 5px;  
    justify-self: center;
    align-self: center;
}

.foto-producto:hover {
    transform: scale(1.05);
    transition: 0.4s;
}

.texto-producto {
    font-size: 1.2rem;
    text-align: center;  
 }

.texto-desc {
    font-size: 1rem;
    text-align: center;
    font-style: italic;
}

.texto-precio {
    font-size: 1.5rem;
    text-align: center;
    font-weight: bold;
    margin-bottom: 10px;
    margin-top: 3px;
}

.item-element {
    min-width: 14rem;
}