body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('/static/img/utils/tpv-background.webp');
    background-size: cover;
    background-position: center;
}

.timer {
    font-size: 20px;
    font-weight: bold;
    background: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border: 1px solid #ddd;
    padding: 10px;
    margin-top: 30vh;
}
