<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8"> <!-- Codificación de caracteres -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> <!-- Escalabilidad de la página -->
    <meta name="author" content="L1-G4">
    <title>Editar Álbum</title> <!-- Título que aparece en la pestaña del navegador -->
    <!-- Estilos -->
    <link rel="stylesheet" href="/static/css/base/style.css"> <!-- Hoja de estilos principal -->
    <link rel="stylesheet" href="/static/css/base/darkmode.css"> <!-- Hoja de estilo de modo oscuro -->
    <link rel="stylesheet" href="/static/css/base/header.css"> <!-- Hoja de estilo del header -->
    <link rel="stylesheet" href="/static/css/base/footer.css"> <!-- Hoja de estilo del footer -->
    <link rel="stylesheet" href="/static/css/music/album-edit.css">
    <!-- Hoja de estilo de la página de edición de álbumes -->
    <!-- Favicon -->
    <link rel="icon" type="image/png" href="/static/icons/favicons/favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/svg+xml" href="/static/icons/favicons/favicon.svg" />
    <link rel="shortcut icon" href="/static/icons/favicons/favicon.ico" />
    <link rel="apple-touch-icon" sizes="180x180" href="/static/icons/favicons/apple-touch-icon.png" />
    <meta name="apple-mobile-web-app-title" content="UnderSounds" />
    <link rel="manifest" href="/static/icons/favicons/site.webmanifest" />
</head>

<body>

    <!-- Barra de navegación -->
    <div id="header-placeholder"></div>

    <!-- Contenido principal -->
    <main>
        <div class="div-bg">
            <br>
            <div class="div-pannel upload-page">
                <h1 class="upload-title">Editar Álbum ({{ album.titulo }})</h1>

                <form class="upload-form">
                    <div class="div-pannel-sub upload-group" style="width: auto;">
                        <label for="title">Título</label>
                        <input type="text" id="title" name="title" placeholder="Título del álbum" value="{{ album.titulo }}">

                        <label for="album">Autor</label>
                        <input type="text" id="author" name="author" placeholder="Autor del álbum" value="{{ album.autor }}">

                        <label for="collaborators">Colaboradores</label>
                        <input type="text" id="collaborators" name="collaborators" placeholder="Separados por coma"
                            value="{{ album.colaboradores }}">

                        <label for="album">Descripción</label>
                        <textarea id="desc" name="desc" rows="6" cols="40" style="resize: none;" placeholder="Descripción del álbum">{{ album.descripcion }}</textarea>
                    </div>

                    <div class="div-pannel-sub upload-checkbox-container" style="width:auto;">
                        <h2>Géneros y Subgéneros</h2>

                        <div style="display: flex; gap: 40px;">
                            <!-- Géneros -->
                            <div>
                                <h3>Géneros</h3>
                                <div class="checkbox-item">
                                    <input type="checkbox" id="rock" {% if "Rock" in album.generos %} checked {% endif %}>
                                    <label for="rock">Rock</label>
                                </div>
                                <div class="checkbox-item">
                                    <input type="checkbox" id="pop" {% if "Pop" in album.generos %} checked {% endif %}>
                                    <label for="pop">Pop</label>
                                </div>
                                <div class="checkbox-item">
                                    <input type="checkbox" id="metal" {% if "Metal" in album.generos %} checked {% endif %}>
                                    <label for="metal">Metal</label>
                                </div>
                                <div class="checkbox-item">
                                    <input type="checkbox" id="jazz" {% if "Jazz" in album.generos %} checked {% endif %}>
                                    <label for="jazz">Jazz</label>
                                </div>
                                <div class="checkbox-item">
                                    <input type="checkbox" id="blues" {% if "Blues" in album.generos %} checked {% endif %}>
                                    <label for="blues">Blues</label>
                                </div>
                                <div class="checkbox-item">
                                    <input type="checkbox" id="flamenco" {% if "Flamenco" in album.generos %} checked {% endif %}>
                                    <label for="flamenco">Flamenco</label>
                                </div>
                            </div>

                            <!-- Subgéneros -->
                            <div>
                                <h3>Subgéneros</h3>
                                <div class="checkbox-item">
                                    <input type="checkbox" id="punk-rock" {% if "Punk Rock" in album.generos %} checked {% endif %}>
                                    <label for="punk-rock">Punk Rock</label>
                                </div>
                                <div class="checkbox-item">
                                    <input type="checkbox" id="heavy-metal" {% if "Heavy Metal" in album.generos %} checked {% endif %}>
                                    <label for="heavy-metal">Heavy Metal</label>
                                </div>
                                <div class="checkbox-item">
                                    <input type="checkbox" id="indie-pop" {% if "Indie Pop" in album.generos %} checked {% endif %}>
                                    <label for="indie-pop">Indie Pop</label>
                                </div>
                                <div class="checkbox-item">
                                    <input type="checkbox" id="trap" {% if "Trap" in album.generos %} checked {% endif %}>
                                    <label for="trap">Trap</label>
                                </div>
                                <div class="checkbox-item">
                                    <input type="checkbox" id="techno" {% if "Techno" in album.generos %} checked {% endif %}>
                                    <label for="techno">Techno</label>
                                </div>
                                <div class="checkbox-item">
                                    <input type="checkbox" id="ska" {% if "Ska" in album.generos %} checked {% endif %}>
                                    <label for="ska">Ska</label>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="div-pannel-sub upload-cover" style="width: auto;">
                        <label>Portada</label>
                        <img id="cover-preview" src="{{ album.portada }}" alt="Portada del álbum">
                        <input type="file" id="cover-upload" accept="image/*" hidden>
                        <button type="button" class="upload-cover-button"
                            onclick="document.getElementById('cover-upload').click();">Seleccionar portada</button>
                    </div>
                </form>

                <div class="div-pannel-sub upload-song" style="width: 100%;">
                    <label for="song-upload">Editar lista de canciones</label>
                    <div class="grid-biblioteca">
                        
                        {% for song in album.canciones %}                       
                        <div class="div-pannel-sub songs-cell">
                            <img src="{{ song.portada }}" class="songs-image" alt="Song Image">
                            <h3>{{ song.titulo }}</h3>
                            <p>{{ song.artista }}</p>
                            <a href="/song" style="width: 100%;"><button
                                    style="width: 100%;">Ver
                                    canción</button></a>
                            <button style="width: 100%; background-color: #ff4646;">Eliminar</button>
                        </div>
                        {% endfor %}
                        
                    </div>
                    <a href="/upload-song">
                        <button style="margin-top: 25px;">Añadir canción</button>
                    </a>
                </div>
                <a href="/studio">
                    <button type="submit">Guardar cambios</button>
                    <!-- Este botón no está dentro de un formulario, ¡No enviará nada!. TODO: Cambiar cuando se haga el backend.-->
                </a>

            </div>
            <br>
        </div>
    </main>

    <!-- Pie de página -->
    <div id="footer-placeholder"></div>

    <!-- Scripts -->
    <script src="/static/js/header.js"></script>
    <script src="/static/js/footer.js"></script>
    <script src="/static/js/dark-mode.js"></script>
    <script src="/static/js/upload-song-image.js"></script>

</body>

</html>