<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8"> <!-- Codificación de caracteres -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> <!-- Escalabilidad de la página -->
    <meta name="author" content="L1-G4">
    <title>Editar Álbum</title> <!-- Título que aparece en la pestaña del navegador -->
    <!-- Estilos -->
    <link rel="stylesheet" href="/static/css/base/style.css"> <!-- Hoja de estilos principal -->
    <link rel="stylesheet" href="/static/css/base/darkmode.css"> <!-- Hoja de estilo de modo oscuro -->
    <link rel="stylesheet" href="/static/css/base/header.css"> <!-- Hoja de estilo del header -->
    <link rel="stylesheet" href="/static/css/base/footer.css"> <!-- Hoja de estilo del footer -->
    <link rel="stylesheet" href="/static/css/music/album-edit.css">
    <!-- Hoja de estilo de la página de edición de álbumes -->
    <!-- Favicon -->
    <link rel="icon" type="image/png" href="/static/icons/favicons/favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/svg+xml" href="/static/icons/favicons/favicon.svg" />
    <link rel="shortcut icon" href="/static/icons/favicons/favicon.ico" />
    <link rel="apple-touch-icon" sizes="180x180" href="/static/icons/favicons/apple-touch-icon.png" />
    <meta name="apple-mobile-web-app-title" content="UnderSounds" />
    <link rel="manifest" href="/static/icons/favicons/site.webmanifest" />
</head>

<body>

    <!-- Barra de navegación -->
    <div id="header-placeholder"></div>
    <canvas id="backgroundCanvas"></canvas>

    <!-- Contenido principal -->
    <main>
        <div class="div-bg">
            <br>
            <div class="div-pannel upload-page">
                <h1 class="upload-title">Editar Álbum ({{ album.titulo }})</h1>

                <form class="upload-form">
                    <div class="div-pannel-sub upload-group" style="width: auto;">
                        <label for="title">Título</label>
                        <input type="text" id="title" name="title" placeholder="Título del álbum" value="{{ album.titulo }}">

                        <label for="artista">Artista</label>
                        <input type="text" id="artista" name="artista" placeholder="Artista del álbum" value="{{ album.autor }}">

                        <label for="collaborators">Colaboradores</label>
                        <input type="text" id="collaborators" name="collaborators" placeholder="Separados por coma" value="{{ album.colaboradores }}">

                        <label for="price">Precio</label>
                        <input type="text" id="price" name="price" placeholder="Precio del álbum" value="{{ album.precio }}" required>

                        <label for="album">Descripción</label>
                        <textarea id="description" name="desc" rows="7" cols="40" style="resize: none;" placeholder="Descripción del álbum">{{ album.descripcion }}</textarea>

                        <label for="is-visible">Visible al público</label>
                        <input type="checkbox" id="is-visible" name="is_visible" {% if album.visible %} checked {% endif %}>
                    </div>

                    <div class="div-pannel-sub upload-checkbox-container" style="width:auto;">
                        <h2>Géneros y Subgéneros</h2>

                        <div style="display: flex; gap: 40px;">
                            <!-- Géneros -->
                            <div>
                                <h3>Géneros</h3>
                                <div class="checkbox-item">
                                    <input type="checkbox" id="rock" {% if "rock" in album.generos %} checked {% endif %}>
                                    <label for="rock">Rock</label>
                                </div>
                                <div class="checkbox-item">
                                    <input type="checkbox" id="pop" {% if "pop" in album.generos %} checked {% endif %}>
                                    <label for="pop">Pop</label>
                                </div>
                                <div class="checkbox-item">
                                    <input type="checkbox" id="metal" {% if "metal" in album.generos %} checked {% endif %}>
                                    <label for="metal">Metal</label>
                                </div>
                                <div class="checkbox-item">
                                    <input type="checkbox" id="jazz" {% if "jazz" in album.generos %} checked {% endif %}>
                                    <label for="jazz">Jazz</label>
                                </div>
                                <div class="checkbox-item">
                                    <input type="checkbox" id="blues" {% if "blues" in album.generos %} checked {% endif %}>
                                    <label for="blues">Blues</label>
                                </div>
                                <div class="checkbox-item">
                                    <input type="checkbox" id="flamenco" {% if "flamenco" in album.generos %} checked {% endif %}>
                                    <label for="flamenco">Flamenco</label>
                                </div>
                            </div>

                            <!-- Subgéneros -->
                            <div>
                                <h3>Subgéneros</h3>
                                <div class="checkbox-item">
                                    <input type="checkbox" id="punk-rock" {% if "punk-rock" in album.generos %} checked {% endif %}>
                                    <label for="punk-rock">Punk Rock</label>
                                </div>
                                <div class="checkbox-item">
                                    <input type="checkbox" id="heavy-metal" {% if "heavy-metal" in album.generos %} checked {% endif %}>
                                    <label for="heavy-metal">Heavy Metal</label>
                                </div>
                                <div class="checkbox-item">
                                    <input type="checkbox" id="indie-pop" {% if "indie-pop" in album.generos %} checked {% endif %}>
                                    <label for="indie-pop">Indie Pop</label>
                                </div>
                                <div class="checkbox-item">
                                    <input type="checkbox" id="trap" {% if "trap" in album.generos %} checked {% endif %}>
                                    <label for="trap">Trap</label>
                                </div>
                                <div class="checkbox-item">
                                    <input type="checkbox" id="techno" {% if "techno" in album.generos %} checked {% endif %}>
                                    <label for="techno">Techno</label>
                                </div>
                                <div class="checkbox-item">
                                    <input type="checkbox" id="ska" {% if "ska" in album.generos %} checked {% endif %}>
                                    <label for="ska">Ska</label>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="div-pannel-sub upload-cover" style="width: auto;">
                        <label>Portada</label>
                        <img id="cover-preview" src="{{ album.portada }}" alt="Portada del álbum">
                        <input type="file" id="cover-upload" accept="image/*" hidden>
                        <button type="button" class="upload-cover-button"
                            onclick="document.getElementById('cover-upload').click();">Seleccionar portada</button>
                    </div>
                </form>

                <div class="div-pannel-sub upload-song" style="width: 100%;">
                    <label for="song-upload">Canciones en el album</label>
                    <div class="div-pannel-sub grid-container" style="grid-template-columns: 1fr auto; gap: 20px;">
                        <select id="song-list" name="song-list" style="height: 40px; width: 100%;">
                            <option value="" disabled selected>Selecciona una canción</option>
                            {% for song in songs %}   
                            <option value="{{ song.id }}">{{ song.titulo }} · {{ song.artista }}</option>
                            {% endfor %}
                        </select>
                        <button type="button" onclick="addSong()">Añadir canción</button>
                    </div>
                    <div class="grid-biblioteca">
                        {% if album.canciones |length == 0 %}
                        <p id="no_songs" style="display: flex;">No hay canciones añadidas.</p>
                        {% else %}
                        {% for song in album.canciones %}         
                        <p id="no_songs" style="display: none;">No hay canciones añadidas.</p>              
                        <div id="{{ song.id }}" class="div-pannel-sub songs-cell" style="display: flex;">
                            <img src="{{ song.portada }}" class="songs-image" alt="Song Image">
                            <h3>{{ song.titulo }}</h3>
                            <p>{{ song.artista }}</p>
                            <div class="button-array">
                                <button type="button" style="background-color: white;" onclick="window.location.href='/song?id={{song.id}}'">🔗</button>
                                <button type="button" style="background-color: #ff4646;" onclick="removeSong('{{ song.id }}')">🗑️</button>
                                <button type="button" style="background-color: #0077ff;" onclick="window.location.href='/edit-song?id={{song.id}}'">✏️</button>
                            </div>
                        </div>
                        {% endfor %}
                        {% endif %}

                        {% for song in songs %}                       
                        <div id="{{ song.id }}" class="div-pannel-sub songs-cell" style="display: none;">
                            <img src="{{ song.portada }}" class="songs-image" alt="Song Image">
                            <h3>{{ song.titulo }}</h3>
                            <p>{{ song.artista }}</p>
                            <div class="button-array">
                                <button type="button" style="background-color: white;" onclick="window.location.href='/song?id={{song.id}}'">🔗</button>
                                <button type="button" style="background-color: #ff4646;" onclick="removeSong('{{ song.id }}')">🗑️</button>
                                <button type="button" style="background-color: #0077ff;" onclick="window.location.href='/edit-song?id={{song.id}}'">✏️</button>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>

                <button type="submit" onclick="postAlbum()">Guardar cambios</button>
            </div>
            <br>
            <section class="div-pannel historial" style="align-items: center;">
                <h2>Historial </h2>
                <div class="historial-grid">
                    {% if album.historial |length == 0 %}
                    <p id="no_reseñas" style="display: flex; justify-content: center; align-items: center;">No hay historial de cambios.</p>
                    {% else %}
                    {% for cambios in album.historial | reverse %}
                    <details class="historial" id="cambio -¨{{ cambios.fechaUltimaModificacion }}">
                        <summary><img alt="Desplegar" class="chevron" height="16"
                                src="/static/icons/site/dropdown-icon.svg" width="16" />
                            <strong> {{ cambios.fechaUltimaModificacion }} </strong>
                        </summary>
                        
                        <div class="historial-content">
                            <div class="text-content">
                                <h2 class="song-title"> {{cambios.titulo}}</h2>
                                <p><strong>Autor:</strong> {{cambios.autor}}</p>
                                <p><strong>Colaboradores:</strong> {{cambios.colaboradores}}</p>
                                <p><strong>Descripción:</strong> <pre style="max-width: 30rem; word-wrap: break-word; white-space: pre-wrap;"> {{cambios.descripcion}} </pre></p>
                                <p><strong>Canciones: </strong>
                                    {% if cambios.canciones | length == 0 %}
                                        <p>No hay canciones añadidas.</p>
                                    {% else %}
                                        {% for song in cambios.canciones %}                    
                                            <pre>    {{ loop.index }}. {{ song.titulo }}</pre>
                                        {% endfor %}
                                    {% endif %}
                                </p>
                                <p><strong>Géneros:</strong> {{cambios.generos}} </p>
                                <p><strong>Precio:</strong> {{cambios.precio}}€</p>
                                <p><strong>Visible:</strong> {% if cambios.visible %} Sí {% else %} No {% endif %}</p>
                            </div>
                    
                            <div class="image-content">
                                <img id="cover-preview" src="{{ cambios.portada }}" alt="Portada del album">
                            </div>
                        </div>
                    
                        <div class="historial-actions">
                            <button class="btn" title="Editar" onclick="lastVersion('{{ cambios.fechaUltimaModificacion }}')">
                                <img alt="Editar" height="20" src="/static/icons/site/edit-icon.svg" width="20" /></button>
                        </div>
                    </details>
                    {% endfor %}
                    {% endif %}
                </div>
            </section>
        </div>
    </main>

    <script>

        function addSong() {
            event.preventDefault();
            const songList = document.getElementById('song-list');
            const selectedOption = songList.options[songList.selectedIndex];

            if (selectedOption && selectedOption.value) {
                const songId = selectedOption.value;

                // Make the selected option invisible and unselectable
                selectedOption.style.display = 'none';
                selectedOption.disabled = true;

                // Show the corresponding song div
                const songDiv = document.getElementById(songId);
                if (songDiv) {
                    songDiv.style.display = 'flex';
                }

                // Make the "no songs" message invisible
                const noSongsMessage = document.getElementById('no_songs');
                noSongsMessage.style.display = 'none';

                // Clear the selection
                songList.selectedIndex = 0; // Reset to the first option (disabled)
            }
        }

        function removeSong(songId) {
            event.preventDefault();
            const songDiv = document.getElementById(songId);
            if (songDiv) {
                songDiv.style.display = 'none';
            }

            // Make the corresponding option in the select visible and selectable again
            let songOption = document.querySelector(`option[value="${songId}"]`);
            if (songOption) {
                songOption.style.display = 'flex';
                songOption.disabled = false;
            } else {
                // If the option does not exist, create it
                const songList = document.getElementById('song-list');
                const newOption = document.createElement('option');
                newOption.value = songId;
                newOption.textContent = songDiv.querySelector('h3').textContent + ' · ' + songDiv.querySelector('p').textContent;
                newOption.style.display = 'flex';
                songList.appendChild(newOption);
            }

            // Check if there are any visible songs left
            const remainingSongs = Array.from(document.querySelectorAll('.songs-cell')).filter(songDiv => songDiv.style.display === 'flex');
            if (remainingSongs.length === 0) {
                const noSongsMessage = document.getElementById('no_songs');
                noSongsMessage.style.display = 'flex';
            }
        }
        

        async function postAlbum() {
            event.preventDefault();

            // Obtener los datos del álbum desde el formulario
            const albumData = {
                id: '{{ album.id }}',
                titulo: document.getElementById('title').value,
                artista: document.getElementById('artista').value,
                descripcion: document.getElementById('description').value,
                colaboradores: document.getElementById('collaborators').value,
                precio: parseFloat(document.getElementById('price').value),
                generos: Array.from(document.querySelectorAll('.upload-checkbox-container input[type="checkbox"]:checked')).map(checkbox => checkbox.id),
                canciones: Array.from(document.querySelectorAll('.grid-biblioteca .songs-cell[style*="display: flex"]')).map(songDiv => songDiv.id),
                portada: document.getElementById('cover-preview').src,
                visible: document.getElementById('is-visible').checked
            };

            // Validar que los campos no estén vacíos y que tienen el formato correcto
            if (!albumData.titulo.trim()) {
                return displayMessage("error", "El campo 'Título' no puede estar vacío.");
            }
            if (!albumData.artista.trim()) {
                return displayMessage("error", "El campo 'Autor' no puede estar vacío.");
            }
            if (isNaN(albumData.precio) || parseFloat(albumData.precio) <= 0) {
                return displayMessage("error", "El campo 'Precio' debe ser un número positivo.");
            }
            if (!albumData.generos.length) {
                return displayMessage("error", "Debes seleccionar al menos un género.");
            }
            try {
                const response = await fetch('/album-edit', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify(albumData)
                });

                const result = await response.json();

                if (response.ok) {
                    displayMessage('success', 'Álbum subido exitosamente, espero un momento...');
                    setTimeout(() => {
                        window.location.href = '/studio';
                    }, 2000);
                } else {
                    displayMessage('error', 'Error al subir el álbum: ' + result.error);
                }
            } catch (error) {
                console.error('Error al subir el álbum:', error);
                displayMessage('error', 'Error al guardar el álbum. Inténtalo nuevamente.');
            }
        }

        async function lastVersion(fechaModificacion){
            const songData = {
                id: "{{album.id}}",
                fechaUltimaModificacion: fechaModificacion
            };

            try {
                const response = await fetch('/last-version-album', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify(songData)
                });

                const result = await response.json();

                if (response.ok) {
                    displayMessage('success', 'Versión restaurada exitosamente, espero un momento...');
                    setTimeout(() => {
                        window.location.href = '/studio';
                    }, 2000);
                } else {
                    displayMessage('error', 'Error al restaurar el álbum: ' + result.error);
                }
            } catch (error) {
                displayMessage('error', 'Ocurrió un error al restaurar el álbum.');
                console.error('Error al restaurar el álbum:', error);
            }
        }

    </script>

    <!-- Pie de página -->
    <div id="footer-placeholder"></div>

    <!-- Scripts -->
    <script src="/static/js/header.js"></script>
    <script src="/static/js/footer.js"></script>
    <script src="/static/js/dark-mode.js"></script>
    <script src="/static/js/upload-song-image.js"></script>
    <script src="/static/js/displayMessage.js"></script>
    <script src="/static/js/animations.js"></script>
</body>

</html>