<!DOCTYPE html>

<html lang="es">

<head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <meta content="L1-G4" name="author" />
    <title>Álbum</title>
    <link href="/static/css/base/style.css" rel="stylesheet" />
    <link href="/static/css/base/darkmode.css" rel="stylesheet" />
    <link href="/static/css/base/header.css" rel="stylesheet" />
    <link href="/static/css/base/footer.css" rel="stylesheet" />
    <link href="/static/css/music/album.css" rel="stylesheet" />
    <link href="/static/icons/favicons/favicon-96x96.png" rel="icon" sizes="96x96" type="image/png" />
    <link href="/static/icons/favicons/favicon.svg" rel="icon" type="image/svg+xml" />
    <link href="/static/icons/favicons/favicon.ico" rel="shortcut icon" />
    <link href="/static/icons/favicons/apple-touch-icon.png" rel="apple-touch-icon" sizes="180x180" />
    <meta content="UnderSounds" name="apple-mobile-web-app-title" />
    <link href="/static/icons/favicons/site.webmanifest" rel="manifest" />
</head>

<body>
    <div id="header-placeholder"></div>
    <main>
        <div class="div-bg">
            <div class="album-page">
                <section class="album-top">
                    <div class="div-pannel album-info">
                        <h2 class="album-title">Kamikaze</h2>
                        <p><strong>Autor:</strong> Eminem</p>
                        <p><strong>Colaboradores:</strong> Joyner Lucas, Royce da 5'9", Jessie Reyez</p>
                        <p><strong>Fecha:</strong> 31 de agosto de 2018</p>
                        <p><strong>Géneros:</strong> Hip hop, Rap hardcore</p>
                        <p><strong>Descripción:</strong> Álbum sorpresa de Eminem, lanzado sin previo aviso como
                            respuesta a las críticas por "Revival".</p>
                        <p><strong>N.º de visualizaciones:</strong> 98.457.230</p>
                        <p><strong>Precio:</strong> 11,99 €</p>
                        <div class="album-buttons">
                            <button class="btn">Descargar álbum</button>
                            <button class="btn">Añadir a biblioteca</button>
                        </div>
                    </div>
                    <div class="div-pannel album-image">
                        <img alt="Portada del álbum Kamikaze" src="/static/img/albums/album-07.webp" />
                    </div>
                </section>
                <section class="div-pannel song-list-section">
                    <h2>Canciones del álbum</h2>
                    <div class="song-grid-cards">

                        <div class="song-card">
                            <details open>
                                <summary><img class="chevron" src="/static/icons/site/dropdown-icon.svg" width="16"
                                        height="16" /> <strong>The Ringer</strong> — Eminem</summary>
                                <div class="song-content">
                                    <img src="/static/img/albums/album-07.webp" alt="Portada" class="song-cover" />
                                    <div class="song-info">
                                        <p><strong>Precio:</strong> 1,29 €</p>
                                        <div class="song-stats">
                                            <span><img src="/static/icons/site/favourite-icon-light.svg" alt="likes" />
                                                1245</span>
                                            <span><img src="/static/icons/site/comment-icon-light.svg"
                                                    alt="comentarios" /> 34</span>
                                            <span><img src="/static/icons/site/views-icon-light.svg"
                                                    alt="reproducciones" /> 54K</span>
                                        </div>
                                        <div class="song-actions">
                                            <button class="btn"><img src="/static/icons/site/edit-icon.svg"
                                                    alt="Editar" /> Editar canción</button>
                                            <button class="btn delete"><img src="/static/icons/site/delete-icon.svg"
                                                    alt="Borrar" /> Borrar canción</button>
                                        </div>
                                    </div>
                                </div>
                            </details>
                        </div>

                        <div class="song-card">
                            <details>
                                <summary><img class="chevron" src="/static/icons/site/dropdown-icon.svg" width="16"
                                        height="16" /> <strong>Greatest</strong> — Eminem</summary>
                                <div class="song-content">
                                    <img src="/static/img/albums/album-07.webp" alt="Portada" class="song-cover" />
                                    <div class="song-info">
                                        <p><strong>Precio:</strong> 1,29 €</p>
                                        <div class="song-stats">
                                            <span><img src="/static/icons/site/favourite-icon-light.svg" alt="likes" />
                                                980</span>
                                            <span><img src="/static/icons/site/comment-icon-light.svg"
                                                    alt="comentarios" /> 12</span>
                                            <span><img src="/static/icons/site/views-icon-light.svg"
                                                    alt="reproducciones" /> 38K</span>
                                        </div>
                                        <div class="song-actions">
                                            <button class="btn"><img src="/static/icons/site/edit-icon.svg"
                                                    alt="Editar" /> Editar canción</button>
                                            <button class="btn delete"><img src="/static/icons/site/delete-icon.svg"
                                                    alt="Borrar" /> Borrar canción</button>
                                        </div>
                                    </div>
                                </div>
                            </details>
                        </div>

                        <div class="song-card">
                            <details>
                                <summary><img class="chevron" src="/static/icons/site/dropdown-icon.svg" width="16"
                                        height="16" /> <strong>Lucky You (feat. Joyner Lucas)</strong> — Eminem
                                </summary>
                                <div class="song-content">
                                    <img src="/static/img/albums/album-07.webp" alt="Portada" class="song-cover" />
                                    <div class="song-info">
                                        <p><strong>Precio:</strong> 1,29 €</p>
                                        <div class="song-stats">
                                            <span><img src="/static/icons/site/favourite-icon-light.svg" alt="likes" />
                                                1890</span>
                                            <span><img src="/static/icons/site/comment-icon-light.svg"
                                                    alt="comentarios" /> 67</span>
                                            <span><img src="/static/icons/site/views-icon-light.svg"
                                                    alt="reproducciones" /> 72K</span>
                                        </div>
                                        <div class="song-actions">
                                            <button class="btn"><img src="/static/icons/site/edit-icon.svg"
                                                    alt="Editar" /> Editar canción</button>
                                            <button class="btn delete"><img src="/static/icons/site/delete-icon.svg"
                                                    alt="Borrar" /> Borrar canción</button>
                                        </div>
                                    </div>
                                </div>
                            </details>
                        </div>

                        <div class="song-card">
                            <details>
                                <summary><img class="chevron" src="/static/icons/site/dropdown-icon.svg" width="16"
                                        height="16" /> <strong>Paul (Skit)</strong> — Eminem</summary>
                                <div class="song-content">
                                    <img src="/static/img/albums/album-07.webp" alt="Portada" class="song-cover" />
                                    <div class="song-info">
                                        <p><strong>Precio:</strong> 0,99 €</p>
                                        <div class="song-stats">
                                            <span><img src="/static/icons/site/favourite-icon-light.svg" alt="likes" />
                                                400</span>
                                            <span><img src="/static/icons/site/comment-icon-light.svg"
                                                    alt="comentarios" /> 5</span>
                                            <span><img src="/static/icons/site/views-icon-light.svg"
                                                    alt="reproducciones" /> 12K</span>
                                        </div>
                                        <div class="song-actions">
                                            <button class="btn"><img src="/static/icons/site/edit-icon.svg"
                                                    alt="Editar" /> Editar canción</button>
                                            <button class="btn delete"><img src="/static/icons/site/delete-icon.svg"
                                                    alt="Borrar" /> Borrar canción</button>
                                        </div>
                                    </div>
                                </div>
                            </details>
                        </div>

                        <div class="song-card">
                            <details>
                                <summary><img class="chevron" src="/static/icons/site/dropdown-icon.svg" width="16"
                                        height="16" /> <strong>Normal</strong> — Eminem</summary>
                                <div class="song-content">
                                    <img src="/static/img/albums/album-07.webp" alt="Portada" class="song-cover" />
                                    <div class="song-info">
                                        <p><strong>Precio:</strong> 1,29 €</p>
                                        <div class="song-stats">
                                            <span><img src="/static/icons/site/favourite-icon-light.svg" alt="likes" />
                                                1102</span>
                                            <span><img src="/static/icons/site/comment-icon-light.svg"
                                                    alt="comentarios" /> 24</span>
                                            <span><img src="/static/icons/site/views-icon-light.svg"
                                                    alt="reproducciones" /> 44K</span>
                                        </div>
                                        <div class="song-actions">
                                            <button class="btn"><img src="/static/icons/site/edit-icon.svg"
                                                    alt="Editar" /> Editar canción</button>
                                            <button class="btn delete"><img src="/static/icons/site/delete-icon.svg"
                                                    alt="Borrar" /> Borrar canción</button>
                                        </div>
                                    </div>
                                </div>
                            </details>
                        </div>

                    </div>
                </section>
            </div>
        </div>
    </main>
    <div id="footer-placeholder"></div>
    <script src="/static/js/header.js"></script>
    <script src="/static/js/footer.js"></script>
    <script src="/static/js/dark-mode.js"></script>
</body>

</html>