<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="L1-G4" />
    <title>Álbum</title>
    <link rel="stylesheet" href="/static/css/base/style.css">
    <link rel="stylesheet" href="/static/css/base/darkmode.css">
    <link rel="stylesheet" href="/static/css/base/header.css">
    <link rel="stylesheet" href="/static/css/base/footer.css">
    <link rel="stylesheet" href="/static/css/music/album.css">
    <link rel="icon" type="image/png" href="/static/icons/favicons/favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/svg+xml" href="/static/icons/favicons/favicon.svg" />
    <link rel="shortcut icon" href="/static/icons/favicons/favicon.ico" />
    <link rel="apple-touch-icon" sizes="180x180" href="/static/icons/favicons/apple-touch-icon.png" />
    <meta name="apple-mobile-web-app-title" content="UnderSounds" />
    <link rel="manifest" href="/static/icons/favicons/site.webmanifest" />
</head>

<body>
    <div id="header-placeholder"></div>
    <main>
        <div class="div-bg">
            <div class="album-page">
                <section class="album-top">
                    <div class="div-pannel album-info">
                        <h2 class="album-title">Kamikaze</h2>
                        <p><strong>Autor:</strong> Eminem</p>
                        <p><strong>Colaboradores:</strong> Joyner Lucas, Royce da 5'9", Jessie Reyez</p>
                        <p><strong>Fecha:</strong> 31 de agosto de 2018</p>
                        <p><strong>Géneros:</strong> Hip hop, Rap hardcore</p>
                        <p><strong>Descripción:</strong> Álbum sorpresa de Eminem, lanzado sin previo aviso como
                            respuesta a las críticas por "Revival".</p>
                        <p><strong>N.º de visualizaciones:</strong> 98.457.230</p>
                        <p><strong>Precio:</strong> 11,99 €</p>
                        <div class="album-buttons">
                            <button class="btn">Descargar álbum</button>
                            <button class="btn">Añadir a biblioteca</button>
                        </div>
                    </div>

                    <div class="div-pannel album-image">
                        <img src="/static/img/albums/album-07.webp" alt="Portada del álbum Kamikaze" />
                    </div>

                    <div class="div-pannel album-song-grid">
                        <h3>Canciones del álbum</h3>
                        <ol class="song-grid">
                            <li><a href="song.html">The Ringer</a></li>
                            <li><a href="song.html">Greatest</a></li>
                            <li><a href="song.html">Lucky You (feat. Joyner Lucas)</a></li>
                            <li><a href="song.html">Paul (Skit)</a></li>
                            <li><a href="song.html">Normal</a></li>
                            <li><a href="song.html">Em Calls Paul (Skit)</a></li>
                            <li><a href="song.html">Stepping Stone</a></li>
                            <li><a href="song.html">Not Alike (feat. Royce da 5'9")</a></li>
                            <li><a href="song.html">Kamikaze</a></li>
                            <li><a href="song.html">Fall</a></li>
                            <li><a href="song.html">Nice Guy (feat. Jessie Reyez)</a></li>
                            <li><a href="song.html">Good Guy (feat. Jessie Reyez)</a></li>
                            <li><a href="song.html">Venom (Music from the Motion Picture)</a></li>
                        </ol>
                    </div>
                </section>

            </div>
        </div>
    </main>
    <div id="footer-placeholder"></div>
    <script src="/static/js/header.js"></script>
    <script src="/static/js/footer.js"></script>
    <script src="/static/js/dark-mode.js"></script>
</body>

</html>