<link rel="stylesheet" href="/static/css/music/radio.css">
<div class="mini-player">
    <button class="mini-close-btn" title="Cerrar">✖️</button>

    <img src="/static/img/albums/album-04.webp" alt="Portada" class="mini-album">

    <div class="mini-content">
        <div class="mini-song-info">
            <span class="mini-title">Nombre de la canción</span>
            <span class="mini-artist">Nombre del artista</span>
        </div>

        <div class="mini-controls-bar">
            <div class="mini-controls">
                <button class="mini-btn">⏮️</button>
                <button class="mini-btn">⏯️</button>
                <button class="mini-btn">⏭️</button>
            </div>
            <input type="range" class="mini-progress" min="0" max="100" value="0">
        </div>
    </div>
</div>
