<!DOCTYPE html>

<html lang="es">

<head>
    <meta charset="utf-8" /> <!-- Codificación de caracteres -->
    <meta content="width=device-width, initial-scale=1.0" name="viewport" /> <!-- Escalabilidad de la página -->
    <meta content="L1-G4" name="author" />
    <title>Canción</title> <!-- Título que aparece en la pestaña del navegador -->
    <!-- Estilos -->
    <link rel="stylesheet" href="/static/css/base/style.css"> <!-- Hoja de estilos principal -->
    <link rel="stylesheet" href="/static/css/base/darkmode.css"> <!-- Hoja de estilo de modo oscuro -->
    <link rel="stylesheet" href="/static/css/base/header.css"> <!-- Hoja de estilo del header -->
    <link rel="stylesheet" href="/static/css/base/footer.css"> <!-- Hoja de estilo del footer -->
    <link rel="stylesheet" href="/static/css/music/song.css"> <!-- Hoja de estilo de la página de canción -->
    <link rel="stylesheet" href="/static/css/music/radio.css">

    <!-- Favicon -->
    <link rel="icon" type="image/png" href="/static/icons/favicons/favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/svg+xml" href="/static/icons/favicons/favicon.svg" />
    <link rel="shortcut icon" href="/static/icons/favicons/favicon.ico" />
    <link rel="apple-touch-icon" sizes="180x180" href="/static/icons/favicons/apple-touch-icon.png" />
    <meta name="apple-mobile-web-app-title" content="UnderSounds" />
    <link rel="manifest" href="/static/icons/favicons/site.webmanifest" />
</head>

<body>
    <!-- Barra de navegación -->
    <div id="header-placeholder"></div>
    <!-- Contenido principal -->
    <main>

        <div class="div-bg">
            <div class="song-page">
                <section class="song-top">
                    <div class="div-pannel song-info">
                        <h2 class="song-title"> {{song.titulo}}</h2>
                        <p><strong>Autor:</strong> {{song.artista}}</p>
                        <p><strong>Descripción:</strong> {{song.descripcion}} </p>
                        <div class="song-stats">
                            <p><strong>Likes:</strong> {{song.likes}} </p>
                            <p><strong>Visualizaciones:</strong> {{song.visitas}} </p>
                        </div>
                        <div class="song-stats">
                            <p><strong>Precio:</strong> {{song.precio}} </p>
                        </div>
                        <div class="play">
                            <button id="play-btn">▶️ Reproducir</button>
                        </div>
                        <div class="song-buttons">
                            <button class="btn download-btn">Descargar</button>
                            <button class="btn fav-btn" title="Añadir a favoritos">
                                <img alt="Favorito" class="fav-icon"
                                    src="/static/icons/site/favourite-icon-light.svg" />
                            </button>
                        </div>
                    </div>
                    <div class="div-pannel song-image" style="width: auto;">
                        <img alt="Portada del álbum" src="{{song.portada}}" />
                    </div>
                    <div class="div-pannel review-form">
                        <h3>Reseña nueva</h3>
                        <textarea id="titulo" placeholder="Escribe el titulo aquí..."></textarea>
                        <textarea id="reseña" placeholder="Escribe tu reseña aquí..."></textarea>
                        <button class="btn publish-btn" onclick="addReseña()" >Publicar</button>
                    </div>
                </section>
                <section class="div-pannel reviews" style="align-items: center;">
                    <h2>Reseñas</h2>
                    <div class="reviews-grid">
                        {% if song.lista_resenas|length == 0 %}
                        <p id="no_reseñas" style="display: flex;">No hay reseñas.</p>
                        {% else %}
                        {% for resena in song.lista_resenas %}
                        <details class="review" id="resena-¨{{ resena.id }}">
                            <summary><img alt="Desplegar" class="chevron" height="16"
                                    src="{{ resena.usuario.imagen }}" width="16" /><strong>{{resena.usuario.nombre}}</strong>
                                —
                            <input id="editar_titulo" type="text" name="titulo" value="{{ resena.titulo }}" required></summary>
                            <textarea id="editar_reseña" name="texto" required>{{ resena.reseña }}</textarea>
                            <div class="review-actions">
                                <button class="btn" title="Editar" onclick="editarReseña('{{ resena.id }}')"><img alt="Editar" height="20"
                                        src="/static/icons/site/edit-icon.svg" width="20" /></button>
                                    
                                <button class="btn" title="Borrar" onclick="borrarReseña('{{ resena.id }}')"><img alt="Borrar" height="20"
                                        src="/static/icons/site/delete-icon.svg" width="20" /></button>
                            </div>
                        </details>
                        {% endfor %}
                        {% endif %}
                    </div>
                </section>
            </div>
        </div>

    </main>
    <script>
        
        async function addReseña() {
            const titulo = document.getElementById('titulo').value;
            const reseña = document.getElementById('reseña').value;

            const response = await fetch('/add-review', {
                method: 'POST',
                headers: { 'Content-Type': 'application/json' },
                body: JSON.stringify({
                    song_id: "{{ song.id }}",
                    titulo: titulo,
                    reseña: reseña
                })
            });

            const result = await response.json();
            if (response.ok) {
                alert("Reseña publicada!");
                location.reload();
            } else {
                alert("Error: " + result.error);
            }
        }

        async function borrarReseña(reseñaId) {

            const response = await fetch('/delete-review', {
                method: 'POST',
                headers: {'Content-Type': 'application/json'},
                body: JSON.stringify({
                    song_id: "{{ song.id }}",
                    reseña_id: reseñaId
                })
            });

            const result = await response.json();
            if (response.ok) {
                alert("Reseña eliminada.");
                location.reload();
            } else {
                alert("Error: " + result.error);
            }
        }

        async function editarReseña(reseñaId) {
            const titulo = document.getElementById('editar_titulo').value;
            const reseña = document.getElementById('editar_reseña').value;
                        
            const response = await fetch('/update-review', {
                method: 'POST',
                headers: {'Content-Type': 'application/json'},
                body: JSON.stringify({
                    song_id: "{{ song.id }}",
                    reseña_id: reseñaId,
                    titulo: titulo,
                    reseña: reseña
                })
            });

            const result = await response.json();
            if (response.ok) {
                alert("Reseña actualizada.");
                location.reload();
            } else {
                alert("Error: " + result.error);
            }
        }
    </script>
    <!-- Pie de página -->
    <div id="footer-placeholder"></div>

    <!-- Scripts -->
    <script src="/static/js/header.js"></script>
    <script src="/static/js/footer.js"></script>
    <script src="/static/js/dark-mode.js"></script>
    <script src="/static/js/radio.js"></script>
</body>

</html>