<!DOCTYPE html>

<html lang="es">

<head>
    <meta charset="utf-8" /> <!-- Codificación de caracteres -->
    <meta content="width=device-width, initial-scale=1.0" name="viewport" /> <!-- Escalabilidad de la página -->
    <meta content="L1-G4" name="author" />
    <title>{{song.titulo}}</title> <!-- Título que aparece en la pestaña del navegador -->
    <!-- Estilos -->
    <link rel="stylesheet" href="/static/css/base/style.css"> <!-- Hoja de estilos principal -->
    <link rel="stylesheet" href="/static/css/base/darkmode.css"> <!-- Hoja de estilo de modo oscuro -->
    <link rel="stylesheet" href="/static/css/base/header.css"> <!-- Hoja de estilo del header -->
    <link rel="stylesheet" href="/static/css/base/footer.css"> <!-- Hoja de estilo del footer -->
    <link rel="stylesheet" href="/static/css/music/song.css"> <!-- Hoja de estilo de la página de canción -->

    <!-- Favicon -->
    <link rel="icon" type="image/png" href="/static/icons/favicons/favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/svg+xml" href="/static/icons/favicons/favicon.svg" />
    <link rel="shortcut icon" href="/static/icons/favicons/favicon.ico" />
    <link rel="apple-touch-icon" sizes="180x180" href="/static/icons/favicons/apple-touch-icon.png" />
    <meta name="apple-mobile-web-app-title" content="UnderSounds" />
    <link rel="manifest" href="/static/icons/favicons/site.webmanifest" />
</head>

<body>
    <!-- Barra de navegación -->
    <div id="header-placeholder"></div>
    <canvas id="backgroundCanvas"></canvas>
    <!-- Contenido principal -->
    <main>
        {% if not song.visible %}
        <div class="div-warn">
            <p>Esta página de canción está oculta y no es accesible al público. Solo tú puedes verla. Puedes cambiar
                esto editando la visibilidad de la canción en tu página de Studio.</p>
        </div>
        {% endif %}
        <div class="div-bg">
            <div class="song-page">
                <section class="song-top">
                    <div class="div-pannel song-info">
                        <h2 class="song-title"> {{song.titulo}}</h2>
                        <p><strong>Autor:</strong> {{song.artista}}</p>
                        <p><strong>Colaboradores:</strong> {{song.colaboradores}}</p>
                        <pre style="max-width: 30rem; word-wrap: break-word; white-space: pre-wrap;"><strong>Descripción:</strong> {{song.descripcion}} </pre>
                        <p><strong>Fecha de lanzamiento:</strong> {{song.fecha}}</p>
                        {% set minutos = song.duracion // 60 %}
                        {% set segundos = song.duracion % 60 %}
                        <p><strong>Duración:</strong> {{ "%02d:%02d"|format(minutos, segundos) }}</p>
                        {% if song.album %}
                        <p><strong>Álbum:</strong> {{song.albumStr}}</p>
                        {% else %}
                        <p>Esta canción es un <i>Single</i></p>
                        {% endif %}
                        <p><strong>Géneros:</strong> {{song.generosStr}} </p>
                        <!-- Este genero es especial -> Es un campo populado por los nombres de los generos, NO los IDs -->
                        <p><strong>Likes:</strong> {{song.likes}} </p>
                        <p><strong>Visualizaciones:</strong> {{song.visitas}} </p>
                        <p><strong>Precio:</strong> {{song.precio}}€</p>
                        {% if tipoUsuario >= 2 %}
                        <div class="play">
                            <button id="play-btn" 
                            type="button" 
                            data-source="/mp3/{{ song.id }}"
                            data-title="{{ song.titulo }}"
                            data-artist="{{ song.artista }}"
                            data-cover="{{ song.portada }}">
                            Reproducir
                            </button>
                        </div>
                        <div class="song-buttons">
                            <button class="btn download-btn" onclick="descargarCancion('{{song.id}}', '{{song.titulo}}')">Descargar canción</button>
                            <button class="{% if isLiked %}button{% else %}button-alt{% endif %} fav-btn"
                                title="Añadir a favoritos" onclick="toggleLike()">
                                <img alt="Favorito" class="fav-icon"
                                    src="/static/icons/site/favourite-icon-light.svg" />
                            </button>
                            {% if tipoUsuario == 3 %}
                            <button class="btn" onclick="window.location.href='/edit-song?id={{song.id}}';">Editar
                                canción</button>
                            {% endif %}
                        </div>
                        {% elif tipoUsuario == 1 %}

                        {% if inCarrito %}
                        <button type="submit" class="button-comprar-item">Ya en el carrito</button>
                        {% else %}
                        <form action="/cart" method="post">
                            <input type="hidden" name="action" value="add">
                            <input type="hidden" name="item_id" value="{{song.id}}">
                            <input type="hidden" name="item_name" value="{{song.titulo}}">
                            <input type="hidden" name="item_image" value="{{song.portada}}">
                            <input type="hidden" name="artist_name" value="{{song.artista}}">
                            <input type="hidden" name="item_desc" value="{{song.descripcion}}">
                            <input type="hidden" name="item_precio" value="{{song.precio}}">
                            <button type="submit" class="button-comprar-item">Añadir al carrito</button>
                        </form>
                        {% endif %}

                        <button class="{% if isLiked %}button{% else %}button-alt{% endif %} fav-btn"
                            title="Añadir a favoritos" onclick="toggleLike()">
                            <img alt="Favorito" class="fav-icon" src="/static/icons/site/favourite-icon-light.svg" />
                        </button>
                        {% else %}
                        <button class="btn" onclick="window.location.href='/login';">Inicia sesión para comprar y
                            escuchar esta canción </button>
                        {% endif %}
                    </div>

                    <div class="div-pannel song-image" style="width: auto;">
                        <img alt="Portada de la canción" src="{{song.portada}}" />
                        <div style="display: block; margin: 5px auto 0; text-align: center;">
                            <h2 class="song-title"> {{song.titulo}}</h2>
                            <p><strong>{{song.artista}}</strong></p>
                            {% if song.album %}
                            <button class="btn" style="margin: 12px auto 0;"
                                onclick="window.location.href='/album?id={{ song.album }}';">Ir al álbum</button>
                            {% endif %}
                        </div>
                    </div>

                    {% if tipoUsuario >= 1 %}
                    <div class="div-pannel review-form">
                        <h3>Reseña nueva</h3>
                        <textarea id="titulo" placeholder="Escribe el titulo aquí..." required></textarea>
                        <textarea id="reseña" placeholder="Escribe tu reseña aquí..." required></textarea>
                        <button class="btn publish-btn" onclick="addReseña()">Publicar</button>
                    </div>
                    {% endif %}
                </section>
                <section class="div-pannel reviews" style="align-items: center;">
                    <h2>Reseñas ({{ song.lista_resenas|length }})</h2>
                    <div class="reviews-grid">
                        {% if song.lista_resenas|length == 0 %}
                        <p id="no_reseñas" style="display: flex; justify-content: center; align-items: center;">No hay
                            reseñas.</p>
                        {% else %}
                        {% for resena in song.lista_resenas %}
                        {% if usuario.id == resena.usuario %}
                        <details class="review" id="resena-¨{{ resena.id }}">
                            <summary><img alt="Desplegar" class="chevron" height="16"
                                    src="/static/icons/site/dropdown-icon.svg"
                                    width="16" />
                                    <img alt="Usuario" height="32" width="32" src="{{resena.usuarioImg}}" style="border-radius: 15px;"/>
                                    <strong>{{resena.usuarioStr}}</strong> — <input id="editar_titulo_{{ resena.id }}" type="text" name="titulo" value="{{ resena.titulo }}" required>
                            </summary>
                            <textarea id="editar_reseña_{{ resena.id }}" name="texto"
                                required>{{ resena.reseña }}</textarea>
                            <div class="review-actions">
                                <button class="btn" title="Editar"
                                    onclick="editarReseña('{{ resena.id }}', '{{ resena.titulo }}', '{{ resena.reseña }}')"><img
                                        alt="Editar" height="20" src="/static/icons/site/edit-icon.svg"
                                        width="20" /></button>
                                <button class="btn" title="Borrar" onclick="borrarReseña('{{ resena.id }}')"><img
                                        alt="Borrar" height="20" src="/static/icons/site/delete-icon.svg"
                                        width="20" /></button>
                            </div>
                        </details>
                        {% else %}
                        <details class="review" id="resena-¨{{ resena.id }}">
                            <summary><img alt="Desplegar" class="chevron" height="16"
                                    src="/static/icons/site/dropdown-icon.svg"
                                    width="16" />
                                <img alt="Usuario" height="32" width="32" src="{{resena.usuarioImg}}" style="border-radius: 15px;"/>
                                <strong>{{resena.usuarioStr}}</strong> — {{ resena.titulo }}</summary>
                            <p>{{ resena.reseña }}</p>
                            <div class="review-actions"></div>
                        </details>
                        {% endif %}
                        {% endfor %}
                        {% endif %}
                    </div>
                </section>
            </div>
        </div>

    </main>
    <script>

        async function addReseña() {
            const titulo = document.getElementById('titulo').value;
            const reseña = document.getElementById('reseña').value;

            if (!titulo || !reseña) {
                displayMessage('error', 'Ambos campos son obligatorios, para publicar una reseña.');
            }
            else {
                const response = await fetch('/add-review', {
                    method: 'POST',
                    headers: { 'Content-Type': 'application/json' },
                    body: JSON.stringify({
                        song_id: "{{ song.id }}",
                        titulo: titulo,
                        reseña: reseña
                    })
                });

                const result = await response.json();
                if (response.ok) {
                    displayMessage('success', 'Reseña publicada con éxito.');
                    location.reload();
                } else {
                    displayMessage('error', result.error || 'Error al publicar la reseña.');
                }
            }
        }

        async function borrarReseña(reseñaId) {

            const response = await fetch('/delete-review', {
                method: 'POST',
                headers: { 'Content-Type': 'application/json' },
                body: JSON.stringify({
                    song_id: "{{ song.id }}",
                    reseña_id: reseñaId
                })
            });

            const result = await response.json();
            if (response.ok) {
                displayMessage('success', 'Reseña eliminada con éxito.');
                location.reload();
            } else {
                displayMessage('error', result.error || 'Error al eliminar la reseña.');
            }
        }

        async function editarReseña(reseñaId, rTitulo, rReseña) {
            const titulo = document.getElementById('editar_titulo_' + reseñaId).value;
            const reseña = document.getElementById('editar_reseña_' + reseñaId).value;

            if (!titulo || !reseña) {
                displayMessage('error', 'Ambos campos son obligatorios, para editar la reseña.');
            }
            else {
                if (titulo == rTitulo && reseña == rReseña) {
                    displayMessage('error', 'La reseña que se intenta editar es igual a la anterior.');
                }
                else {
                    const response = await fetch('/update-review', {
                        method: 'POST',
                        headers: { 'Content-Type': 'application/json' },
                        body: JSON.stringify({
                            reseña_id: reseñaId,
                            titulo: titulo,
                            reseña: reseña
                        })
                    });

                    const result = await response.json();
                    if (response.ok) {
                        displayMessage('success', 'Reseña actualizada con éxito.');
                        location.reload();
                    } else {
                        displayMessage('error', result.error || 'Error al actualizar la reseña.');
                    }
                }
            }
        }
        async function descargarCancion(song_id, song_title) {
            if (!song_id) {
                displayMessage('error', 'No se ha encontrado la canción solicitada.');
                return;
            }

            try {
                displayMessage('warn', 'Preparando la descarga de la canción. Esto puede tardar unos instantes... ¡Paciencia!');

                // Hacemos la solicitud GET al servidor
                const response = await fetch(`/download-song?filename=${encodeURIComponent(song_id)}&song_title=${encodeURIComponent(song_title)}`);

                // Si la respuesta no es exitosa (código 2xx)
                if (!response.ok) {
                    const error = await response.json();
                    displayMessage('error', error.error || 'Error al descargar la canción. Por favor, inténtalo de nuevo más tarde.');
                    return;
                }

                // Recibimos el archivo como blob (objeto binario)
                const blob = await response.blob();

                // Creamos una URL temporal para el archivo blob
                const url = window.URL.createObjectURL(blob);

                // Creamos un elemento de enlace <a> para iniciar la descarga
                const a = document.createElement('a');
                a.href = url;
                // Usamos song_title como nombre de archivo para la descarga
                a.download = `${song_title}.mp3`; // Descargamos el archivo con el nombre basado en song_title

                // Agregamos el enlace al DOM, le hacemos click y lo eliminamos después
                document.body.appendChild(a);
                a.click();
                document.body.removeChild(a);

                // Revocamos la URL temporal
                window.URL.revokeObjectURL(url);

                displayMessage('success', '¡Canción descargada con éxito!');
            } catch (err) {
                console.error(err);
                displayMessage('error', 'Error al descargar la canción. Por favor, inténtalo de nuevo más tarde.');
            }
        }


    </script>
    <!-- Pie de página -->
    <div id="footer-placeholder"></div>
    <div id="mini-player-placeholder"></div>

    <!-- Scripts -->
    <script src="/static/js/header.js"></script>
    <script src="/static/js/footer.js"></script>
    <script src="/static/js/dark-mode.js"></script>
    <script src="/static/js/radio.js"></script>
    <script src="/static/js/displayMessage.js"></script>
    <script src="/static/js/animations.js"></script>

    <script>
        async function toggleLike() {
            const songId = "{{song.id}}"; // Get the song ID from the template
            try {
                const response = await fetch('/like-song', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify({ id: songId }),
                });

                if (response.ok) {
                    const result = await response.json();
                    displayMessage('success', result.message || 'Acción completada con éxito.');
                    window.location.reload();
                } else {
                    displayMessage('error', 'Error al procesar la solicitud.');
                }
            } catch (error) {
                console.error('Error:', error);
                displayMessage('error', 'Ocurrió un error al intentar realizar la acción.');
            }
        }
    </script>
</body>

</html>