<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="L1-G4">
    <title>Editar Canción</title>
    <!-- Estilos -->
    <link rel="stylesheet" href="/static/css/base/style.css"> <!-- Hoja de estilos principal -->
    <link rel="stylesheet" href="/static/css/base/darkmode.css"> <!-- Hoja de estilo de modo oscuro -->
    <link rel="stylesheet" href="/static/css/base/header.css"> <!-- Hoja de estilo del header -->
    <link rel="stylesheet" href="/static/css/base/footer.css"> <!-- Hoja de estilo del footer -->
    <link rel="stylesheet" href="/static/css/music/upload.css"> <!-- Hoja de estilo de la página de subida -->
    <!-- Favicon -->
    <link rel="icon" type="image/png" href="/static/icons/favicons/favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/svg+xml" href="/static/icons/favicons/favicon.svg" />
    <link rel="shortcut icon" href="/static/icons/favicons/favicon.ico" />
    <link rel="apple-touch-icon" sizes="180x180" href="/static/icons/favicons/apple-touch-icon.png" />
    <meta name="apple-mobile-web-app-title" content="UnderSounds" />
    <link rel="manifest" href="/static/icons/favicons/site.webmanifest" />
</head>

<body>

    <div id="header-placeholder"></div>

    <main>
        <div class="div-bg">
            <br>
            <div class="div-pannel upload-page">
                <h1 class="upload-title">Editar Canción</h1>

                <form class="upload-form">

                    <div class="div-pannel-sub upload-group" style="width: auto;">
                        <label for="title">Título</label>
                        <input type="text" id="titulo" name="titulo" required placeholder="Título de la canción" value="{{song.titulo}}">

                        <label for="author">Autor</label>
                        <input type="text" id="artista" name="artista" required placeholder="Autor de la cacnión" value="{{song.artista}}">

                        <label for="collaborators">Colaboradores</label>
                        <input type="text" id="colaboradores" name="colaboradores" placeholder="Separados por coma" value="{{song.colaboradores}}"
                            required>

                        <label for="price">Precio</label>
                        <input type="text" id="precio" name="precio" placeholder="Precio de la canción" value="{{song.precio}}" required>
                    
                        <label for="description">Descripción</label>
                        <textarea id="descripcion" name="descripcion" rows="7" cols="40"
                            placeholder="Escribe una breve descripción..." required>{{song.descripcion}}</textarea>

                        <label for="is-visible">Visible al público</label>
                        <input type="checkbox" id="is-visible" name="is_visible" {% if song.visible %} checked {% endif %}>
                    </div>

                    <div class="div-pannel-sub upload-checkbox-container" style="width:auto;">
                        <h2>Géneros y Subgéneros</h2>

                        <div style="display: flex; gap: 40px;">
                            <!-- Géneros -->
                            <div>
                                <h3>Géneros</h3>
                                <div class="checkbox-item">
                                    <input type="checkbox" id="rock" {% if "rock" in song.generos %} checked {% endif %}>
                                    <label for="rock">Rock</label>
                                </div>
                                <div class="checkbox-item">
                                    <input type="checkbox" id="pop" {% if "pop" in song.generos %} checked {% endif %}>
                                    <label for="pop">Pop</label>
                                </div>
                                <div class="checkbox-item">
                                    <input type="checkbox" id="metal" {% if "metal" in song.generos %} checked {% endif %}>
                                    <label for="metal">Metal</label>
                                </div>
                                <div class="checkbox-item">
                                    <input type="checkbox" id="jazz" {% if "jazz" in song.generos %} checked {% endif %}>
                                    <label for="jazz">Jazz</label>
                                </div>
                                <div class="checkbox-item">
                                    <input type="checkbox" id="blues" {% if "blues" in song.generos %} checked {% endif %}>
                                    <label for="blues">Blues</label>
                                </div>
                                <div class="checkbox-item">
                                    <input type="checkbox" id="flamenco" {% if "flamenco" in song.generos %} checked {% endif %}>
                                    <label for="flamenco">Flamenco</label>
                                </div>
                            </div>

                            <!-- Subgéneros -->
                            <div>
                                <h3>Subgéneros</h3>
                                <div class="checkbox-item">
                                    <input type="checkbox" id="punk-rock" {% if "punk-rock" in song.generos %} checked {% endif %}>
                                    <label for="punk-rock">Punk Rock</label>
                                </div>
                                <div class="checkbox-item">
                                    <input type="checkbox" id="heavy-metal" {% if "heavy-metal" in song.generos %} checked {% endif %}>
                                    <label for="heavy-metal">Heavy Metal</label>
                                </div>
                                <div class="checkbox-item">
                                    <input type="checkbox" id="indie-pop" {% if "indie-pop" in song.generos %} checked {% endif %}>
                                    <label for="indie-pop">Indie Pop</label>
                                </div>
                                <div class="checkbox-item">
                                    <input type="checkbox" id="trap" {% if "trap" in song.generos %} checked {% endif %}>
                                    <label for="trap">Trap</label>
                                </div>
                                <div class="checkbox-item">
                                    <input type="checkbox" id="techno" {% if "techno" in song.generos %} checked {% endif %}>
                                    <label for="techno">Techno</label>
                                </div>
                                <div class="checkbox-item">
                                    <input type="checkbox" id="ska" {% if "ska" in song.generos %} checked {% endif %}>
                                    <label for="ska">Ska</label>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="div-pannel-sub upload-cover" style="width: auto;">
                        <label>Portada</label>
                        <img id="cover-preview" src="{{ song.portada }}" alt="Portada de la cancion">
                        <input type="file" id="cover-upload" accept="image/*" hidden>
                        <button type="button" class="upload-cover-button"
                            onclick="document.getElementById('cover-upload').click();">Seleccionar portada</button>
                    </div>

                </form>

                <button type="submit" onclick="postSong()">Guardar cambios</button>
            
            </div>
            <br>
            <section class="div-pannel historial" style="align-items: center;">
                <h2>Historial </h2>
                <div class="historial-grid">
                    {% if song.historial |length == 0 %}
                    <p id="no_reseñas" style="display: flex; justify-content: center; align-items: center;">No hay historial de cambios.</p>
                    {% else %}
                    {% for cambios in song.historial | reverse %}
                    <details class="historial" id="cambio -¨{{ cambios.fechaUltimaModificacion }}">
                        <summary><img alt="Desplegar" class="chevron" height="16"
                                src="/static/icons/site/dropdown-icon.svg" width="16" />
                            <strong> {{ cambios.fechaUltimaModificacion }} </strong>
                        </summary>
                        
                        <div class="historial-content">
                            <div class="text-content">
                                <h2 class="song-title"> {{cambios.titulo}}</h2>
                                <p><strong>Autor:</strong> {{cambios.artista}}</p>
                                <p><strong>Colaboradores:</strong> {{cambios.colaboradores}}</p>
                                <p><strong>Descripción:</strong> <pre> {{cambios.descripcion}} </pre></p>
                                {% if cambios.album %}
                                    <p><strong>Álbum:</strong> {{cambios.albumStr}}</p>
                                {% else %}
                                    <p><strong> La canción es un <i>Single</i></strong></p>
                                {% endif %}
                                <p><strong>Géneros:</strong> {{cambios.generos}} </p>
                                <p><strong>Precio:</strong> {{cambios.precio}}€</p>
                                <p><strong>Visible:</strong> {% if cambios.visible %} Sí {% else %} No {% endif %}</p>
                            </div>
                    
                            <div class="image-content">
                                <img id="cover-preview" src="{{ cambios.portada }}" alt="Portada de la canción">
                            </div>
                        </div>
                    
                        <div class="historial-actions">
                            <button class="btn" title="Editar" onclick="lastVersion('{{ cambios.fechaUltimaModificacion }}')">
                                <img alt="Editar" height="20" src="/static/icons/site/edit-icon.svg" width="20" /></button>
                        </div>
                    </details>
                    {% endfor %}
                    {% endif %}
                </div>
            </section>
        </div>
    </main>

    <script>
        async function postSong() {
            event.preventDefault();
            
            const songData = {
                id: "{{song.id}}",
                titulo: document.getElementById('titulo').value,
                artista: document.getElementById('artista').value,
                descripcion: document.getElementById('descripcion').value,
                colaboradores: document.getElementById('colaboradores').value,
                precio: parseFloat(document.getElementById('precio').value),
                generos: Array.from(document.querySelectorAll('.upload-checkbox-container input[type="checkbox"]:checked')).map(checkbox => checkbox.id),
                portada: document.getElementById('cover-preview').src,
                visible: document.getElementById('is-visible').checked
                // TODO: Al hacer be-stream, se debe pasar también la ruta del archuvo de audio en el backend (puede ser por ejemplo el nombre del archivo y ya)
                // TODO: La duración de la canción se puede calcular en el backend.
            };

            // Validar que todos los campos requeridos estén completos y tienen un valor válido
            if (!songData.titulo.trim()) {
                return displayMessage("error", "El campo 'Título' no puede estar vacío.");
            }
            if (!songData.artista.trim()) {
                return displayMessage("error", "El campo 'Autor' no puede estar vacío.");
            }
            if (isNaN(songData.precio) || parseFloat(songData.precio) < 0) {
                return displayMessage("error", "El campo 'Precio' debe ser un número positivo.");
            }
            if (!songData.generos.length) {
                return displayMessage("error", "Debes seleccionar al menos un género.");
            }
            // Validar que la canción esté subida
            let generosBackend = "{{ song.generos }}";  // Esto es una cadena que representa un array
            generosBackend = generosBackend.replace(/&#39;/g, "'")  // Reemplazar &#39; por '
                                            .replace(/&quot;/g, '"') // Reemplazar &quot; por "
                                            .replace(/'/g, '"');
            const generosArray = JSON.parse(generosBackend); 
            const generosCoinciden = songData.generos.every(genero => generosArray.includes(genero)) &&
                                generosArray.every(genero => songData.generos.includes(genero));

            
            if (    Boolean(songData.titulo == "{{ song.titulo }}") &&
                    Boolean(songData.artista == "{{ song.artista }}") &&
                    Boolean(songData.colaboradores == "{{ song.colaboradores }}") &&
                    Boolean(songData.descripcion.trim() == "{{song.descripcion}}".trim()) &&
                    Boolean(songData.portada == "{{ song.portada }}") &&
                    generosCoinciden &&
                    Boolean(songData.precio == "{{ song.precio }}") &&
                    Boolean(String(songData.visible) == "{{ song.visible }}".toLowerCase())) {

                return displayMessage("error", "No se han realizado cambios en la canción."); 
            }
            else{
                try {
                    const response = await fetch('/edit-song', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify(songData)
                    });

                    const result = await response.json();

                    if (response.ok) {
                        displayMessage('success', 'Canción editada exitosamente, espero un momento...');
                        setTimeout(() => {
                            window.location.href = '/studio';
                        }, 2000);
                    } else {
                        displayMessage('error', 'Error al editar la canción: ' + result.error);
                    }
                } catch (error) {
                    displayMessage('error', 'Ocurrió un error al editar la canción.');
                    console.error('Error al editar la cancion:', error);
                }
            }
        }

        async function lastVersion(fechaModificacion){
            const songData = {
                id: "{{song.id}}",
                fechaUltimaModificacion: fechaModificacion
            };

            try {
                const response = await fetch('/last-version', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify(songData)
                });

                const result = await response.json();

                if (response.ok) {
                    displayMessage('success', 'Versión restaurada exitosamente, espero un momento...');
                    setTimeout(() => {
                        window.location.href = '/studio';
                    }, 2000);
                } else {
                    displayMessage('error', 'Error al restaurar la canción: ' + result.error);
                }
            } catch (error) {
                displayMessage('error', 'Ocurrió un error al restaurar la canción.');
                console.error('Error al restaurar la canción:', error);
            }
        }
        
    </script>

    <div id="footer-placeholder"></div>

    <script src="/static/js/header.js"></script>
    <script src="/static/js/footer.js"></script>
    <script src="/static/js/dark-mode.js"></script>
    <script src="/static/js/upload-song-image.js"></script>
    <script src="/static/js/displayMessage.js"></script>
</body>

</html>