<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="L1-G4">
    <title>Nuevo Álbum</title>
    <!-- Estilos -->
    <link rel="stylesheet" href="/static/css/base/style.css"> <!-- Hoja de estilos principal -->
    <link rel="stylesheet" href="/static/css/base/darkmode.css"> <!-- Hoja de estilo de modo oscuro -->
    <link rel="stylesheet" href="/static/css/base/header.css"> <!-- Hoja de estilo del header -->
    <link rel="stylesheet" href="/static/css/base/footer.css"> <!-- Hoja de estilo del footer -->
    <link rel="stylesheet" href="/static/css/music/album-edit.css">
    <!-- Hoja de estilo de la página de subida de música -->
    <!-- Favicon -->
    <link rel="icon" type="image/png" href="/static/icons/favicons/favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/svg+xml" href="/static/icons/favicons/favicon.svg" />
    <link rel="shortcut icon" href="/static/icons/favicons/favicon.ico" />
    <link rel="apple-touch-icon" sizes="180x180" href="/static/icons/favicons/apple-touch-icon.png" />
    <meta name="apple-mobile-web-app-title" content="UnderSounds" />
    <link rel="manifest" href="/static/icons/favicons/site.webmanifest" />
</head>

<body>

    <div id="header-placeholder"></div>
    <canvas id="backgroundCanvas"></canvas>

    <main>
        <div class="div-bg">
            <br>
            <div class="div-pannel upload-page">
                <h1 class="upload-title">Subir Álbum</h1>

                <form class="upload-form" onsubmit="postAlbum(event)">
                    <div class="div-pannel-sub upload-group" style="width: auto;">
                        <label for="title">Título</label>
                        <input type="text" id="title" name="title" required placeholder="Título del álbum">

                        <label for="artista">Artista</label>
                        <input type="text" id="artista" name="artista" required placeholder="Artista del álbum">

                        <label for="collaborators">Colaboradores</label>
                        <input type="text" id="collaborators" name="collaborators" placeholder="Separados por coma">

                        <label for="price">Precio</label>
                        <input type="text" id="price" name="price" placeholder="Precio del álbum" required>

                        <label for="description">Descripción</label>
                        <textarea id="description" name="description" rows="4"
                            placeholder="Escribe una breve descripción..." required></textarea>

                        <label for="is-visible">Visible al público</label>
                        <input type="checkbox" id="is-visible" name="is_visible">
                    </div>

                    <div class="div-pannel-sub upload-checkbox-container" style="width:auto;">
                        <h2>Géneros y Subgéneros</h2>

                        <div style="display: flex; gap: 40px;">
                            <!-- Géneros -->
                            <div>
                                <h3>Géneros</h3>
                                <div class="checkbox-item">
                                    <input type="checkbox" id="rock">
                                    <label for="rock">Rock</label>
                                </div>
                                <div class="checkbox-item">
                                    <input type="checkbox" id="pop">
                                    <label for="pop">Pop</label>
                                </div>
                                <div class="checkbox-item">
                                    <input type="checkbox" id="metal">
                                    <label for="metal">Metal</label>
                                </div>
                                <div class="checkbox-item">
                                    <input type="checkbox" id="jazz">
                                    <label for="jazz">Jazz</label>
                                </div>
                                <div class="checkbox-item">
                                    <input type="checkbox" id="blues">
                                    <label for="blues">Blues</label>
                                </div>
                                <div class="checkbox-item">
                                    <input type="checkbox" id="flamenco">
                                    <label for="flamenco">Flamenco</label>
                                </div>
                            </div>

                            <!-- Subgéneros -->
                            <div>
                                <h3>Subgéneros</h3>
                                <div class="checkbox-item">
                                    <input type="checkbox" id="punk-rock">
                                    <label for="punk-rock">Punk Rock</label>
                                </div>
                                <div class="checkbox-item">
                                    <input type="checkbox" id="heavy-metal">
                                    <label for="heavy-metal">Heavy Metal</label>
                                </div>
                                <div class="checkbox-item">
                                    <input type="checkbox" id="indie-pop">
                                    <label for="indie-pop">Indie Pop</label>
                                </div>
                                <div class="checkbox-item">
                                    <input type="checkbox" id="trap">
                                    <label for="trap">Trap</label>
                                </div>
                                <div class="checkbox-item">
                                    <input type="checkbox" id="techno">
                                    <label for="techno">Techno</label>
                                </div>
                                <div class="checkbox-item">
                                    <input type="checkbox" id="ska">
                                    <label for="ska">Ska</label>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="div-pannel-sub upload-cover" style="width: auto;">
                        <label>Portada</label>
                        <img id="cover-preview" src="/static/img/utils/under-sounds-cover.webp" alt="Portada del álbum">
                        <input type="file" id="cover-upload" accept="image/*" hidden>
                        <button type="button" class="upload-cover-button"
                            onclick="document.getElementById('cover-upload').click();">Seleccionar portada</button>
                    </div>

                    <div class="div-pannel-sub upload-song" style="width: 100%;">
                        <label for="song-upload">Agregar canciones</label>
                        <div class="div-pannel-sub grid-container" style="grid-template-columns: 1fr auto; gap: 20px;">
                            <select id="song-list" name="song-list" style="height: 40px; width: 100%;">
                                <option value="" disabled selected>Selecciona una canción</option>
                                {% for song in songs %}
                                <option value="{{ song.id }}">{{ song.titulo }} · {{ song.artista }}</option>
                                {% endfor %}
                            </select>
                            <button type="button" onclick="addSong()">Añadir canción</button>
                        </div>
                        <div class="grid-biblioteca">
                            <p id="no_songs">No hay canciones añadidas.</p>
                            {% for song in songs %}
                            <div id="{{ song.id }}" class="div-pannel-sub songs-cell" style="display: none;">
                                <img src="{{ song.portada }}" class="songs-image" alt="Song Image">
                                <h3>{{ song.titulo }}</h3>
                                <p>{{ song.artista }}</p>
                                <div class="button-array">
                                    <button type="button" style="background-color: white;"
                                        onclick="window.location.href='/song?id={{song.id}}'">🔗</button>
                                    <button type="button" style="background-color: #ff4646;"
                                        onclick="removeSong('{{ song.id }}')">🗑️</button>
                                    <button type="button" style="background-color: #0077ff;"
                                        onclick="window.location.href='/edit-song?id={{song.id}}'">✏️</button>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                    <button type="submit" style="display: block; margin: 20px auto;">Subir álbum</button>
                </form>
            </div>
            <br>
        </div>
    </main>

    <script>

        function addSong() {
            event.preventDefault();
            const songList = document.getElementById('song-list');
            const selectedOption = songList.options[songList.selectedIndex];

            if (selectedOption && selectedOption.value) {
                const songId = selectedOption.value;

                // Make the selected option invisible and unselectable
                selectedOption.style.display = 'none';
                selectedOption.disabled = true;

                // Show the corresponding song div
                const songDiv = document.getElementById(songId);
                if (songDiv) {
                    songDiv.style.display = 'flex';
                }

                // Make the "no songs" message invisible
                const noSongsMessage = document.getElementById('no_songs');
                noSongsMessage.style.display = 'none';

                // Clear the selection
                songList.selectedIndex = 0; // Reset to the first option (disabled)
            }
        }

        function removeSong(songId) {
            event.preventDefault();
            const songDiv = document.getElementById(songId);
            if (songDiv) {
                songDiv.style.display = 'none';
            }

            // Make the corresponding option in the select visible and selectable again
            const songOption = document.querySelector(`option[value="${songId}"]`);
            if (songOption) {
                songOption.style.display = 'flex';
                songOption.disabled = false;
            }

            // Check if there are any visible songs left
            const remainingSongs = Array.from(document.querySelectorAll('.songs-cell')).filter(songDiv => songDiv.style.display === 'flex');
            if (remainingSongs.length === 0) {
                const noSongsMessage = document.getElementById('no_songs');
                noSongsMessage.style.display = 'flex';
            }
        }


        async function postAlbum(event) {
            event.preventDefault();

            const albumData = {
                titulo: document.getElementById('title').value,
                artista: document.getElementById('artista').value,
                descripcion: document.getElementById('description').value,
                colaboradores: document.getElementById('collaborators').value,
                precio: parseFloat(document.getElementById('price').value),
                generos: Array.from(document.querySelectorAll('.upload-checkbox-container input[type="checkbox"]:checked')).map(cb => cb.id),
                canciones: Array.from(document.querySelectorAll('.grid-biblioteca .songs-cell[style*="display: flex"]')).map(div => div.id),
                portada: document.getElementById('cover-preview').src,
                visible: document.getElementById('is-visible').checked
            };

            // Validaciones
            if (!albumData.titulo.trim()) {
                return displayMessage("error", "El campo 'Título' no puede estar vacío.");
            }
            if (!albumData.artista.trim()) {
                return displayMessage("error", "El campo 'Artista' no puede estar vacío.");
            }
            if (isNaN(albumData.precio) || albumData.precio < 0) {
                return displayMessage("error", "El campo 'Precio' debe ser un número positivo.");
            }
            if (!albumData.generos.length) {
                return displayMessage("error", "Debes seleccionar al menos un género.");
            }

            try {
                const response = await fetch('/upload-album', {
                    method: 'POST',
                    headers: { 'Content-Type': 'application/json' },
                    body: JSON.stringify(albumData)
                });

                const result = await response.json();

                if (response.ok) {
                    displayMessage('success', 'Álbum subido exitosamente');
                    window.location.href = '/studio';
                } else {
                    displayMessage('error', 'Error al subir el álbum: ' + result.error);
                }
            } catch (error) {
                console.error('Error al subir el álbum:', error);
                displayMessage('error', 'Error al subir el álbum. Por favor, inténtalo de nuevo.');
            }
        }

    </script>

    <div id="footer-placeholder"></div>

    <!-- Scripts -->
    <script src="/static/js/header.js"></script>
    <script src="/static/js/footer.js"></script>
    <script src="/static/js/dark-mode.js"></script>
    <script src="/static/js/upload-song-image.js"></script>
    <script src="/static/js/displayMessage.js"></script>
    <script src="/static/js/animations.js"></script>
</body>

</html>