<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="L1-G4">
    <title>Nueva Canción</title>
    <!-- Estilos -->
    <link rel="stylesheet" href="/static/css/base/style.css">
    <link rel="stylesheet" href="/static/css/base/darkmode.css">
    <link rel="stylesheet" href="/static/css/base/header.css">
    <link rel="stylesheet" href="/static/css/base/footer.css">
    <link rel="stylesheet" href="/static/css/music/upload.css">
    <!-- Favicon -->
    <link rel="icon" type="image/png" href="/static/icons/favicons/favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/svg+xml" href="/static/icons/favicons/favicon.svg" />
    <link rel="shortcut icon" href="/static/icons/favicons/favicon.ico" />
    <link rel="apple-touch-icon" sizes="180x180" href="/static/icons/favicons/apple-touch-icon.png" />
    <meta name="apple-mobile-web-app-title" content="UnderSounds" />
    <link rel="manifest" href="/static/icons/favicons/site.webmanifest" />
</head>

<body>

    <div id="header-placeholder"></div>
    <canvas id="backgroundCanvas"></canvas>

    <main>
        <div class="div-bg">
            <br>
            <div class="div-pannel upload-page">
                <h1 class="upload-title">Subir Canción</h1>

                <form class="upload-form">

                    <div class="div-pannel-sub upload-group" style="width: auto;">
                        <label for="title">Título</label>
                        <input type="text" id="titulo" name="titulo" required placeholder="Título de la canción">

                        <label for="artist">Autor</label>
                        <input type="text" id="artista" name="artista" required placeholder="Autor de la canción">

                        <label for="collaborators">Colaboradores</label>
                        <input type="text" id="colaboradores" name="colaboradores" placeholder="Separados por coma"
                            required>

                        <label for="price">Precio</label>
                        <input type="text" id="precio" name="precio" placeholder="Precio de la canción" required>
                    
                        <label for="description">Descripción</label>
                        <textarea id="descripcion" name="descripcion" rows="7" cols="40"
                            placeholder="Escribe una breve descripción..." required></textarea>

                        <label for="is-visible">Visible al público</label>
                        <input type="checkbox" id="is-visible" name="is_visible">
                    </div>

                    <div class="div-pannel-sub upload-checkbox-container" style="width:auto;">
                        <h2>Géneros y Subgéneros</h2>

                        <div style="display: flex; gap: 40px;">
                            <!-- Géneros -->
                            <div>
                                <h3>Géneros</h3>
                                <div class="checkbox-item">
                                    <input type="checkbox" id="rock">
                                    <label for="rock">Rock</label>
                                </div>
                                <div class="checkbox-item">
                                    <input type="checkbox" id="pop">
                                    <label for="pop">Pop</label>
                                </div>
                                <div class="checkbox-item">
                                    <input type="checkbox" id="metal">
                                    <label for="metal">Metal</label>
                                </div>
                                <div class="checkbox-item">
                                    <input type="checkbox" id="jazz">
                                    <label for="jazz">Jazz</label>
                                </div>
                                <div class="checkbox-item">
                                    <input type="checkbox" id="blues">
                                    <label for="blues">Blues</label>
                                </div>
                                <div class="checkbox-item">
                                    <input type="checkbox" id="flamenco">
                                    <label for="flamenco">Flamenco</label>
                                </div>
                            </div>

                            <!-- Subgéneros -->
                            <div>
                                <h3>Subgéneros</h3>
                                <div class="checkbox-item">
                                    <input type="checkbox" id="punk-rock">
                                    <label for="punk-rock">Punk Rock</label>
                                </div>
                                <div class="checkbox-item">
                                    <input type="checkbox" id="heavy-metal">
                                    <label for="heavy-metal">Heavy Metal</label>
                                </div>
                                <div class="checkbox-item">
                                    <input type="checkbox" id="indie-pop">
                                    <label for="indie-pop">Indie Pop</label>
                                </div>
                                <div class="checkbox-item">
                                    <input type="checkbox" id="trap">
                                    <label for="trap">Trap</label>
                                </div>
                                <div class="checkbox-item">
                                    <input type="checkbox" id="techno">
                                    <label for="techno">Techno</label>
                                </div>
                                <div class="checkbox-item">
                                    <input type="checkbox" id="ska">
                                    <label for="ska">Ska</label>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="div-pannel-sub upload-cover" style="width: auto;">
                        <label>Portada</label>
                        <img id="cover-preview" src="/static/img/utils/under-sounds-cover.webp" alt="Portada de la cancion">
                        <input type="file" id="cover-upload" accept="image/*" hidden>
                        <button type="button" class="upload-cover-button"
                            onclick="document.getElementById('cover-upload').click();">Seleccionar portada</button>
                    </div>

                </form>

                <div class="div-pannel-sub upload-song" style="width: auto;">
                    <label for="song-upload">Seleccionar canción</label>
                    <input type="file" id="song-upload" accept="audio/*">
                </div>
                <button type="submit" onclick="postSong()">Subir canción</button>
            </div>
            <br>
        </div>
    </main>

    <script>

        function getAudioDuration(file) {
            return new Promise((resolve, reject) => {
                const audio = new Audio();
                audio.src = URL.createObjectURL(file);

                audio.addEventListener("loadedmetadata", () => {
                    resolve(audio.duration); // duración en segundos
                });

                audio.addEventListener("error", (e) => {
                    reject("No se pudo cargar el archivo de audio");
                });
            });
        }

        // Convierte un File a Base64
        function fileToBase64(file) {
            return new Promise((resolve, reject) => {
                const reader = new FileReader();
                reader.readAsDataURL(file);
                reader.onload = () => resolve(reader.result);
                reader.onerror = err => reject(err);
            });
        }

        async function postSong() {
            event.preventDefault();

            // Añadir mensaje de subiendo canción
            displayMessage("warn", "Subiendo canción...");

            const pistaFile = document.getElementById('song-upload').files[0];
            if (!pistaFile) {
                return displayMessage("error", "Debes seleccionar una canción para subir.");
            }
            const duracion = await getAudioDuration(pistaFile);
            const pistaBase64 = await fileToBase64(pistaFile);

            const songData = {
                titulo: document.getElementById('titulo').value,
                artista: document.getElementById('artista').value,
                descripcion: document.getElementById('descripcion').value,
                colaboradores: document.getElementById('colaboradores').value,
                precio: parseFloat(document.getElementById('precio').value),
                generos: Array.from(document.querySelectorAll('.upload-checkbox-container input[type="checkbox"]:checked')).map(checkbox => checkbox.id),
                portada: document.getElementById('cover-preview').src,
                visible: document.getElementById('is-visible').checked,
                pista: pistaBase64,
                extension: pistaFile.name.split('.').pop(),
                duracion: duracion
            };

            // Validar que los campos no estén vacíos y tengan el formato correcto
            if (!songData.titulo.trim()) {
                return displayMessage("error", "El campo 'Título' no puede estar vacío.");
            }
            if (!songData.artista.trim()) {
                return displayMessage("error", "El campo 'Autor' no puede estar vacío.");
            }
            if (isNaN(songData.precio) || parseFloat(songData.precio) < 0) {
                return displayMessage("error", "El campo 'Precio' debe ser un número positivo.");
            }
            if (!songData.generos.length) {
                return displayMessage("error", "Debes seleccionar al menos un género.");
            }



            try {
                const response = await fetch('/upload-song', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify(songData)
                });

                const result = await response.json();

                if (response.ok) {
                    displayMessage('success', 'Canción subida exitosamente');
                    window.location.href = '/studio';
                } else {
                    // Si alguna de las respuestas falla, muestra el mensaje de error correspondiente
                    const errorMessage = result.error || fileResult.error || 'Error desconocido al subir la canción';
                    displayMessage('error', errorMessage);
                }
            } catch (error) {
                displayMessage('error', 'Error al subir la canción: ' + error.message);
            }
        }
    </script>

    <div id="footer-placeholder"></div>

    <!-- Scripts -->
    <script src="/static/js/header.js"></script>
    <script src="/static/js/footer.js"></script>
    <script src="/static/js/dark-mode.js"></script>
    <script src="/static/js/upload-song-image.js"></script>
    <script src="/static/js/displayMessage.js"></script>
    <script src="/static/js/animations.js"></script>
</body>

</html>