<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="L1-G4">
    <title>Nuevo Álbum</title>
    <!-- Estilos -->
    <link rel="stylesheet" href="/static/css/base/style.css"> <!-- Hoja de estilos principal -->
    <link rel="stylesheet" href="/static/css/base/darkmode.css"> <!-- Hoja de estilo de modo oscuro -->
    <link rel="stylesheet" href="/static/css/base/header.css"> <!-- Hoja de estilo del header -->
    <link rel="stylesheet" href="/static/css/base/footer.css"> <!-- Hoja de estilo del footer -->
    <link rel="stylesheet" href="/static/css/music/upload.css"> <!-- Hoja de estilo de la página de subida de música -->
    <!-- Favicon -->
    <link rel="icon" type="image/png" href="/static/icons/favicons/favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/svg+xml" href="/static/icons/favicons/favicon.svg" />
    <link rel="shortcut icon" href="/static/icons/favicons/favicon.ico" />
    <link rel="apple-touch-icon" sizes="180x180" href="/static/icons/favicons/apple-touch-icon.png" />
    <meta name="apple-mobile-web-app-title" content="UnderSounds" />
    <link rel="manifest" href="/static/icons/favicons/site.webmanifest" />
</head>

<body>

    <div id="header-placeholder"></div>

    <main>
        <div class="div-bg">
            <br>
            <div class="div-pannel upload-page">
                <h1 class="upload-title">Subir Álbum</h1>

                <form class="upload-form">

                    <div class="div-pannel-sub upload-group" style="width: auto;">
                        <label for="title">Título</label>
                        <input type="text" id="title" name="title" required placeholder="Título del álbum">

                        <label for="author">Autor</label>
                        <input type="text" id="author" name="author" required placeholder="Autor del álbum">

                        <label for="collaborators">Colaboradores</label>
                        <input type="text" id="collaborators" name="collaborators" placeholder="Separados por coma"
                            required>

                        <label for="price">Precio</label>
                        <input type="text" id="price" name="price" placeholder="Precio del álbum" required>
                        <label for="description">Descripción</label>
                        <textarea id="description" name="description" rows="4"
                            placeholder="Escribe una breve descripción..." required></textarea>
                    </div>

                    <div class="div-pannel-sub upload-checkbox-container" style="width:auto;">
                        <h2>Géneros y Subgéneros</h2>

                        <div style="display: flex; gap: 40px;">
                            <!-- Géneros -->
                            <div>
                                <h3>Géneros</h3>
                                <div class="checkbox-item">
                                    <input type="checkbox" id="rock">
                                    <label for="rock">Rock</label>
                                </div>
                                <div class="checkbox-item">
                                    <input type="checkbox" id="pop">
                                    <label for="pop">Pop</label>
                                </div>
                                <div class="checkbox-item">
                                    <input type="checkbox" id="metal">
                                    <label for="metal">Metal</label>
                                </div>
                                <div class="checkbox-item">
                                    <input type="checkbox" id="jazz">
                                    <label for="jazz">Jazz</label>
                                </div>
                                <div class="checkbox-item">
                                    <input type="checkbox" id="blues">
                                    <label for="blues">Blues</label>
                                </div>
                                <div class="checkbox-item">
                                    <input type="checkbox" id="flamenco">
                                    <label for="flamenco">Flamenco</label>
                                </div>
                            </div>

                            <!-- Subgéneros -->
                            <div>
                                <h3>Subgéneros</h3>
                                <div class="checkbox-item">
                                    <input type="checkbox" id="punk-rock">
                                    <label for="punk-rock">Punk Rock</label>
                                </div>
                                <div class="checkbox-item">
                                    <input type="checkbox" id="heavy-metal">
                                    <label for="heavy-metal">Heavy Metal</label>
                                </div>
                                <div class="checkbox-item">
                                    <input type="checkbox" id="indie-pop">
                                    <label for="indie-pop">Indie Pop</label>
                                </div>
                                <div class="checkbox-item">
                                    <input type="checkbox" id="trap">
                                    <label for="trap">Trap</label>
                                </div>
                                <div class="checkbox-item">
                                    <input type="checkbox" id="techno">
                                    <label for="techno">Techno</label>
                                </div>
                                <div class="checkbox-item">
                                    <input type="checkbox" id="ska">
                                    <label for="ska">Ska</label>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="div-pannel-sub upload-cover" style="width: auto;">
                        <label>Portada</label>
                        <img id="cover-preview" src="/static/img/utils/under-sounds-cover.webp" alt="Portada del álbum">
                        <input type="file" id="cover-upload" accept="image/*" hidden>
                        <button type="button" class="upload-cover-button"
                            onclick="document.getElementById('cover-upload').click();">Seleccionar portada</button>
                    </div>
                    
                    <div class="div-pannel-sub upload-song" style="width: 100%;">
                        <label for="song-upload">Agregar canciones</label>
                        <select id="song-list" name="song-list">
                            <option value="" disabled selected>Selecciona una canción</option>
                            <option value="song1">Canción 1</option>
                            <option value="song2">Canción 2</option>
                            <option value="song3">Canción 3</option>
                            <option value="song4">Canción 4</option>
                            <option value="song5">Canción 5</option>
                        </select>
                        <a href="/upload-song">
                            <button style="margin-top: 25px;">Añadir canción</button>
                        </a>
                        <div class="grid-biblioteca">
                               No hay canciones añadidas.   
                        </div>
                    </div>
                </form>

                <a href="/studio">
                    <button type="submit">Subir</button>
                </a>
            </div>
            <br>
        </div>
    </main>

    <script>
        async function postAlbum() {
            const formData = new FormData();
            formData.append('titulo', document.getElementById('title').value);
            formData.append('autor', document.getElementById('author').value);
            formData.append('descripcion', document.getElementById('description').value);
            formData.append('fecha', new Date().toISOString().split('T')[0]);
            formData.append('colaboradores', document.getElementById('collaborators').value);
            formData.append('precio', document.getElementById('price').value);

            const genres = Array.from(document.querySelectorAll('input[type="checkbox"]:checked'))
            .map(checkbox => checkbox.id);
            formData.append('generos', JSON.stringify(genres));

            const coverSrc = document.getElementById('cover-preview').src;
            formData.append('cover', coverSrc);

            try {
            const response = await fetch('/upload-album', {
                method: 'POST',
                body: formData
            });

            if (response.ok) {
                const result = await response.json();
                console.log('Album uploaded successfully:', result);
            } else {
                console.error('Failed to upload album:', response.statusText);
            }
            } catch (error) {
            console.error('Error uploading album:', error);
            }
        }

    </script>

    <div id="footer-placeholder"></div>

    <!-- Scripts -->
    <script src="/static/js/header.js"></script>
    <script src="/static/js/footer.js"></script>
    <script src="/static/js/dark-mode.js"></script>
    <script src="/static/js/upload-song-image.js"></script>

</body>

</html>