/* ========== ESPACIADO ENTRE SECCIONES ========== */
.div-pannel {
    margin-bottom: 2rem;
}

/* ========== TARJETAS DE CANCIÓN ========== */
.item-element {
    min-width: 15rem;
    max-width: 15rem;
    min-height: 25rem; 
    max-height: 25rem;
    flex: 0 0 auto;
    margin: 0 0.5rem;
}

.songs-cell {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 0.5rem;
}

.songs-image {
    width: 100%;
    aspect-ratio: 1;
    object-fit: cover;
    border-radius: 12px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.songs-cell .btn {
    width: 100%;
    margin: 5px;
}

.item-element:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease;
}

.dark-mode .item-element {
    background-color: #333;
    border: 1px solid #555;
}

.songs-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
}

.btn-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 0.5rem;
}

.songs-content h3 {
    min-height: 2.5rem; 
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2; 
    -webkit-box-orient: vertical;
}

.songs-content p {
    min-height: 1.5rem;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
}

/* ========== INFORMACIÓN PERSONAL ========== */
.grid-form {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto auto;
    gap: 1rem;
    width: 100%;
}

.grid-content-narrow {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.img-upload {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 0.5rem;
}

.textarea {
    background-color: white;
    color: #222;
    border: 1px solid #ccc;
    padding: 12px;
    border-radius: 5px;
}

/* ========== AJUSTES DE SEGURIDAD ========== */
.grid-warn-zone {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: repeat(3, auto);
    gap: 1rem;
}

.grid-warn-zone p {
    margin: 0;
    padding: 0.25rem 0;
}

.btn-danger {
    background-color: #ff4646;
    color: white;
    font-weight: bold;
    border: 1px solid #cc0000;
    padding: 0.5rem 1rem;
    border-radius: 5px;
}

.btn-danger:hover {
    background-color: #cc0000;
}

/* ========== SELECT DE PLAYLIST ========== */
.form-add-song select {
    padding: 5px 10px;
    font-size: 1rem;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.dark-mode .btn-danger {
    background-color: #ff4646;
    color: white;
    border: 1px solid #cc0000;
}

.dark-mode .textarea,
.dark-mode textarea {
    background-color: #1a1a1a;
    color: white;
    border: 1px solid #444;
}