.parent {
    display: flex;
    flex-wrap: wrap;
    gap: 30px; /* Reduce el espacio entre elementos */
    justify-content: flex-start; /* Alinea los elementos a la izquierda sin espacio extra */
    align-items: stretch;
}

.songs-cell {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 16rem;
    min-height: 16rem;
    gap: 10px;
    word-break: break-all;
}

.songs-cell p, 
.songs-cell b {
    word-break: break-all;
    width: auto;
}

.songs-image {
    width: 90%;
    aspect-ratio: 1 / 1; /* Force the image to be square */
    border-radius: 15px;
    border: 2px solid #111;
    object-fit: cover; /* Ensure the image fits within the square */
}

.dark-mode .songs-image {
    border: 2px solid #fff;
}

.song-info {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    align-items: center;
    justify-content: center;
    word-break: break-all;
}


.songs-title {
    font-size: xx-large;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
    word-break: break-all;
}

.song-love {
    height: 45px;
    width: 45px;
    transition: transform 0.3s ease-in-out;
}

.dark-mode .song-love {
    height: 45px;
    width: 45px;
    transition: transform 0.3s ease-in-out;
}

.song-comment{
    height: 40px; 
    width: 40px;
    transition: transform 0.3s ease-in-out;
}

.dark-mode .song-comment {
    height: 40px;
    width: 40px;
    transition: transform 0.3s ease-in-out;
}

.song-view {
    height: 40px; 
    width: 40px;
    transition: transform 0.3s ease-in-out;
}

.dark-mode .song-view {
    height: 40px;
    width: 40px;
    transition: transform 0.3s ease-in-out;
}

.song-info .song-visible {
    height: 45px;
    width: 45px;
    transition: transform 0.3s ease-in-out;
}

.dark-mode .song-visible {
    height: 45px;
    width: 45px;
    transition: transform 0.3s ease-in-out;
}

.delete-btn {
    align-self: flex-end;
    margin: -10px -10px 10px 0px;
    background-color: #ff4646;
    height: 38px;
    width: 38px;
    transition: transform 0.3s ease-in-out;
    text-align: left;
    padding-left: 9px; /* Shift text inside the button 9 pixels to the left */
}

.delete-btn:hover {
    background-color: #d73b3b;;
}

.add-btn {
    align-self: right;
    margin: -10px -10px 10px 0px;
    background-color: #00ca3d;
    height: 100%;
    transition: transform 0.3s ease-in-out;
    text-align: left;
    padding-left: 9px; /* Shift text inside the button 9 pixels to the left */
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.add-btn:hover {
    background-color: #00ca3d;
}

.dark-mode .delete-btn {
    background-color: #ff4646;
}

.dark-mode .add-btn {
    background-color: #00ca3d;
}

.grid-option {
    display: grid;
    grid-template-columns: auto auto; /* Two columns with independent widths */
    grid-template-rows: auto; /* One row */
    gap: 20px; /* Optional: Adjust spacing between items */
    justify-content: center; /* Center the grid items horizontally */
    align-items: center; /* Center the grid items vertically */
}

label {
    margin: 0;
}

