<footer class="footer">
    <div class="footer-container">

        <!-- Sección de enlaces -->
        <div class="footer-links">
            <div class="footer-column">
                <h3>Navegación</h3>
                <ul>
                    <li><a href="/">Inicio</a></li>
                {% if user %}
                    <li><a href="/profile">Perfil</a></li>
                    {% if user.esArtista %}
                    <li><a href="/studio">Studio</a></li>
                    <li><a href="/upload-song">Subir canción</a></li>
                    <li><a href="/upload-album">Subir álbum</a></li>
                    {% endif %}
                {% endif %}
                </ul>
            </div>

            <div class="footer-column">
                <h3>Social</h3>
                <ul>
                    <li><a href="https://www.youtube.com/">YouTube</a></li>
                    <li><a href="https://www.facebook.com">Facebook</a></li>
                    <li><a href="https://www.instagram.com/">Instagram</a></li>
                    <li><a href="https://x.com">Twitter</a></li>
                </ul>
            </div>

            <div class="footer-column">
                <h3>Contacto</h3>
                <ul>
                    <li><a href="/about">Acerca de y Copyright</a></li>
                    <li><a href="/faqs">FAQs</a></li>
                    <li><a href="/contact">Contáctanos</a></li>
                </ul>
            </div>
        </div>

        <!-- Sección de logo e idioma -->
        <div class="footer-brand">
            <div style="margin-right: 10%;">
                <img class="footer-logo" src="/static/img/utils/logo-light.png" alt="Logo de UnderSounds">
            </div>
            <div class="settings">
                <button class="language-btn">Idioma: Español</button>
                <button class="contrast-btn">Contraste</button>
            </div>
        </div>

    </div>

    <!-- Copyright -->
    <div class="footer-copyright">
        <p>Copyright © 2025 <strong>[UnderSounds]</strong>. Todos los derechos reservados.</p>
    </div>

</footer>