<header>
    <nav class="navbar">
        <div class="nav-top">
            <div class="container">
                <a href="/">
                    <img class="logo" src="/static/img/utils/logo-light.png" alt="Logo de UnderSounds">
                </a>
            </div>

            <form class="search-bar" role="search" aria-label="Buscar contenido">
                <input type="text" placeholder="Buscar..." aria-label="Campo de búsqueda">
                <button type="submit" class="search-button" aria-label="Buscar">🔍</button>
            </form>

            <div class="auth-buttons">
                {% if user %}
                <div class="profile-container">
                    <a href="/profile"><img class="profile-picture" src="{{ user.imagen }}" alt="Foto de perfil"></a>
                    <a href="/profile"><p>{{ user.nombre }}</p></a>
                </div>
                <a href="/cart">
                    <img class="shop" src="/static/icons/site/cart-icon-light.svg" alt="carrito">
                </a>
                <button class="logout-btn" onclick="window.location.href='/logout'">Cerrar Sesión</button>
                {% else %}
                <button class="login-btn" onclick="window.location.href='/login'">Iniciar Sesión</button>
                <button class="signup-btn" onclick="window.location.href='/register'">Registrarse</button>
                {% endif %}

            </div>
        </div>

        <div class="nav-bottom">
            <ul>
                <li><a href="/profile">🏠 Inicio</a></li>
                <li><a href="/merch">🎁 Tienda</a></li>
                <li><a href="/about">ℹ Acerca de</a></li>
                <li><a href="/contact">✉ Contáctanos</a></li>
                <li><a href="/faqs">❔ FAQs</a></li>
                {% if user %}
                <li><a href="/profile">🎵 Biblioteca</a></li>
                <li><a href="/cart">🛒 Carrito</a></li>
                {% if user.esArtista %}
                <li><a href="/studio">🎙 Studio</a></li>
                <li><a href="/upload-song">🔼 Subir canción</a></li>
                <li><a href="/upload-album">🔼 Subir álbum</a></li>
                {% endif %}
                {% endif %}
            </ul>
        </div>
    </nav>
</header>