<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8"> <!-- Codificación de caracteres -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> <!-- Escalabilidad de la página -->
    <meta name="author" content="L1-G4">
    <title>Sobre nosotros</title> <!-- Título que aparece en la pestaña del navegador -->
    <!-- Estilos -->
    <link rel="stylesheet" href="/static/css/base/style.css"> <!-- Hoja de estilos principal -->
    <link rel="stylesheet" href="/static/css/base/darkmode.css"> <!-- Hoja de estilo de modo oscuro -->
    <link rel="stylesheet" href="/static/css/base/header.css"> <!-- Hoja de estilo del header -->
    <link rel="stylesheet" href="/static/css/base/footer.css"> <!-- Hoja de estilo del footer -->
    <link rel="stylesheet" href="/static/css/pages/about.css"> <!-- Hoja de estilo Acerca de y Copyright -->
    <!-- Favicon -->
    <link rel="icon" type="image/png" href="/static/icons/favicons/favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/svg+xml" href="/static/icons/favicons/favicon.svg" />
    <link rel="shortcut icon" href="/static/icons/favicons/favicon.ico" />
    <link rel="apple-touch-icon" sizes="180x180" href="/static/icons/favicons/apple-touch-icon.png" />
    <meta name="apple-mobile-web-app-title" content="UnderSounds" />
    <link rel="manifest" href="/static/icons/favicons/site.webmanifest" />
</head>

<body>

    <!-- Cabecera -->
    <div id="header-placeholder"></div>
    <canvas id="backgroundCanvas"></canvas>

    <!-- Contenido principal -->
    <main>
        <div class="div-bg">
            <div class="grid-container">
                <div style="grid-area: 1 / 1 / 2 / 2;">
                    <div class="div-pannel">
                        <h2>Sobre Undersounds</h2>
                        <p>Con UnderSounds es facilísimo encontrar la música o podcasts perfectos para cada momento, en
                            el ordenador, el teléfono, la tablet y más dispositivos.</p>
                        <p>En UnderSounds encontrarás millones de canciones y episodios. Así, tanto si estás conduciendo
                            como si estás haciendo ejercicio, de fiesta o tomándote un descanso, siempre tendrás a mano
                            la música y podcasts que más van contigo. Elige lo que quieres escuchar o déjate sorprender
                            por UnderSounds.</p>
                        <p>También puedes explorar las colecciones de amigos, artistas y famosos, o crear una emisora de
                            radio y escucharla a tus anchas.</p>
                        <p>Pon banda sonora a tu vida con UnderSounds. Suscríbete o escucha contenido gratis.</p>
                    </div>
                </div>

                <div style="grid-area: 1 / 2 / 2 / 3;">
                    <div class="div-pannel">
                        <h3>Servicio de asistencia y atención al cliente</h3>
                        <li><strong>Sitio de ayuda.</strong> Echa un vistazo a nuestro sitio de ayuda, donde puedes
                            encontrar respuestas a tus preguntas y descubrir cómo sacarle el máximo partido a
                            UnderSounds.</li>
                        <li><strong>Comunidad.</strong> Recibe asistencia rápida de usuarios expertos de UnderSounds. Si
                            no encuentras respuesta a tu pregunta, publicala y alguien te responderá rápidamente.
                            También puedes sugerir o votar nuevas ideas para Spotify o simplemente hablar de música con
                            otros fans.</li>
                        <li><strong>Contacto.</strong> Si no consigues encontrar la solución en el sitio de asistencia
                            ni en la comunidad, ponte en contacto con nuestro servicio de atención al cliente.</li>
                        <li><strong>@UnderSoundsAyuda.</strong> ¿Prefieres usar las redes sociales? Solo tienes que
                            enviar un turf a nuestro equipo y ellos te echarán una mano.</li>
                    </div>
                </div>

                <div style="grid-area: 2 / 1 / 3 / 3;">
                    <div class="div-pannel">
                        <h2>Copyright</h2>
                        <p><strong>Copyright © 2025 [UnderSounds]. Todos los derechos reservados.</strong></p>
                        <p>El contenido de esta plataforma, incluidos pero no limitados a música, imágenes y textos,
                            está protegido por las leyes de propiedad intelectual. Queda prohibida la reproducción,
                            distribución o transmisión de cualquier material sin el consentimiento previo de los
                            titulares de los derechos. Todos los nombres, logotipos y marcas son propiedad de sus
                            respectivos propietarios.</p>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <!-- Pie de página -->
    <div id="footer-placeholder"></div>

    <!-- Scripts -->
    <script src="/static/js/header.js"></script>
    <script src="/static/js/footer.js"></script>
    <script src="/static/js/dark-mode.js"></script>
    <script src="/static/js/animations.js"></script>

</body>

</html>