<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8"> <!-- Codificación de caracteres -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> <!-- Escalabilidad de la página -->
    <meta name="author" content="L1-G4">
    <title>UnderSounds</title> <!-- Título que aparece en la pestaña del navegador -->
    <!-- Estilos -->
    <link rel="stylesheet" href="/static/css/base/style.css"> <!-- Hoja de estilos principal -->
    <link rel="stylesheet" href="/static/css/base/darkmode.css"> <!-- Hoja de estilo de modo oscuro -->
    <link rel="stylesheet" href="/static/css/base/header.css"> <!-- Hoja de estilo del header -->
    <link rel="stylesheet" href="/static/css/base/footer.css"> <!-- Hoja de estilo del footer -->
    <link rel="stylesheet" href="/static/css/pages/index.css"> <!-- Hoja de estilo del inicio -->
    <!-- Favicon -->
    <link rel="icon" type="image/png" href="/static/icons/favicons/favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/svg+xml" href="/static/icons/favicons/favicon.svg" />
    <link rel="shortcut icon" href="/static/icons/favicons/favicon.ico" />
    <link rel="apple-touch-icon" sizes="180x180" href="/static/icons/favicons/apple-touch-icon.png" />
    <meta name="apple-mobile-web-app-title" content="UnderSounds" />
    <link rel="manifest" href="/static/icons/favicons/site.webmanifest" />
</head>

<body>

    <!-- Barra de navegación -->
    <div id="header-placeholder"></div>

    <!-- Contenido principal -->
    <main>
        <div class="div-bg">
            <section>
                <h1><i>Conciertos y festivales</i></h1>
                <br>
                <div class="div-pannel">
                    <div class="grid-entradas">
                        <div style="grid-area: 1 / 1 / 2 / 2;">
                            <img src="/static/img/utils/tomorrowland.webp" width="100%">
                        </div>
                        <div style="grid-area: 1 / 2 / 2 / 3; text-align: justify;">
                            <div class="grid-info div-pannel-sub">
                                <h1>Tomorrowland</h1>
                                <p>El momento del año que estabas esperando ha llegado.</p>
                                <p> No pierdas la oportunidad de ser parte del festival de música electrónica más mágico
                                    del mundo. Donde los escenarios de ensueño, los artistas más legendarios y una
                                    comunidad global te esperan para crear recuerdos inolvidables.</p>
                                <p>✈️ ¡El viaje comienza ahora! Asegura tu lugar en Tomorrowland 2024 y sé parte de la
                                    historia.</p>
                                <p>Compra tus entradas hoy. The People of Tomorrow te esperan… ¿Estás listo? </p>
                                <button onclick="window.location.href='https://www.tomorrowland.com/home/'"
                                    class="button-comprar-entradas">Comprar entradas</button>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <br>
                <br>
                <h1><i>Nuevos lanzamientos</i></h1>
                <br>
                <div class="div-carrusel div-pannel">
                    <div style="margin-right: 1rem; margin-left: 1rem;">
                        <a href="/song"><img src="/static/img/releases/release-03.webp" class="foto-artista"></a>
                        <p class="texto-producto">Espresso</p>
                        <form action="/cart" method="post">
                            <input type="hidden" name="action" value="add">
                            <input type="hidden" name="item_id" value="1">
                            <input type="hidden" name="item_name" value="Espresso">
                            <input type="hidden" name="item_image" value="https://m.media-amazon.com/images/I/411iqwJRPoL._UXNaN_FMjpg_QL85_.jpg">
                            <input type="hidden" name="artist_name" value="Sabrina Carpenter">
                            <input type="hidden" name="item_desc" value="Cancion">
                            <input type="hidden" name="item_precio" value="3.99"> 
                            <input type="hidden" name="item_usuario" value="2">                 
                            <button type="submit" class="button-comprar-item">Añadir</button>
                        </form>
                    </div>
                    <div style="margin-right: 1rem; margin-left: 1rem;">
                        <a href="/song"><img src="/static/img/releases/release-03.webp" class="foto-artista"></a>
                        <p class="texto-producto">Espresso test</p>
                        <form action="/cart" method="post">
                            <input type="hidden" name="action" value="add">
                            <input type="hidden" name="item_id" value="2">
                            <input type="hidden" name="item_name" value="Espresso">
                            <input type="hidden" name="item_image" value="https://m.media-amazon.com/images/I/411iqwJRPoL._UXNaN_FMjpg_QL85_.jpg">
                            <input type="hidden" name="artist_name" value="Sabrina Carpenter">
                            <input type="hidden" name="item_desc" value="Cancion">
                            <input type="hidden" name="item_precio" value="3.99"> 
                            <input type="hidden" name="item_usuario" value="2">                 
                            <button type="submit" class="button-comprar-item">Añadir</button>
                        </form>
                    </div>
                    <div style="margin-right: 1rem; margin-left: 1rem;">
                        <a href="/song"><img src="/static/img/releases/release-03.webp" class="foto-artista"></a>
                        <p class="texto-producto">Espresso</p>
                        <form action="/cart" method="post">
                            <input type="hidden" name="action" value="add">
                            <input type="hidden" name="item_id" value="3">
                            <input type="hidden" name="item_name" value="Espresso">
                            <input type="hidden" name="item_image" value="https://m.media-amazon.com/images/I/411iqwJRPoL._UXNaN_FMjpg_QL85_.jpg">
                            <input type="hidden" name="artist_name" value="Sabrina Carpenter">
                            <input type="hidden" name="item_desc" value="Cancion">
                            <input type="hidden" name="item_precio" value="3.99"> 
                            <input type="hidden" name="item_usuario" value="2">                 
                            <button type="submit" class="button-comprar-item">Añadir</button>
                        </form>
                        <button 
                            id="play-btn" 
                            type="button" 
                            data-source="{{ song.pista }}" 
                            data-title="{{ song.titulo }}" 
                            data-artist="{{ song.artista }}" 
                            data-cover="{{ song.portada }}">
                            Reproducir
                        </button>
                    </div>
                    <div style="margin-right: 1rem; margin-left: 1rem;">
                        <a href="/song"><img src="/static/img/releases/release-03.webp" class="foto-artista"></a>
                        <p class="texto-producto">Espresso</p>
                        <form action="/cart" method="post">
                            <input type="hidden" name="action" value="add">
                            <input type="hidden" name="item_id" value="4">
                            <input type="hidden" name="item_name" value="Espresso">
                            <input type="hidden" name="item_image" value="https://m.media-amazon.com/images/I/411iqwJRPoL._UXNaN_FMjpg_QL85_.jpg">
                            <input type="hidden" name="artist_name" value="Sabrina Carpenter">
                            <input type="hidden" name="item_desc" value="Cancion">
                            <input type="hidden" name="item_precio" value="3.99"> 
                            <input type="hidden" name="item_usuario" value="2">                 
                            <button type="submit" class="button-comprar-item">Añadir</button>
                        </form>
                    </div>
                </div>
                <br>
                <br>
                <br>
                <h1><i>Géneros que te podrían interesar</i></h1>
                <br>
                <div class="div-carrusel div-pannel">
                    <div style="margin-right: 1rem; margin-left: 1rem;">
                        <img src="/static/img/genres/pop.webp" class="foto-genero">
                        <p class="texto-producto">Pop</p>
                        <button class="button-ver-más">Ver más</button>
                    </div>
                    <div style="margin-right: 1rem; margin-left: 1rem;">
                        <img src="/static/img/genres/rock.webp" class="foto-genero">
                        <p class="texto-producto">Rock</p>
                        <button class="button-ver-más">Ver más</button>
                    </div>
                    <div style="margin-right: 1rem; margin-left: 1rem;">
                        <img src="/static/img/genres/rap.webp" class="foto-genero">
                        <p class="texto-producto">Trap</p>
                        <button class="button-ver-más">Ver más</button>
                    </div>
                    <div style="margin-right: 1rem; margin-left: 1rem;">
                        <img src="/static/img/genres/jazz.webp" class="foto-genero">
                        <p class="texto-producto">Jazz</p>
                        <button class="button-ver-más">Ver más</button>
                    </div>
                </div>
            </section>
        </div>
    </main>

    <!-- Pie de página -->
    <div id="footer-placeholder"></div>
    <div id="mini-player-placeholder"></div>

    <!-- Scripts -->
    <script src="/static/js/header.js"></script>
    <script src="/static/js/footer.js"></script>
    <script src="/static/js/dark-mode.js"></script>
    <script src="/static/js/radio.js"></script>

</body>

</html>