<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8"> <!-- Codificación de caracteres -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> <!-- Escalabilidad de la página -->
    <meta name="author" content="L1-G4">
    <title>UnderSounds</title> <!-- Título que aparece en la pestaña del navegador -->
    <!-- Estilos -->
    <link rel="stylesheet" href="/static/css/base/style.css"> <!-- Hoja de estilos principal -->
    <link rel="stylesheet" href="/static/css/base/darkmode.css"> <!-- Hoja de estilo de modo oscuro -->
    <link rel="stylesheet" href="/static/css/pages/index.css"> <!-- Hoja de estilo del inicio -->
    <link rel="stylesheet" href="/static/css/base/header.css">
    <link rel="stylesheet" href="/static/css/base/footer.css"
    <!-- Favicon -->
    <link rel="icon" type="image/png" href="/static/icons/favicons/favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/svg+xml" href="/static/icons/favicons/favicon.svg" />
    <link rel="shortcut icon" href="/static/icons/favicons/favicon.ico" />
    <link rel="apple-touch-icon" sizes="180x180" href="/static/icons/favicons/apple-touch-icon.png" />
    <meta name="apple-mobile-web-app-title" content="UnderSounds" />
    <link rel="manifest" href="/static/icons/favicons/site.webmanifest" />
</head>

<body data-tipo-usuario="{{ tipoUsuario if tipoUsuario else '' }}">

    <!-- Barra de navegación -->
    <div id="header-placeholder"></div>

    <!-- Contenido principal -->
    <canvas id="backgroundCanvas"></canvas>
    <main>
        <div class="div-bg">
            <section>
                <h1><i>Conciertos y festivales</i></h1>
                <br>
                <div class="div-pannel">
                    <div class="grid-entradas">
                        <div style="grid-area: 1 / 1 / 2 / 2;">
                            <img src="/static/img/utils/tomorrowland.webp" width="100%">
                        </div>
                        <div style="grid-area: 1 / 2 / 2 / 3; text-align: justify;">
                            <div class="grid-info div-pannel-sub">
                                <h1>Tomorrowland</h1>
                                <p>El momento del año que estabas esperando ha llegado.</p>
                                <p> No pierdas la oportunidad de ser parte del festival de música electrónica más mágico
                                    del mundo...</p>
                                <p>✈️ ¡El viaje comienza ahora!</p>
                                <button onclick="window.location.href='https://www.tomorrowland.com/home/'"
                                    class="button-comprar-entradas">Comprar entradas</button>
                            </div>
                        </div>
                    </div>
                </div>

                <br><br><br>

                <h1><i>Nuevos lanzamientos</i></h1>
                <br>
                <div class="div-carrusel div-pannel" id="carrusel-nuevos-lanzamientos">
                    {% for item in songs [-6:] %}
                    <div class="div-pannel-sub" style="margin: 0 2rem; width: 13rem;">
                        <img src="{{ item.portada }}" onclick="window.location.href='/song?id={{ item.id }}'"
                            class="foto-artista">
                        <p class="texto-producto">{{ item.titulo }}</p>
                        <p class="texto-artista">{{ item.artista }}</p>
                        {% if tipoUsuario %}
                        <form action="/cart" method="post">
                            <input type="hidden" name="action" value="add">
                            <input type="hidden" name="item_id" value="{{ item.id }}">
                            <input type="hidden" name="item_name" value="{{ item.titulo }}">
                            <input type="hidden" name="item_image" value="{{ item.portada }}">
                            <input type="hidden" name="artist_name" value="{{ item.artista }}">
                            <input type="hidden" name="item_desc" value="{{ item.descripcion }}">
                            <input type="hidden" name="item_precio" value="{{ item.precio }}">
                            <button type="submit" class="button-comprar-item">Añadir</button>
                        </form>
                        {% endif %}
                    </div>
                    {% endfor %}
                </div>

                <br><br><br>

                <h1><i>Nuevos artistas</i></h1>
                <br>
                <div class="div-carrusel div-pannel" id="carrusel-nuevos-lanzamientos">
                    {% for item in artistas [-6:] %}
                    <div class="div-pannel-sub" style="margin: 0 2rem; width: 13rem;">
                        <img src="{{ item.imagen }}" onclick="window.location.href='/artista?id={{ item.id }}'"
                            class="foto-artista">
                        <p class="texto-producto">{{ item.nombre }}</p>
                    </div>
                    {% endfor %}
                </div>

                <br><br><br>

                <h1><i>Nuevos albumes</i></h1>
                <br>
                <div class="div-carrusel div-pannel" id="carrusel-nuevos-lanzamientos">
                    {% for item in albums [-6:] %}
                    <div class="div-pannel-sub" style="margin: 0 2rem; width: 13rem;">
                        <img src="{{ item.portada }}" onclick="window.location.href='/album?id={{ item.id }}'"
                            class="foto-artista">
                        <p class="texto-producto">{{ item.titulo }}</p>
                        <p class="texto-artista">{{ item.artista }}</p>
                        {% if tipoUsuario %}
                        <form action="/cart" method="post">
                            <input type="hidden" name="action" value="add">
                            <input type="hidden" name="item_id" value="{{ item.id }}">
                            <input type="hidden" name="item_name" value="{{ item.titulo }}">
                            <input type="hidden" name="item_image" value="{{ item.portada }}">
                            <input type="hidden" name="artist_name" value="{{ item.artista }}">
                            <input type="hidden" name="item_desc" value="{{ item.descripcion }}">
                            <input type="hidden" name="item_precio" value="{{ item.precio }}">
                            <button type="submit" class="button-comprar-item">Añadir</button>
                        </form>
                        {% endif %}
                    </div>
                    {% endfor %}
                </div>

                <h1><i>Géneros que te podrían interesar</i></h1>
                <br>
                <div id="msg-spawner"></div>
                <div class="div-carrusel div-pannel">
                    {% for genero in genres %}
                    {% if not genero.esSubGen %}
                    <div style="margin: 0 1rem;">
                        <!--form class="generos">
                                    <input type="hidden" name="action" value="filtrar-genero">
                                    <button type="submit" style="border: none; background: none; padding: 0;">
                                        <img id="ver-canciones" src="/static/img/genres/{{genero.id}}.webp" 
                                        alt="Ver más canciones de {{genero.nombre}}" class="foto-genero"
                                        data-genero-id="{{genero.id}}">
                                    </button>
                                </form-->
                        <button style="border: none; background: none; padding: 0;">
                            <img class="foto-genero" src="/static/img/genres/{{genero.id}}.webp"
                                alt="Ver más canciones de {{genero.nombre}}" data-genero-id="{{genero.id}}">
                        </button>
                        <p class="texto-producto">{{ genero.nombre }}</p>
                    </div>
                    {% endif %}
                    {% endfor %}
                </div>

                <h1 id="titulo_canciones_filtradas" style="display: none;"><i>Canciones de este género</i></h1>
                <div class="div-carrusel div-pannel" id="canciones-filtradas-placeholder" style="display: none;">
                </div>
            </section>
        </div>
    </main>

    <div id="footer-placeholder"></div>
    <div id="mini-player-placeholder"></div>

    <script src="/static/js/header.js"></script>
    <script src="/static/js/footer.js"></script>
    <script src="/static/js/dark-mode.js"></script>
    <script src="/static/js/canciones-filtradas.js"></script>
    <script src="/static/js/displayMessage.js"></script>
    <script src="/static/js/radio.js"></script>
    <script src="/static/js/animations.js"></script>

</body>


</html>