<!DOCTYPE html>
<html lang="es">

<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="author" content="L1-G4">
<title>UnderSounds</title>
<link rel="stylesheet" href="/static/css/base/style.css">
<link rel="stylesheet" href="/static/css/base/darkmode.css">
<link rel="stylesheet" href="/static/css/base/header.css">
<link rel="stylesheet" href="/static/css/base/footer.css">
<link rel="stylesheet" href="/static/css/pages/index.css">
<link rel="icon" href="/static/icons/favicons/favicon.ico" />
</head>

<body>

<div id="header-placeholder"></div>

<main>
    <div class="div-bg">
        <section>
            <h1><i>Conciertos y festivales</i></h1>
            <br>
            <div class="div-pannel">
                <div class="grid-entradas">
                    <div style="grid-area: 1 / 1 / 2 / 2;">
                        <img src="/static/img/utils/tomorrowland.webp" width="100%">
                    </div>
                    <div style="grid-area: 1 / 2 / 2 / 3; text-align: justify;">
                        <div class="grid-info div-pannel-sub">
                            <h1>Tomorrowland</h1>
                            <p>El momento del año que estabas esperando ha llegado.</p>
                            <p> No pierdas la oportunidad de ser parte del festival de música electrónica más mágico
                                del mundo...</p>
                            <p>✈️ ¡El viaje comienza ahora!</p>
                            <button onclick="window.location.href='https://www.tomorrowland.com/home/'"
                                class="button-comprar-entradas">Comprar entradas</button>
                        </div>
                    </div>
                </div>
            </div>

            <br><br><br>

            <h1><i>Nuevos lanzamientos</i></h1>
            <br>
            <div class="div-carrusel div-pannel">
                {% for item in lanzamientos %}
                <div style="margin: 0 1rem;">
                    <a href="/song/{{ item.id }}"><img src="{{ item.portada }}" class="foto-artista"></a>
                    <p class="texto-producto">{{ item.titulo }}</p>
                    <form action="/cart" method="post">
                        <input type="hidden" name="action" value="add">
                        <input type="hidden" name="item_id" value="{{ item.id }}">
                        <input type="hidden" name="item_titulo" value="{{ item.titulo }}">
                        <input type="hidden" name="item_portada" value="{{ item.portada }}">
                        <input type="hidden" name="artist_name" value="{{ item.artista }}">
                        <input type="hidden" name="item_desc" value="{{ item.descripcion }}">
                        <input type="hidden" name="item_precio" value="{{ item.precio }}">
                        <input type="hidden" name="item_usuario" value="{{ usuario_id }}">
                        <button type="submit" class="button-comprar-item">Añadir</button>
                    </form>
                </div>
                {% endfor %}
            </div>

            <br><br><br>

            <h1><i>Géneros que te podrían interesar</i></h1>
            <br>
            <div class="div-carrusel div-pannel">
                {% for genero in generos %}
                <div style="margin: 0 1rem;">
                    <img src="{{ genero.imagen }}" class="foto-genero">
                    <p class="texto-producto">{{ genero.nombre }}</p>
                    <button class="button-ver-más">Ver más</button>
                </div>
                {% endfor %}
            </div>
        </section>
    </div>
</main>

<div id="footer-placeholder"></div>

<script src="/static/js/header.js"></script>
<script src="/static/js/footer.js"></script>
<script src="/static/js/dark-mode.js"></script>
</body>
</html>