<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8"> <!-- Codificación de caracteres -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> <!-- Escalabilidad de la página -->
    <meta name="author" content="L1-G4">
    <title>Sobre nosotros</title> <!-- Título que aparece en la pestaña del navegador -->
    <!-- Estilos -->
    <link rel="stylesheet" href="/static/css/base/style.css"> <!-- Hoja de estilos principal -->
    <link rel="stylesheet" href="/static/css/base/darkmode.css"> <!-- Hoja de estilo de modo oscuro -->
    <link rel="stylesheet" href="/static/css/base/header.css"> <!-- Hoja de estilo del header -->
    <link rel="stylesheet" href="/static/css/base/footer.css"> <!-- Hoja de estilo del footer -->
    <link rel="stylesheet" href="/static/css/pages/search.css"> <!-- Hoja de estilo Acerca de y Copyright -->
    <!-- Favicon -->
    <link rel="icon" type="image/png" href="/static/icons/favicons/favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/svg+xml" href="/static/icons/favicons/favicon.svg" />
    <link rel="shortcut icon" href="/static/icons/favicons/favicon.ico" />
    <link rel="apple-touch-icon" sizes="180x180" href="/static/icons/favicons/apple-touch-icon.png" />
    <meta name="apple-mobile-web-app-title" content="UnderSounds" />
    <link rel="manifest" href="/static/icons/favicons/site.webmanifest" />
</head>

<body>

    <!-- Cabecera -->
    <div id="header-placeholder"></div>
    <canvas id="backgroundCanvas"></canvas>

    <!-- Contenido principal -->
    <main>
        <div class="div-bg">
            <div class="div-pannel" style="position: relative; display: flex; align-items: flex-start;">
                <h2>Resultados de la búsqueda ({{ items|length }})</h2>
                <br>
                <div class="grid-list">

                    {% if items|length == 0 %}
                    <div>
                        <center><p>No hay resultados para la busqueda.</p></center>
                        <br>
                        <br>
                        <div class="div-pannel-sub" style="width: 40%;">
                            <p>Prueba a utilizar el siguiente formato para mejorar la búsqueda:</p>
                            <br>
                            <ul style="margin-left: 30px;">
                                <li>Busqueda por nombre: Escribe en la caja de texto para buscar.</li>
                                <li>Busqueda por género: Escribe '#' seguido del ID de un género. Puedes concatenar varios usando espacios.</li>
                                <li>Busqueda por tiempo: Escribe '@' seguido de una fecha en formato AAAA-MM-DD para buscar todos los resultados después de la fecha indicada.</li>
                                <li>Busqueda por elemento: Escribe '&' seguido del tipo del elemento a buscar (Artistas, Albumes o Canciones).</li>
                            </ul>
                            <br>
                            <ul style="margin-left: 30px;">
                                <li>Ejemplo: "mario casas"</li>
                                <li>Ejemplo: "#rock #heavy-metal"</li>
                                <li>Ejemplo: "@2025-04-27"</li>
                                <li>Ejemplo: "&artistas"</li>
                            </ul>
                            <br>
                            <p>Recuerde que, actualmente, no se permiten mezclar varios tipos de busqueda al mismo tiempo.</p>
                        </div>
                        <br>
                        <br>
                    </div>
                    {% endif %}

                    {% for item in items %}
                    <div class="parent div-pannel-sub">
                        <div class="div-img">
                            <img class="item-img" src="{{ item.portada }}" alt="Imagen de búsqueda" style="height:inherit;">
                        </div>
                        <div class="div-title">
                            <h3>{{ item.nombre }}</h3>
                            <i>{{ item.tipo }}</i>
                        </div>
                        <div class="div-desc">
                            <p>{{ item.descripcion }}</p>
                        </div>
                        <div class="div-buttons">
                            <button class="btn-small" onclick="window.location.href='{{ item.url }}'">Ver</button>
                        </div>
                    </div>
                    {% endfor %}

                </div>
            </div>
        </div>
    </main>

    <!-- Pie de página -->
    <div id="footer-placeholder"></div>

    <!-- Scripts -->
    <script src="/static/js/header.js"></script>
    <script src="/static/js/footer.js"></script>
    <script src="/static/js/dark-mode.js"></script>
    <script src="/static/js/animations.js"></script>

</body>

</html>