/* Contenedor genérico de dos columnas de igual tamaño */
.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 2fr 1fr;
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
}

