.grid-entradas {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
    border: 2px solid black;
    border-radius: 10px;
    width: auto;
    padding: 2%;
}

.dark-mode .grid-entradas {
    border: 2px solid white;
}

.grid-info {
    display: grid;
    grid-auto-rows: minmax(10px, auto); /* Cada fila puede tener un tamaño independiente */
    grid-row-gap: 2rem;
}

.button-comprar-entradas{
    justify-self: center;
    width: 60%;
    height: 5vh;
}

h1{
    text-align: left;
    font-size: 4.5vh;
    margin-left: 5px; 
}

h2 {
    text-align: left;
    font-size: 2.6vh;
    margin-left: 5px;
    margin-top: 25px;
}

.compra-button {
    border-radius: 20px;
    width: 50vh;
    height: 7vh;
}

.dark-mode .contenedor,
.dark-mode .banner {
    border: 2px solid white;
}

.button-comprar-item {
    padding: 10px;
    cursor: pointer;
    width: 100px; /* Ancho del botón */
    border-radius: 25px;
    text-align: center;
    margin-top: 10px;
}

.foto-artista {
    width: 150px;
    height: 150px;
    cursor: pointer;
    border-radius: 25px;  /* Esto hace la imagen con bordes circulares */
    object-fit: cover;   /* Ajusta la imagen sin deformarla */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);  /* Sombra suave */
    margin-bottom: 10px;  
}

.foto-artista:hover {
    transform: scale(1.05);
    transition: 0.4s;
}

.foto-genero {
    width: 150px;
    height: 150px;
    border-radius: 50%;  /* Esto hace la imagen circular */
    object-fit: cover;   /* Ajusta la imagen sin deformarla */
    border: 3px solid black;  /* Borde opcional */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);  /* Sombra suave */
    margin-bottom: 10px;
}

.foto-genero:hover {
    transform: scale(1.05);
    transition: 0.4s;
}

.button-ver-más {
    padding: 10px;
    cursor: pointer;
    border-radius: 25px;
    width: 100px; 
    text-align: center;
    margin-top: 10px;
}

.texto-producto {
   font-size: 1.2rem;
}

/* carrusel de canciones por genero */
#canciones-filtradas-placeholder {
    display: none;
    overflow-x: scroll;
    padding: 20px 0 0 0;
    margin-top: 20px;
}

#canciones-filtradas-placeholder .carrusel-container {
    display: flex;
    gap: 20px; /* Espaciado entre las canciones */
    padding-bottom: 20px;
    justify-content: center; /* <--- Esta línea centra todo el carrusel */
}

#canciones-filtradas-placeholder .song-item {
    text-align: center;
    flex-shrink: 0;
    width: 200px; /* Ajusta el tamaño del item como quieras */
}

.texto-producto,
.texto-artista {
    text-align: center;  /* Aseguramos que el texto esté centrado */
    margin: 0;           /* Eliminar márgenes adicionales si es necesario */
}

/* carrusel de nuevos lanzamientos */
#carrusel-nuevos-lanzamientos {
    display: flex;
    justify-content: center; /* Centra todos los items del carrusel en el eje horizontal */
    gap: 20px;
    flex-wrap: wrap; /* Por si quieres que hagan salto de línea en pantallas pequeñas */
    padding: 20px 0;
}

#carrusel-nuevos-lanzamientos > div,
#canciones-filtradas-placeholder > div {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centra imagen, texto y botón en el eje horizontal */
    text-align: center;
}