main {
    margin: 0;
    box-sizing: border-box;
    padding: 20px;
    flex: 1;
    display: flex;
    flex-direction: column;
}

hr {
    width: 85%;
    border: 1px solid #B1B2B5;
    margin-top: 10px;
    margin-bottom: 10px;
}

button {
    margin-top: 5px;
    margin-bottom: 5px;
    width: 70%;
}

.div-pannel-sub {
    margin: auto;
    max-width: 70%;
    min-width: 30%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 15px;
}

.dark-mode .login {
    background-color: #111111;
}

.form {
    margin: auto;
    width: 90%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contrast-btn {
    width: 64px;
    height: 64px;
}
