/* ==========================================================
    ---------------------- MODO OSCURO ----------------------
   ========================================================== */

/* Aplica el modo oscuro cuando el body tenga la clase "dark-mode" */
.dark-mode {
    background-color: #000000;
    color: white;
}

.dark-mode main {
    background-color: #000000;
}

/* ========================
    BOTONES EN MODO OSCURO
   ======================== */
.dark-mode button {
    background: white;
    color: black;
    border: 0.0625rem solid white;
}

.dark-mode button:hover {
    background: white;
}

.dark-mode .button-alt {
    background: transparent;
    color: white;
    border: 0.0625rem solid white;
}

.dark-mode .button-alt:hover {
    background: transparent;
}

/* ========================
    INPUTS EN MODO OSCURO
   ======================== */

.dark-mode input, textarea {
    background: #1a1a1a;
    color: white;
    border: 1px solid #444;
}

/* ================================
    TEXTO Y TÍTULOS EN MODO OSCURO
   ================================ */
.dark-mode h1,
.dark-mode h2,
.dark-mode h3,
.dark-mode h4,
.dark-mode h5,
.dark-mode h6 {
    color: white;
}

/* Ajuste en el footer */
.dark-mode .footer-column h3 {
    color: #f8f9fa;
}

/* =========================
    ENLACES EN MODO OSCURO
   ========================= */
.dark-mode a {
    color: #71a7ff;
}

.dark-mode a:hover {
    color: #f8f9fa;
}

/* ========================
    PANELES EN MODO OSCURO
   ======================== */

/* Background oscuro que todas las pantallas deberían llevar, independientemente de lo que sean */
.dark-mode .div-bg {
    background-color: #111111;
}

/* Dibuja un panel principal */
.dark-mode .div-pannel {
    background-color: #222222;
    border: 1px solid #555555;
    box-shadow: 0 0 10px #444444;
}

/* Dibuja un panel secundario más clarito */
.dark-mode .div-pannel-sub {
    background-color: #333333;
    border: 1px solid #555555;
    box-shadow: 0 0 10px #444444;
}

/* Linea horizontal blanca */
.dark-mode hr {
    border: 1px solid #B1B2B5;
}

.dark-mode .div-carrusel {
    border: 2px solid white;
}

/* =============================
    PANELES DEL SISTEMA OSCUROS
   ============================= */

.dark-mode .div-success {
    background-color: #333333;
    color: white;
    border: 3px solid rgb(132, 255, 39);
}

.dark-mode .div-error {
    background-color: #333333;
    color: white;
    border: 3px solid rgb(255, 0, 0);
}

.dark-mode .div-warn {
    background-color: #333333;
    color: white;
    border: 3px solid yellow;
}