/* ==========================================================
    ------------------------ HEADER ------------------------
   ========================================================== */

header {
    background-color: white;
    border-bottom: 2px solid #ccc;
}

.nav-top,
.nav-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1rem;
    margin: auto;
    background-color: white;
}

.auth-buttons {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.nav-top .container {
    width: 15%;
    height: auto;
    padding-left: 20px;
}

.profile-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.nav-top .logo {
    height: 65px;
    transition: transform 0.3s ease-in-out;
}

.profile-picture {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.nav-top .shop {
    width: 42px;
    transform: scale(1.1);
    transition: transform 0.3s ease-in-out;
    padding-right: 8px;
}

.search-bar {
    border: 1px solid #ccc;
    background-color: white;
    box-shadow: none;
    border-radius: 5px;
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
    max-width: 35%;
    width: 100%;
}

.search-bar input {
    padding: 8px;
}

.search-bar button {
    padding: 8px;
}

.nav-bottom {
    justify-content: flex-start;
    border-top: 2px solid #ccc;
}

.nav-bottom ul {
    list-style: none;
    display: flex;
    gap: 25px;
}

.nav-bottom li a {
    display: flex;
    align-items: center;
    gap: 6px;
    font-weight: 500;
}

.nav-bottom li a .theme-icon {
    width: 20px;
    height: 20px;
    vertical-align: middle;
}

#search-suggestions {
    position: absolute;
    background-color: white;
    border: 1px solid #ccc;
    max-height: 200px;
    overflow-y: auto;
    z-index: 1000;
    width: 100%;
    display: none; /* Oculto por defecto */
}

.suggestion-item {
    padding: 10px;
    cursor: pointer;
}

.suggestion-item:hover {
    background-color: #eee;
}

/* =======================
    HEADER EN MODO OSCURO
   ======================= */
.dark-mode header,
.dark-mode .nav-top {
    background-color: #000000;
    border-bottom: 0.125rem solid #333;
}

.dark-mode .nav-bottom {
    border-top: 0.125rem solid #333;
    background-color: #111111;
}

.dark-mode .italic-text {
    background: white;
    color: black;
}