/* ==========================================================
    ---------------------- MODO OSCURO ----------------------
   ========================================================== */

   .dark-mode {
    background-color: #000000;
    color: white;
}

/* =======================
    HEADER EN MODO OSCURO
   ======================= */
.dark-mode header,
.dark-mode .nav-top {
    background-color: #000000;
    border-bottom: 0.125rem solid #333;
}

.dark-mode .nav-bottom {
    border-top: 0.125rem solid #333;
    background-color: #111111;
}

/* Logo */
.dark-mode .nav-top .logo {
    background-color: white;
    color: black;
}

.dark-mode .italic-text {
    background: white;
    color: black;
}

/* ========================
    BOTONES EN MODO OSCURO
   ======================== */
.dark-mode button {
    background: white;
    color: black;
    border: 0.0625rem solid white;
}

.dark-mode button:hover {
    background: white;
}

.dark-mode .button-alt {
    background: transparent;
    color: white;
    border: 0.0625rem solid white;
}

.dark-mode .button-alt:hover {
    background: transparent;
}

/* ================================
    TEXTO Y TÍTULOS EN MODO OSCURO
   ================================ */
.dark-mode h1, 
.dark-mode h2, 
.dark-mode h3, 
.dark-mode h4, 
.dark-mode h5, 
.dark-mode h6 {
    color: white;
}

/* Ajuste en el footer */
.dark-mode .footer-column h3 {
    color: #f8f9fa;
}

/* =========================
    ENLACES EN MODO OSCURO
   ========================= */
.dark-mode a {
    color: #71a7ff;
}

.dark-mode a:hover {
    color: #f8f9fa;
}

/* ========================
    FOOTER EN MODO OSCURO
   ======================== */
.dark-mode .footer {
    background-color: #111111;
    border-top: 0.125rem solid #333;
    color: white;
}

.dark-mode .footer-copyright {
    color: #ccc;
    border-top: 0.0625rem solid #444;
}

/* ========================
    PANELES EN MODO OSCURO
   ======================== */

   /* Background oscuro que todas las pantallas deberían llevar, independientemente de lo que sean */
.dark-mode .div-bg {
    background-color: #111111;
}

/* Dibuja un panel principal */
.dark-mode .div-pannel {
    background-color: #222222;
    border-color: #aaaaaa;
}

/* Dibuja un panel secundario más clarito */
.dark-mode .div-pannel-sub {
    background-color: #333333;
    border-color: #aaaaaa;
}

/* Linea horizontal blanca */
.dark-mode hr {
    border: 1px solid #B1B2B5;
}