/* ==========================================================
    ---------------------- MODO OSCURO ----------------------
   ========================================================== */

/* Aplica el modo oscuro cuando el body tenga la clase "dark-mode" */
.dark-mode {
    background-color: #000000;
    color: white;
}

/* =======================
    HEADER EN MODO OSCURO
   ======================= */
.dark-mode header {
    background-color: #000000;
    border-bottom: 2px solid #333;
}

/* Barra de navegación inferior */
.dark-mode .nav-bottom {
    border-top: 2px solid #333;
    background-color: #111111;
}

/* Logo */
.dark-mode .nav-top .logo {
    background-color: white;
    color: black;
}

.dark-mode .italic-text {
    background: white;
    color: black;
}


/* ========================
    BOTONES EN MODO OSCURO
   ======================== */
.dark-mode button {
    background: white;
    color: black;
    border: 1px solid white;
}

.dark-mode button:hover {
    background: white;
}

.dark-mode .button-alt {
    background: black;
    color: white;
    border: 1px solid white;
}

.dark-mode .button-alt:hover {
    background: black;
}

/* ================================
    TEXTO Y TÍTULOS EN MODO OSCURO
   ================================ */
.dark-mode h1, 
.dark-mode h2, 
.dark-mode h3, 
.dark-mode h4, 
.dark-mode h5, 
.dark-mode h6 {
    color: white;
}

/* Corregir colores en títulos del footer para mejor visibilidad */
.dark-mode .footer-column h3 {
    color: #f8f9fa;
}

/* =========================
    ENLACES EN MODO OSCURO
   ========================= */
.dark-mode a {
    color: #71a7ff;
}

.dark-mode a:hover {
    color: #f8f9fa;
}


/* ========================
    FOOTER EN MODO OSCURO
   ======================== */
.dark-mode .footer {
    background-color: #111111;
    border-top: 2px solid #333;
    color: white;
}

/* Copyright en modo oscuro */
.dark-mode .footer-copyright {
    color: #ccc;
    border-top: 1px solid #444;
}


