/* ================
    ----HEADER-----
   ================ */

h2 {
    display: flex;
    flex-direction: column;
}

h3 {
    display: flex;
    flex-direction: column;
    padding: 1vh;
}

/* ===============
    ----INPUT-----
   =============== */

input{
    display: block;
}

/* =============
    ----MAIN----
   ============= */

main {
    padding: 2%;
    flex: 1;
    /* Permite que el main ocupe el espacio disponible */
    display: flex;
    flex-direction: column;
}


/* =======================
    ----CAJA PRINCIPAL----
   ======================= */

.box-pay {
    display: grid;
    grid-template-columns: 50% 20% 30%;
    grid-template-rows: auto;
}

.box-pay div {
    display: grid;
    grid-template-columns: 90% 10%;
}

/* =====================
    ----CAJA TARJETA----
   ===================== */

.box-pay div section {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    background: #f9f9f9aa;
    border-radius: 10px;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
    border: 1px solid #ddd;
    height: 55vh;
}

/* =============================
    ----CAJA TARJETA GRID UL----
   ============================= */

.box-pay div section ul {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 13% 10% 20% 15% 20% 17%;
    height: auto;
}

.box-pay div section ul .li-tarjeta {
    display: grid;
    grid-template-columns: 2% 3% 3% 82% 10%;
    background: #000000d9;
    border-radius: 7px;
}

.box-pay div section ul .li-tarjeta label{
    color:#ffffff;
}

.box-pay div section ul .li-nombre {
    margin-right: 10%;
    margin-left: 2%;
}

.box-pay div section ul .li-fechacod {
    display: grid;
    grid-template-columns: 42% 42%;
    grid-column-gap: 28px;
    margin-left: 2%;
}

.box-pay div section ul .li-check {
    display: grid;
    grid-template-columns: 3% 3% 92%;
    margin-left: 2%;
}

.box-pay div section ul .li-check label {
    padding: 4%;
}

.box-pay div section ul .li-button {
    display: grid;
    grid-template-columns: 45% 10% 45%;
}

/* =====================
    ----CAJA RESUMEN----
   ===================== */

.box-pay div div {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 20% 60% 20%;
    background: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
    border: 1px solid #ddd;
    height: 25vh;
}

.box-pay div div h3{
    display: grid;
    border-bottom: 1px solid black;
}

.box-pay div div b{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
    border-top: 1px solid black;
}

.box-pay div div ul{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 25% 25% 25% 25%;
    height: auto;
    text-align: center;
}

.box-pay div div ul li{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

/* ===============
    ----LISTAS----
   =============== */

 ul {
    list-style: none;
    padding: 0.1%;
}

.box-type-resum ul li {
    display: flex;
    justify-content: space-around;
    margin-left: 10%;
}

/* ================
    ----BOTONES----
   ================ */

.right-botton {
    display: flex;
    margin-right: 6vh;
    margin-top: 4vh;
}

.left-botton {
    display: flex;
    margin-left: 6vh; 
    margin-top: 4vh;
}

.dark-mode h3 {
    color: #ffffff;
}

/* ===========================
    BOX EN MODO OSCURO - PAGO
   =========================== */

.dark-mode .box-pay div section {
    border-top: 2px solid #333;
    background-color: #111111;
}

.dark-mode .box-pay div section ul .li-tarjeta {
    background: #ffffff;
}

.dark-mode .box-pay div section ul .li-tarjeta h3 {
    color: #000000;
}

/* ==============================
    BOX EN MODO OSCURO - RESUMEN
   ============================== */
.dark-mode .box-pay div div h3{
    border-bottom: 1px solid rgb(255, 255, 255);
}

.dark-mode .box-pay div div b{
    border-top: 1px solid rgb(255, 255, 255);
}

.dark-mode .box-pay div div {
    border-top: 2px solid #333;
    background-color: #111111;
}