h2 {
    display: flex;
    flex-direction: column;
    padding: 8px;
}

input{
    display: block;
}

main {
    padding: 12px;
    flex: 1;
    /* Permite que el main ocupe el espacio disponible */
    display: flex;
    flex-direction: column;
}

.box-pay {
    display: flex;
    flex-direction: row;
    width: auto;
    box-sizing: border-box;
    height: auto;
    justify-content: center;
    gap: 350px;
    background-color: white;
}

.box-type-wallet {
    display: flex;
    border: 4px solid #000;
    width: 60%;
    height: 400px;
    background-color: white;
    padding: 20px;
    flex-grow: 1;
    gap: 60px;
}

.box-type-resum {
    display: flex;
    border: 4px solid #000;
    box-sizing: border-box;
    width: 30%;
    height: 200px;
    background-color: white;
}

.pay-column table {
    list-style: none;
}

.pay-column tr {
    margin-bottom: 20px;
}

.pay-column td {
    margin-bottom: 20px;
}

