.parent {
    display: flex;
    flex-wrap: wrap;
    gap: 50px; /* Reduce el espacio entre elementos */
    align-items: center;
    justify-content: flex-start; /* Alinea los elementos a la izquierda sin espacio extra */
}



.songs-cell {
    display: flex;
    flex: 1;
    flex-direction: column; /* Organiza los elementos en una sola columna */
    align-items: center;
    max-width: 20rem;
    min-width: auto;
}

.songs-image {
    width: 90%;
    border-radius: 15px;
    border: 2px solid #111;
}

.dark-mode .songs-image {
    border: 2px solid #fff;
}

.song-info {
    display: grid;
    grid-template-rows: 2fr 1fr; /* La primera fila es el doble de alta que la segunda */
    grid-auto-flow: column; /* Infinitas columnas */
    column-gap: 15px; /* Espaciado entre los elementos */
    align-items: center; /* Centra los elementos verticalmente */
    justify-items: center; /* Centra los elementos horizontalmente */
    margin-top: 10px;
    margin-bottom: 10px;
    min-width: auto;
    overflow-wrap: break-word; /* Evita que el contenido se desborde */
}

.songs-title {
    font-size: xx-large;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
}

.song-love {
    height: 45px;
    width: 45px;
    transition: transform 0.3s ease-in-out;
}

.dark-mode .song-love {
    height: 45px;
    width: 45px;
    transition: transform 0.3s ease-in-out;
}

.song-comment{
    height: 40px; 
    width: 40px;
    transition: transform 0.3s ease-in-out;
}

.dark-mode .song-comment {
    height: 40px;
    width: 40px;
    transition: transform 0.3s ease-in-out;
}

.song-view {
    height: 40px; 
    width: 40px;
    transition: transform 0.3s ease-in-out;
}

.dark-mode .song-view {
    height: 40px;
    width: 40px;
    transition: transform 0.3s ease-in-out;
}

.song-info .song-visible {
    height: 45px;
    width: 45px;
    transition: transform 0.3s ease-in-out;
}

.dark-mode .song-visible {
    height: 45px;
    width: 45px;
    transition: transform 0.3s ease-in-out;
}

.delete-btn {
    align-self: flex-end;
    margin: -10px -10px 10px 0px;
    background-color: #ff4646;
    height: 38px;
    width: 38px;
    transition: transform 0.3s ease-in-out;
    text-align: left;
    padding-left: 9px; /* Shift text inside the button 9 pixels to the left */
}

.delete-btn:hover {
    background-color: #d73b3b;;
}

.add-btn {
    align-self: right;
    margin: -10px -10px 10px 0px;
    background-color: #46ff7e;
    height: 100%;
    transition: transform 0.3s ease-in-out;
    text-align: left;
    padding-left: 9px; /* Shift text inside the button 9 pixels to the left */
}

.add-btn:hover {
    background-color: #34c660;
}

.dark-mode .delete-btn {
    background-color: #ff4646;
}

.dark-mode .add-btn {
    background-color: #46ff7e;
}





