.parent {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr)); /* Ajusta dinámicamente el número de columnas */
    gap: 20px; /* Espaciado entre filas y columnas */
    align-items: center; /* Centra los elementos verticalmente */
    justify-items: center; /* Centra los elementos horizontalmente */
    width: 100%; /* Asegura que ocupe todo el ancho disponible */
}

.songs-cell {
    display: flex;
    flex-direction: column; /* Organiza los elementos en una sola columna */
    align-items: center;
    max-width: 20rem;
    min-width: auto;
}

.songs-image {
    width: 90%;
    border-radius: 15px;
    border: 2px solid #111;
}

.dark-mode .songs-image {
    border: 2px solid #fff;
}

.song-info {
    display: grid;
    grid-template-rows: 2fr 1fr; /* La primera fila es el doble de alta que la segunda */
    grid-auto-flow: column; /* Infinitas columnas */
    column-gap: 15px; /* Espaciado entre los elementos */
    align-items: center; /* Centra los elementos verticalmente */
    justify-items: center; /* Centra los elementos horizontalmente */
    margin-top: 10px;
    margin-bottom: 10px;
    min-width: auto;
    overflow-wrap: break-word; /* Evita que el contenido se desborde */
}

.songs-title {
    font-size: xx-large;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
}

.song-love {
    height: 45px;
    width: 45px;
    transition: transform 0.3s ease-in-out;
}

.dark-mode .song-love {
    height: 45px;
    width: 45px;
    transition: transform 0.3s ease-in-out;
}

.song-comment{
    height: 40px; 
    width: 40px;
    transition: transform 0.3s ease-in-out;
}

.dark-mode .song-comment {
    height: 40px;
    width: 40px;
    transition: transform 0.3s ease-in-out;
}

.song-view {
    height: 40px; 
    width: 40px;
    transition: transform 0.3s ease-in-out;
}

.dark-mode .song-view {
    height: 40px;
    width: 40px;
    transition: transform 0.3s ease-in-out;
}

.song-info .song-visible {
    height: 45px;
    width: 45px;
    transition: transform 0.3s ease-in-out;
}

.dark-mode .song-visible {
    height: 45px;
    width: 45px;
    transition: transform 0.3s ease-in-out;
}







