<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8"> <!-- Codificación de caracteres -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> <!-- Escalabilidad de la página -->
    <meta name="author" content="L1-G4">
    <title>Perfil</title> <!-- Título que aparece en la pestaña del navegador -->
    <!-- Estilos -->
    <link rel="stylesheet" href="/static/css/base/style.css"> <!-- Hoja de estilos principal -->
    <link rel="stylesheet" href="/static/css/base/darkmode.css"> <!-- Hoja de estilo de modo oscuro -->
    <link rel="stylesheet" href="/static/css/base/header.css"> <!-- Hoja de estilo del header -->
    <link rel="stylesheet" href="/static/css/base/footer.css"> <!-- Hoja de estilo del footer -->
    <link rel="stylesheet" href="/static/css/user/profile.css"> <!-- Hoja de estilo del perfil -->
    <!-- Favicon -->
    <link rel="icon" type="image/png" href="/static/icons/favicons/favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/svg+xml" href="/static/icons/favicons/favicon.svg" />
    <link rel="shortcut icon" href="/static/icons/favicons/favicon.ico" />
    <link rel="apple-touch-icon" sizes="180x180" href="/static/icons/favicons/apple-touch-icon.png" />
    <meta name="apple-mobile-web-app-title" content="UnderSounds" />
    <link rel="manifest" href="/static/icons/favicons/site.webmanifest" />
    <script src="https://www.gstatic.com/firebasejs/9.6.10/firebase-app-compat.js"></script>
    <script src="https://www.gstatic.com/firebasejs/9.6.10/firebase-auth-compat.js"></script>
</head>

<body>

    <!-- Barra de navegación -->
    <div id="header-placeholder"></div>

    <!-- Contenido principal -->
    <main>
        <div class="div-bg">
            <div class="grid-container">

                <div style="grid-area: 1 / 1 / 2 / 2;">
                    <div class="div-pannel" style="height: 100%;">
                        <div class="grid-content">
                            <p style="font-size: 10rem; word-break: break-all;">Panel dinámico</p>
                        </div>
                    </div>
                </div>

                <div style="grid-area: 1 / 2 / 2 / 3;">

                    <div class="grid-content-narrow-row" style="justify-content: flex-start;">
                        <img src=" {{ user.imagen }}" alt="Imagen de perfil"
                            style="width: 96px; border-radius: 50%;">
                        <h1 style="font-size: 3rem;">Bienvenido de vuelta, {{ user.nombre }}</h1>
                        <button onclick="logout()" style="margin: 20px 20px 20px 20px; width: 15%; background-color: #ff4646;">Cerrar
                            sesión</button>
                    </div>
                    <br>

                    <div class="div-pannel">
                        <div class="grid-content">
                            <h1>Información personal</h1>
                            <form class="grid-form">
                                <div class="grid-content-narrow" style="grid-area: 1 / 1 / 2 / 2;">
                                    <label for="name">Nombre completo</label>
                                    <input style="width: 100%;" type="text" id="name" name="name"
                                        placeholder="Nombre y apellidos" value="{{ user.nombre }}">
                                </div>
                                <div class="grid-content-narrow" style="grid-area: 1 / 2 / 2 / 3;">
                                    <label for="email">Correo electrónico</label>
                                    <input type="email" id="email" name="email" placeholder="Correo electrónico" value="{{ user.email }}">
                                </div>
                                <div class="grid-content-narrow" style="grid-area: 1 / 3 / 2 / 4;">
                                    <label for="telf">Enlaces sociales</label>
                                    <input type="tel" id="telf" name="telf" placeholder="Enlace de red social" value="{{ user.url }}">
                                </div>
                                <div class="grid-content-narrow" style="grid-area: 1 / 4 / 2 / 5; align-items: center;">
                                    <img src="/static/img/utils/under-sounds-cover.webp" alt="Imagen de perfil" style="width: 96px;">
                                    Subir imagen
                                </div>
                                <div class="grid-content-narrow" style="grid-area: 2 / 1 / 3 / 5;">
                                    <label for="msg">Acerca de mi</label>
                                    <textarea class="textarea" rows="6" cols="40" style="resize: none;"placeholder="Cuéntanos sobre ti">{{ user.bio }}</textarea>
                                    <br>
                                    <button style="align-self: center; width: 30%;" type="submit">Guardar cambios</button>
                                </div>
                            </form>
                        </div>
                    </div>

                    <br>

                    <div class="div-pannel">
                        <div class="grid-content">
                            <h1>Mi biblioteca</h1>
                            <div class="grid-biblioteca">
                                <div class="div-pannel-sub songs-cell">
                                    <img src="/static/img/artists/stromae-song-01.webp" class="songs-image"
                                        alt="Song Image">
                                    <h3>Título canción</h3>
                                    <p>Álbum · Artista</p>
                                    <a href="/song" style="width: 100%;"><button
                                            style="width: 100%;">Ver canción</button></a>
                                </div>
                                <div class="div-pannel-sub songs-cell">
                                    <img src="/static/img/artists/stromae-song-01.webp" class="songs-image"
                                        alt="Song Image">
                                    <h3>Título canción</h3>
                                    <p>Álbum · Artista</p>
                                    <a href="/song" style="width: 100%;"><button
                                            style="width: 100%;">Ver canción</button></a>
                                </div>
                                <div class="div-pannel-sub songs-cell">
                                    <img src="/static/img/artists/stromae-song-01.webp" class="songs-image"
                                        alt="Song Image">
                                    <h3>Título canción</h3>
                                    <p>Álbum · Artista</p>
                                    <a href="/song" style="width: 100%;"><button
                                            style="width: 100%;">Ver canción</button></a>
                                </div>
                                <div class="div-pannel-sub songs-cell">
                                    <img src="/static/img/artists/stromae-song-01.webp" class="songs-image"
                                        alt="Song Image">
                                    <h3>Título canción</h3>
                                    <p>Álbum · Artista</p>
                                    <a href="/song" style="width: 100%;"><button
                                            style="width: 100%;">Ver canción</button></a>
                                </div>
                                <div class="div-pannel-sub songs-cell">
                                    <img src="/static/img/artists/stromae-song-01.webp" class="songs-image"
                                        alt="Song Image">
                                    <h3>Título canción</h3>
                                    <p>Álbum · Artista</p>
                                    <a href="/song" style="width: 100%;"><button
                                            style="width: 100%;">Ver canción</button></a>
                                </div>
                                <div class="div-pannel-sub songs-cell">
                                    <img src="/static/img/artists/stromae-song-01.webp" class="songs-image"
                                        alt="Song Image">
                                    <h3>Título canción</h3>
                                    <p>Álbum · Artista</p>
                                    <a href="/song" style="width: 100%;"><button
                                            style="width: 100%;">Ver canción</button></a>
                                </div>
                                <div class="div-pannel-sub songs-cell">
                                    <img src="/static/img/artists/stromae-song-01.webp" class="songs-image"
                                        alt="Song Image">
                                    <h3>Título canción</h3>
                                    <p>Álbum · Artista</p>
                                    <a href="/song" style="width: 100%;"><button
                                            style="width: 100%;">Ver canción</button></a>
                                </div>
                            </div>
                            <br>
                        </div>
                    </div>
                    <br>

                    <div class="div-pannel">
                        <div class="grid-content">
                            <h1>Listas de reproducción</h1>
                            <br>
                            <h2>MiLista</h2>
                            <div class="div-carrusel div-pannel-sub">
                                <div class="grid-content-narrow-row">
                                    <img src="/static/img/utils/under-sounds-cover.webp" alt="placeholder"
                                        style="width: 96px;">
                                    <img src="/static/img/utils/under-sounds-cover.webp" alt="placeholder"
                                        style="width: 96px;">
                                    <img src="/static/img/utils/under-sounds-cover.webp" alt="placeholder"
                                        style="width: 96px;">
                                    <img src="/static/img/utils/under-sounds-cover.webp" alt="placeholder"
                                        style="width: 96px;">
                                    <img src="/static/img/utils/under-sounds-cover.webp" alt="placeholder"
                                        style="width: 96px;">
                                    <img src="/static/img/utils/under-sounds-cover.webp" alt="placeholder"
                                        style="width: 96px;">
                                    <img src="/static/img/utils/under-sounds-cover.webp" alt="placeholder"
                                        style="width: 96px;">
                                    <img src="/static/img/utils/under-sounds-cover.webp" alt="placeholder"
                                        style="width: 96px;">
                                    <img src="/static/img/utils/under-sounds-cover.webp" alt="placeholder"
                                        style="width: 96px;">
                                    <img src="/static/img/utils/under-sounds-cover.webp" alt="placeholder"
                                        style="width: 96px;">
                                    <img src="/static/img/utils/under-sounds-cover.webp" alt="placeholder"
                                        style="width: 96px;">
                                    <img src="/static/img/utils/under-sounds-cover.webp" alt="placeholder"
                                        style="width: 96px;">
                                    <img src="/static/img/utils/under-sounds-cover.webp" alt="placeholder"
                                        style="width: 96px;">
                                    <img src="/static/img/utils/under-sounds-cover.webp" alt="placeholder"
                                        style="width: 96px;">
                                    <img src="/static/img/utils/under-sounds-cover.webp" alt="placeholder"
                                        style="width: 96px;">
                                    <img src="/static/img/utils/under-sounds-cover.webp" alt="placeholder"
                                        style="width: 96px;">
                                </div>
                            </div>
                            <br>
                            <h2>MiLista2</h2>
                            <div class="div-carrusel div-pannel-sub">
                                <div class="grid-content-narrow-row">
                                    <img src="/static/img/utils/under-sounds-cover.webp" alt="placeholder"
                                        style="width: 96px;">
                                    <img src="/static/img/utils/under-sounds-cover.webp" alt="placeholder"
                                        style="width: 96px;">
                                    <img src="/static/img/utils/under-sounds-cover.webp" alt="placeholder"
                                        style="width: 96px;">
                                    <img src="/static/img/utils/under-sounds-cover.webp" alt="placeholder"
                                        style="width: 96px;">
                                    <img src="/static/img/utils/under-sounds-cover.webp" alt="placeholder"
                                        style="width: 96px;">
                                    <img src="/static/img/utils/under-sounds-cover.webp" alt="placeholder"
                                        style="width: 96px;">
                                    <img src="/static/img/utils/under-sounds-cover.webp" alt="placeholder"
                                        style="width: 96px;">
                                    <img src="/static/img/utils/under-sounds-cover.webp" alt="placeholder"
                                        style="width: 96px;">
                                    <img src="/static/img/utils/under-sounds-cover.webp" alt="placeholder"
                                        style="width: 96px;">
                                    <img src="/static/img/utils/under-sounds-cover.webp" alt="placeholder"
                                        style="width: 96px;">
                                    <img src="/static/img/utils/under-sounds-cover.webp" alt="placeholder"
                                        style="width: 96px;">
                                    <img src="/static/img/utils/under-sounds-cover.webp" alt="placeholder"
                                        style="width: 96px;">
                                    <img src="/static/img/utils/under-sounds-cover.webp" alt="placeholder"
                                        style="width: 96px;">
                                    <img src="/static/img/utils/under-sounds-cover.webp" alt="placeholder"
                                        style="width: 96px;">
                                    <img src="/static/img/utils/under-sounds-cover.webp" alt="placeholder"
                                        style="width: 96px;">
                                    <img src="/static/img/utils/under-sounds-cover.webp" alt="placeholder"
                                        style="width: 96px;">
                                </div>
                            </div>
                            <br>
                            <h2>MiLista3</h2>
                            <div class="div-carrusel div-pannel-sub">
                                <div class="grid-content-narrow-row">
                                    <img src="/static/img/utils/under-sounds-cover.webp" alt="placeholder"
                                        style="width: 96px;">
                                    <img src="/static/img/utils/under-sounds-cover.webp" alt="placeholder"
                                        style="width: 96px;">
                                    <img src="/static/img/utils/under-sounds-cover.webp" alt="placeholder"
                                        style="width: 96px;">
                                    <img src="/static/img/utils/under-sounds-cover.webp" alt="placeholder"
                                        style="width: 96px;">
                                    <img src="/static/img/utils/under-sounds-cover.webp" alt="placeholder"
                                        style="width: 96px;">
                                    <img src="/static/img/utils/under-sounds-cover.webp" alt="placeholder"
                                        style="width: 96px;">
                                    <img src="/static/img/utils/under-sounds-cover.webp" alt="placeholder"
                                        style="width: 96px;">
                                    <img src="/static/img/utils/under-sounds-cover.webp" alt="placeholder"
                                        style="width: 96px;">
                                    <img src="/static/img/utils/under-sounds-cover.webp" alt="placeholder"
                                        style="width: 96px;">
                                    <img src="/static/img/utils/under-sounds-cover.webp" alt="placeholder"
                                        style="width: 96px;">
                                    <img src="/static/img/utils/under-sounds-cover.webp" alt="placeholder"
                                        style="width: 96px;">
                                    <img src="/static/img/utils/under-sounds-cover.webp" alt="placeholder"
                                        style="width: 96px;">
                                    <img src="/static/img/utils/under-sounds-cover.webp" alt="placeholder"
                                        style="width: 96px;">
                                    <img src="/static/img/utils/under-sounds-cover.webp" alt="placeholder"
                                        style="width: 96px;">
                                    <img src="/static/img/utils/under-sounds-cover.webp" alt="placeholder"
                                        style="width: 96px;">
                                    <img src="/static/img/utils/under-sounds-cover.webp" alt="placeholder"
                                        style="width: 96px;">
                                </div>
                            </div>
                        </div>
                    </div>

                    <br>

                    <div class="div-pannel">
                        <div class="grid-content">
                            <h1>Ajustes de seguridad</h1>
                            <br>
                            <div class="grid-warn-zone">
                                <div style="grid-area: 1 / 1 / 2 / 2;">
                                    <button style="width: 100%;">Cambiar contraseña</button>
                                </div>
                                <div style="grid-area: 1 / 2 / 2 / 3;">
                                    <label>Solicita un cambio de contraseña a tu correo electrónico.</label>
                                </div>
                                <div style="grid-area: 2 / 1 / 3 / 2;">
                                    <button style="width: 100%;">Cambiar correo electrónico</button>
                                </div>
                                <div style="grid-area: 2 / 2 / 3 / 3;">
                                    <label>Solicita un cambio de correo electrónico. Necesitarás acceso a tu correo
                                        electrónico anterior.</label>
                                </div>
                                <div style="grid-area: 3 / 1 / 4 / 2;">
                                    <button onclick="unregister()" style="width: 100%; background-color: #ff4646;">Cerrar cuenta</button>
                                </div>
                                <div style="grid-area: 3 / 2 / 4 / 3;">
                                    <label>Cierra la cuenta permanentemente y elimina todos tus datos. Tendrás 14 días
                                        de margen antes de la eliminación sea efectiva por si cambias de
                                        opinión.</label>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </main>

    <!-- Pie de página -->
    <div id="footer-placeholder"></div>

    <!-- Scripts -->
    <script src="/static/js/header.js"></script>
    <script src="/static/js/footer.js"></script>
    <script src="/static/js/dark-mode.js"></script>

    <script>
        const firebaseConfig = {
            apiKey: "{{ API_CREDENTIALS.API_KEY }}",
            authDomain: "{{ API_CREDENTIALS.AUTH_DOMAIN }}",
            projectId: "{{ API_CREDENTIALS.PROJECT_ID }}",
            storageBucket: "{{ API_CREDENTIALS.STORAGE_BUCKET }}",
            messagingSenderId: "{{ API_CREDENTIALS.MESSAGING_SENDER_ID }}",
            appId: "{{ API_CREDENTIALS.APP_ID }}",
        };
        
        firebase.initializeApp(firebaseConfig);
        const auth = firebase.auth();

        function logout() {
            if (confirm('¿Estás seguro de que deseas cerrar sesión?')) {
            fetch("/logout", { method: "POST" })
                .then(response => response.json())
                .then(data => {
                if (data.success) {
                    auth.signOut().then(() => {});
                    window.location.href = "/";
                }
                }).catch(error => {
                console.error("Error al cerrar sesión en Firebase:", error);
                });
            }
        }

        function unregister() {
            if (confirm('¿Estás seguro de que deseas cerrar tu cuenta? Esta acción es irreversible.')) {
            fetch("/unregister", { 
                method: "POST", 
                headers: { "Content-Type": "application/json" },
                body: JSON.stringify({ confirm: true })
            })
            .then(response => response.json())
            .then(data => {
                if (data.success) {
                alert('Tu cuenta ha sido cerrada exitosamente.');
                window.location.href = "/";
                } else {
                alert('Hubo un problema al cerrar tu cuenta. Inténtalo de nuevo más tarde.');
                }
            })
            .catch(error => {
                console.error("Error al cerrar la cuenta:", error);
                alert('Ocurrió un error inesperado. Inténtalo de nuevo más tarde.');
            });
            }
        }

    </script>

</body>

</html>