<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8"> <!-- Codificación de caracteres -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> <!-- Escalabilidad de la página -->
    <meta name="author" content="L1-G4">
    <title>Studio</title> <!-- Título que aparece en la pestaña del navegador -->
    <!-- Estilos -->
    <link rel="stylesheet" href="/static/css/base/style.css"> <!-- Hoja de estilos principal -->
    <link rel="stylesheet" href="/static/css/base/darkmode.css"> <!-- Hoja de estilo de modo oscuro -->
    <link rel="stylesheet" href="/static/css/base/header.css"> <!-- Hoja de estilo del header -->
    <link rel="stylesheet" href="/static/css/base/footer.css"> <!-- Hoja de estilo del footer -->
    <link rel="stylesheet" href="/static/css/user/studio.css"> <!-- Hoja de estilos de la página studio -->
    <!-- Favicon -->
    <link rel="icon" type="image/png" href="/static/icons/favicons/favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/svg+xml" href="/static/icons/favicons/favicon.svg" />
    <link rel="shortcut icon" href="/static/icons/favicons/favicon.ico" />
    <link rel="apple-touch-icon" sizes="180x180" href="/static/icons/favicons/apple-touch-icon.png" />
    <meta name="apple-mobile-web-app-title" content="UnderSounds" />
    <link rel="manifest" href="/static/icons/favicons/site.webmanifest" />
</head>

<body>

    <!-- Barra de navegación -->
    <div id="header-placeholder"></div>

    <!-- Contenido principal -->
    <main>
        <div class="div-bg">
            <br>
            
            <div class="div-pannel" style="width: 80%; align-items: center;">
                <p class="songs-title">Tus Álbumes</p>
                <div class="parent">

                    <div class="div-pannel-sub songs-cell">
                        <img src="/static/img/albums/album-05.webp" class="songs-image" alt="Song Image">
                        <b style="font-size: 1.3rem;">Título álbum</b>
                        <p>Artista</p>

                        <div class="song-info">
                            <div style="text-align: center;">
                                <img src="/static/icons/site/favourite-icon-light.svg" class="song-love" alt="Fav">
                                <div>120</div>
                            </div>
                            <div style="text-align: center;">
                                <img src="/static/icons/site/views-icon-light.svg" class="song-view" alt="Views">
                                <div>1000</div>
                            </div>
                            <div style="text-align: center;">
                                <img src="/static/icons/site/visibility-icon-light.svg" class="song-visible"
                                    alt="Visible">
                                <div>Visible</div>
                            </div>
                        </div>

                        <div class="button-array">
                            <button type="button" style="background-color: white;" onclick="window.location.href='/song?id='">🔗</button>
                            <button type="button" style="background-color: #ff4646;" onclick="removeSong('')">🗑️</button>
                            <button type="button" style="background-color: #0077ff;" onclick="window.location.href='/edit-song?id='">✏️</button>
                        </div>
                    </div>
                    <a href="/upload-album">
                        <button class="add-btn">➕ Añadir álbum</button>
                    </a>
                </div>
                <br>
            </div>

            <br>
            <br>

            <div class="div-pannel" style="width: 80%; align-items: center;">
                <p class="songs-title">Tus Canciones</p>
                <div class="parent">
                    
                    <div class="div-pannel-sub songs-cell">
                        <img src="/static/img/albums/album-03.webp" class="songs-image" alt="Song Image">
                        <b style="font-size: 1.3rem;">Título canción</b>
                        <p>Álbum · Artista</p>

                        <div class="song-info">
                            <div style="text-align: center;">
                                <img src="/static/icons/site/favourite-icon-light.svg" class="song-love" alt="Fav">
                                <div>120</div>
                            </div>
                            <div style="text-align: center;">
                                <img src="/static/icons/site/comment-icon-light.svg" class="song-comment" alt="Comments">
                                <div>45</div>
                            </div>
                            <div style="text-align: center;">
                                <img src="/static/icons/site/views-icon-light.svg" class="song-view" alt="Views">
                                <div>1000</div>
                            </div>
                            <div style="text-align: center;">
                                <img src="/static/icons/site/visibility-icon-light.svg" class="song-visible"
                                    alt="Visible">
                                <div>Visible</div>
                            </div>
                        </div>

                        <div class="button-array">
                            <button type="button" style="background-color: white;" onclick="window.location.href='/song?id='">🔗</button>
                            <button type="button" style="background-color: #ff4646;" onclick="removeSong('')">🗑️</button>
                            <button type="button" style="background-color: #0077ff;" onclick="window.location.href='/edit-song?id='">✏️</button>
                        </div>
                    </div>

                    <a href="/upload-song">
                        <button class="add-btn">➕ Añadir canción</button>
                    </a>
                
                </div>
                <br>
            </div>

            <br>
    </main>

    <!-- Pie de página -->
    <div id="footer-placeholder"></div>

    <!-- Scripts -->
    <script src="/static/js/header.js"></script>
    <script src="/static/js/footer.js"></script>
    <script src="/static/js/dark-mode.js"></script>

</body>

</html>